flows/Tesla_CAT.json
[
    {
        "id": "1073cb1121328c0b",
        "type": "tab",
        "label": "Tesla CAT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a743916634367658",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "geofence",
        "func": "let previous_fence = flow.get('geofence');\nlet new_fence = msg.payload;\n//flow.set('geofence',new_fence);\nmsg.topic = '';\n\nif(previous_fence !== new_fence){\n    if(previous_fence !== \"\"){\n        msg.topic = `surt de la zona <b>${previous_fence}</b>`;\n    }\n    if(new_fence !== \"\"){\n        if(previous_fence !== \"\"){\n            msg.topic += ' y ';\n        }\n        msg.topic += `entra a la zona <b>${new_fence}</b>`;\n    }\n} else return null;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set('geofence','Casa');",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "4d672796471aeaf2"
            ]
        ]
    },
    {
        "id": "4d672796471aeaf2",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Format message",
        "func": "let display_name = flow.get('display_name');\n\nmsg.payload = {\n    chatId: flow.get('telegram_chatId'),\n    type: 'message',\n    content: `<b>${display_name}</b> ${msg.topic}`\n}\nmsg.payload.options = {\n    parse_mode : \"HTML\", \n    disable_web_page_preview: true\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 140,
        "wires": [
            [
                "ff0c62eaa1d15160"
            ]
        ]
    },
    {
        "id": "ff0c62eaa1d15160",
        "type": "telegram sender",
        "z": "1073cb1121328c0b",
        "name": "Status messages",
        "bot": "459d96c62d8d6e7e",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1050,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e571fd9102e849b4",
        "type": "switch",
        "z": "1073cb1121328c0b",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "state",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "geofence",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "time_to_full_charge",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "update_version",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "elevation",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "is_climate_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "charger_power",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "battery_level",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "power",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 9,
        "x": 270,
        "y": 380,
        "wires": [
            [
                "aaf9072cd7806e8d",
                "cc2b6b835d2c23c6",
                "f04031b25551e6dd",
                "6608b3f40a7cc00c",
                "48660f4f28ee34e1",
                "40e44b9916d8172c",
                "f26d6240c150c236",
                "887aa94523f551d0",
                "256bab6b1a88bfb9",
                "87860e312bb654fd"
            ],
            [],
            [],
            [
                "a75b26d60fbf3304"
            ],
            [
                "f288aa8d393a412d"
            ],
            [
                "b51f2b4b8481c8ed"
            ],
            [
                "466d2d64cf428679"
            ],
            [
                "70d95ba58ebef14c",
                "87860e312bb654fd"
            ],
            []
        ]
    },
    {
        "id": "867d676d1c50f835",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "time to full charge",
        "func": "//node.warn(msg.topic + \": \" + msg.payload);\n\nlet previous = flow.get('time_to_full_charge');\nif(flow.get('state') !== 'charging' || \n    previous.timeleft === msg.payload){\n        //node.warn('returned from 1 ' + flow.get('state'))\n        return;\n}\n\nlet now = Math.round(Date.now()/1000);\nlet current = { timestamp: now, timeleft: msg.payload};\nlet remaining = msg.payload.split('.');\nlet minutes = Math.ceil(60 * Number(\".\" + remaining[1]));\n\n// If more than 1 hour remaining, print max 1 time per 15 minutes\nif(remaining[0] > 0 && (now - previous.timestamp)/60 <= 15)\n    return;\n// If less than 1 hour remaining, print max 1 time per 5 minutes\nif(remaining[0] == 0 && (now - previous.timestamp)/60 < 5)\n    return;\n    \nlet how_long = \"\";\nif(remaining[0] > 0){\n    how_long = `${remaining[0]} hores ${minutes} minuts`\n} else {\n    how_long = `${minutes} minuts`\n}\nflow.set('time_to_full_charge',current);\nmsg.topic = `estarà carregat en <b>${how_long}</b>`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set('time_to_full_charge',{timestamp:0,timeleft:0});\n",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 180,
        "wires": [
            [
                "4d672796471aeaf2"
            ]
        ]
    },
    {
        "id": "a75b26d60fbf3304",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "update",
        "func": "let payload = msg.payload;\nlet current_version = flow.get('software_current_version');\nlet new_version = flow.get('software_new_version');\n\n//node.warn(msg.topic + \": \" + msg.payload);\n\nif (payload !== \"\" && payload !== current_version && payload !== new_version) {\n    msg.topic = `🎁 té una actualització disponible: <a href=\"https://www.notateslaapp.com/software-updates/version/${payload}/release-notes\"><i>${payload}</i></a>`;\n    //flow.set('software_new_version', payload);\n} else {\n    return;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 240,
        "wires": [
            [
                "4d672796471aeaf2"
            ]
        ]
    },
    {
        "id": "94c4727fcd950a17",
        "type": "link out",
        "z": "1073cb1121328c0b",
        "name": "change-state",
        "mode": "link",
        "links": [
            "80fe506b88606239"
        ],
        "x": 635,
        "y": 60,
        "wires": []
    },
    {
        "id": "a2d226c73707dba9",
        "type": "delay",
        "z": "1073cb1121328c0b",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1840,
        "y": 180,
        "wires": [
            [
                "dbb5b36d932089b2"
            ]
        ]
    },
    {
        "id": "a06ca46b6a77300e",
        "type": "switch",
        "z": "1073cb1121328c0b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "charging",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "driving",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "parked",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "online",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 1430,
        "y": 420,
        "wires": [
            [
                "07cd76ea63ec7791"
            ],
            [
                "8316fbb624219073"
            ],
            [
                "7e123dc4cdf57e38"
            ],
            [
                "7e123dc4cdf57e38"
            ],
            [
                "0313508c4519f2f9"
            ]
        ]
    },
    {
        "id": "8316fbb624219073",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "set parameters",
        "func": "const USER_TOKEN = flow.get('abrp_user_token');\nconst CAR_MODEL = flow.get('abrp_car_model');\nconst API_KEY = flow.get('abrp_api_key');\n\nlet data = {\n    utc: Math.floor(Date.now() / 1000),\n    soc: flow.get('usable_battery_level') || 0,\n    power: flow.get('power') || 0,\n    speed: flow.get('speed') || 0,\n    lat: flow.get('latitude') || 0,\n    lon: flow.get('longitude') || 0,\n    is_charging: false,\n    is_dcfc: false,\n    is_parked: false,\n    heading: flow.get('heading') || 0,\n    elevation: flow.get('elevation') || 0,\n    ext_temp: flow.get('outside_temp') || 0,\n    voltage: flow.get('charger_voltage') || 0,\n    current: flow.get('charger_actual_current') || 0,\n    odometer: flow.get('odometer') || 0,\n    est_battery_range: flow.get('rated_battery_range_km') || 0,\n    kwh_charged: flow.get('charge_energy_added') || 0,\n    car_model: CAR_MODEL\n};\nlet state = flow.get('state');\n\nswitch(state) {\n    case 'driving':\n        data.is_parked = false\n        data.is_charging = false\n        data.is_dcfc = false\n        break;\n    case 'charging':\n        data.is_parked = true\n        data.is_charging = true\n        data.is_dcfc = true\n        break;\n    default:\n        data.is_parked = true\n        data.is_charging = false\n        data.is_dcfc = false\n}\n\nif (parseInt(flow.get('charger_power') > 0)){\n    data.is_charging = true\n}\n\nswitch (flow.get('shift_state')) {\n    case 'P':\n    case 'N':\n        data.is_parked = true\n        break;\n    case 'D':\n    case 'R':\n        data.is_parked = false\n        break;\n}\n\nif (state !== \"charging\"){\n    delete data.kwh_charged;\n    delete data.voltage;\n}\n\nmsg.headers={ \n    'Content-Type': 'application/json',\n    'Authorization': 'APIKEY ' + API_KEY\n};\n//msg.payload = {};\nmsg.payload = {tlm: data};\nmsg.userToken = USER_TOKEN;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2040,
        "y": 440,
        "wires": [
            [
                "7ae39c0594556d3a"
            ]
        ]
    },
    {
        "id": "7ae39c0594556d3a",
        "type": "http request",
        "z": "1073cb1121328c0b",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.iternio.com/1/tlm/send?token={{userToken}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2310,
        "y": 420,
        "wires": [
            [
                "e86f5c0ac9645f67"
            ]
        ]
    },
    {
        "id": "dbb5b36d932089b2",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "get car state",
        "func": "let previous_state = flow.get('previous_state');\nlet current_state = flow.get('state');\n\n//node.warn(previous_state + \" : \" + current_state);\n\nif (previous_state !== current_state){\n    flow.set('previous_state', current_state);\n    flow.set('i', 300);\n}\n\nmsg.payload = current_state;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2030,
        "y": 180,
        "wires": [
            [
                "a06ca46b6a77300e"
            ]
        ]
    },
    {
        "id": "80fe506b88606239",
        "type": "link in",
        "z": "1073cb1121328c0b",
        "name": "abrp",
        "links": [
            "94c4727fcd950a17",
            "bb89821881876683"
        ],
        "x": 1885,
        "y": 120,
        "wires": [
            [
                "dbb5b36d932089b2"
            ]
        ]
    },
    {
        "id": "0313508c4519f2f9",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "set counter",
        "func": "let i=parseInt(flow.get('i'));\ni +=1;\n\nif (i > 300){\n    i = 0;\n}\n\nflow.set('i',i);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set('previous_state', 'asleep');\nflow.set('i', -1)",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 180,
        "wires": [
            [
                "a2d226c73707dba9"
            ]
        ]
    },
    {
        "id": "ebaab1f475ccc77b",
        "type": "inject",
        "z": "1073cb1121328c0b",
        "name": "Start ABRP",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1410,
        "y": 180,
        "wires": [
            [
                "0313508c4519f2f9"
            ]
        ]
    },
    {
        "id": "e86f5c0ac9645f67",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "reset counter",
        "func": "let i=parseInt(flow.get('i'));\n\nif (i > 30){\n    flow.set('i',-1);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2090,
        "y": 300,
        "wires": [
            [
                "0313508c4519f2f9"
            ]
        ]
    },
    {
        "id": "07cd76ea63ec7791",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "delay 10 segs",
        "func": "let i=parseInt(flow.get('i'));\n\nif (i % 2 === 0){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 380,
        "wires": [
            [
                "3cdf61bb1f40c6c5"
            ]
        ]
    },
    {
        "id": "7e123dc4cdf57e38",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "delay 2,5 min",
        "func": "let i=parseInt(flow.get('i'));\n\n//node.warn(\"Valor de 'i': \" + i);\n\nif (i % 30 === 0){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 460,
        "wires": [
            [
                "3cdf61bb1f40c6c5"
            ]
        ]
    },
    {
        "id": "3cdf61bb1f40c6c5",
        "type": "switch",
        "z": "1073cb1121328c0b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1870,
        "y": 340,
        "wires": [
            [
                "8316fbb624219073"
            ],
            [
                "e86f5c0ac9645f67"
            ]
        ]
    },
    {
        "id": "77d074528e6accdf",
        "type": "mqtt in",
        "z": "1073cb1121328c0b",
        "name": "",
        "topic": "teslamate/cars/1/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "acbce132.6eef4",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "59de0db5f03e7f93"
            ]
        ]
    },
    {
        "id": "b1de2e50452fdfe0",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "short topic",
        "func": "var short_topic = msg.topic.substring(17);\nmsg.topic = short_topic;\nflow.set(msg.topic, msg.payload);\n//node.warn(msg.topic + \": \" + msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 240,
        "wires": [
            [
                "e571fd9102e849b4"
            ]
        ]
    },
    {
        "id": "a7e0664ba9de83d5",
        "type": "comment",
        "z": "1073cb1121328c0b",
        "name": "MQTT to Telegram",
        "info": "",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "9ae4d452a5f6145e",
        "type": "comment",
        "z": "1073cb1121328c0b",
        "name": "MQTT to ABRP",
        "info": "",
        "x": 1380,
        "y": 80,
        "wires": []
    },
    {
        "id": "322d47c007f727d9",
        "type": "telegram command",
        "z": "1073cb1121328c0b",
        "name": "/Start",
        "command": "/Start",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "459d96c62d8d6e7e",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": true,
        "outputs": 1,
        "x": 750,
        "y": 1340,
        "wires": [
            [
                "4e8a9c45d3c4b3d3",
                "1654e644c8b93a25"
            ]
        ]
    },
    {
        "id": "e2764a691b2a1a68",
        "type": "telegram event",
        "z": "1073cb1121328c0b",
        "name": "",
        "bot": "459d96c62d8d6e7e",
        "event": "callback_query",
        "autoanswer": false,
        "x": 100,
        "y": 1460,
        "wires": [
            [
                "f86a0e271eadddce",
                "4eea507953aeffe9"
            ]
        ]
    },
    {
        "id": "f86a0e271eadddce",
        "type": "switch",
        "z": "1073cb1121328c0b",
        "name": "",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "summary_global",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "summary_recharge",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "summary_travel",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "save_lastsix",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Travel_",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "save_travel",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 290,
        "y": 1460,
        "wires": [
            [
                "51064b9cf8d2282d"
            ],
            [
                "2e2d74be504855a8"
            ],
            [
                "45647267c8098989"
            ],
            [
                "23a8738833246d23"
            ],
            [
                "ff2f3cf5e628698b"
            ],
            [
                "855d2429b7494ab1"
            ]
        ]
    },
    {
        "id": "7b53a161e48d7ee2",
        "type": "telegram sender",
        "z": "1073cb1121328c0b",
        "name": "send response",
        "bot": "459d96c62d8d6e7e",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1280,
        "y": 1460,
        "wires": [
            [
                "6d920fc452126a42"
            ]
        ]
    },
    {
        "id": "8d606d8349ccb03d",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "format message",
        "func": "let content = ((msg.topic !== undefined) ? msg.topic : '') + `\n*** Opcions disponibles ***\n`;\n\nlet opts = {\n    parse_mode: \"HTML\",\n    disable_web_page_preview: true,\n    reply_markup: msg.buttons\n};\n\nmsg.payload = {\n    chatId: flow.get('telegram_chatId'),\n    type: 'message',\n    options: opts,\n    content: content\n}\n\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1460,
        "wires": [
            [
                "7b53a161e48d7ee2",
                "14c92fbf8ed4d42b"
            ]
        ]
    },
    {
        "id": "2e2d74be504855a8",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "recharge summary",
        "func": "/* temporarly disable */\n//return;\n\nlet state = flow.get(\"state\");\nlet bat = '';\nlet battery_level = flow.get('battery_level');\nlet usable_battery_level = flow.get('usable_battery_level');\nlet energyAdd = flow.get(\"charge_energy_added\");\nlet energyUsed = flow.get(\"energyUsed\");\nlet efficiency = (energyAdd*100/energyUsed).toFixed(2);\nlet timeOfCharge = flow.get('timeOfCharge')\nlet maxPower = flow.get('maxPower');\nlet avgPower = flow.get('avgPower');\nlet start_soc = flow.get(\"startCBL\");;\nlet end_soc = flow.get(\"endCBL\");\nlet textTypeCharge = \"\";\n\nif (usable_battery_level !== battery_level){\n    bat = `Bateria usable ${usable_battery_level}% (<i>${battery_level}%</i>) - ${flow.get('rated_battery_range_km')}km`;\n}else{\n    bat = `Bateria disponible ${usable_battery_level}% - ${flow.get('rated_battery_range_km')}km`;\n}\n\nif (state === \"charging\"){\n    // Remaining\n    let time_to_full = flow.get(\"time_to_full_charge\");\n    let remaining = time_to_full.split('.');\n    let minutes = Math.ceil(60 * Number(\".\" + remaining[1]));\n    let total_minutes = (remaining[0]*60)+minutes;\n    let finish_date = Date.now() + (total_minutes*60000);\n    let new_date = new Date(finish_date);\n    let str_new_date = new_date.toLocaleTimeString('es-ES', {timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' });\n    let start_date = new Date(flow.get('startCharge')).toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' });\n\n    let how_long = \"\";\n    if(remaining[0] > 0){\n        how_long = `${remaining[0]}h ${minutes}m`;\n    } else {\n        how_long = `${minutes}m`;\n    }\n    \n    let voltage = \"\";\n    let amps = \"\";\n    let chargeType = '';\n    if (parseInt(flow.get(\"charger_voltage\")) === 2){\n        chargeType = `DC`;\n        flow.set(\"typeCharge\", 2);\n    }else{\n        chargeType = `AC ${(flow.get(\"charger_phases\") === \"1\")? 'monofàsica' : 'trifàsica'}`;\n        flow.set(\"typeCharge\", 1);\n        \n        voltage = `⚡️ Voltatge: ${flow.get(\"charger_voltage\")}V`;\n        amps = `⚡️ Intensitat: ${flow.get(\"charger_actual_current\")}A`;\n    }\n    \n    msg.topic = `*** <a href=\"http://` + `${flow.get(\"iP\")}:${flow.get(\"portGrafana\")}/d/K9VmZD54k/current-charge-view?orgId=1\">Resum càrrega</a> ***\n    \n        🔌  Cargant amb ${chargeType} a ${Math.abs(flow.get(\"power\"))}kW\n        🪫  ${bat}\n        ✅ Inici de càrrega a les ${start_date}\n        🔋  Límit de càrrega ${flow.get(\"charge_limit_soc\")}%\n        ⌛️  Temps per finalitzar càrrega: ${how_long} \n        ⏱  Hora de finalització càrrega: ${str_new_date}\n    `;\n\n    if (parseInt(flow.get(\"charger_voltage\")) !== 2) {\n        msg.topic += `    ${voltage}\n        ${amps}\n        🔋 ${energyAdd}kWh afegits\n        `;\n    }else{\n        msg.topic += `    🔋 ${energyAdd}kWh afegits\n        `;\n    }\n\n}else{\n\n    let typeCharge = flow.get(\"typeCharge\");\n    if (typeCharge === 1){\n        if (flow.get(\"fases\") === \"1\"){\n            textTypeCharge = \"AC monofàsica\";\n        }else{\n            textTypeCharge = \"AC trifàsica\";\n        }\n    }else if(typeCharge === 2){\n        textTypeCharge = \"DC\";\n    }\n    \n    msg.topic = `*** <a href=\"http://192.168.1.139:3000/d/BHhxFeZRz/charge-details?from=${flow.get('startDateCharge')}&to=${flow.get('endDateCharge')}&var-car_id=1&var-drive_id=${flow.get('idCharge')}&orgId=1\">Resum càrrega</a> ***\n    \n        🪫 ${bat}\n        🔋 Límit de càrrega ${flow.get(\"charge_limit_soc\")}%\n        🔌 Cable ${(flow.get(\"plugged_in\") === \"true\") ? \"connectat\" : \"no connectat\"}\n        🔋 Última càrrega:\n                \n            📈  Carregat del <b>${start_soc}%</b> al <b>${end_soc}%</b>\n            ⚡️  Afegits <b>${energyAdd} kWh</b> \n                  Usats <b>${energyUsed} kWh</b> \n                  Eficiencia <b>${efficiency} %</b> \n            🔌  Afegits amb <b>${textTypeCharge} </b>\n            ⌛️  <b>${timeOfCharge}</b> \n            🦾  <b>${Math.round(avgPower)} kW</b> (max: <b>${Math.round(maxPower)} kW</b>)\n        \n    `;\n    \n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1400,
        "wires": [
            [
                "1654e644c8b93a25"
            ]
        ]
    },
    {
        "id": "14c92fbf8ed4d42b",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "remove last messageId",
        "func": "//node.warn(\"messageId : \" + context.global.keyboard.messageId);\nif (context.global.keyboard.messageId !== undefined){\n    msg.payload.type = 'deleteMessage';\n    msg.payload.content = context.global.keyboard.messageId;\n    context.global.keyboard.messageId = null;\n}\n\nreturn [ msg ];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 1340,
        "wires": [
            [
                "4bf00ea2c6576743"
            ]
        ]
    },
    {
        "id": "9865623ee2252039",
        "type": "telegram sender",
        "z": "1073cb1121328c0b",
        "name": "send response",
        "bot": "459d96c62d8d6e7e",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1600,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "4e8a9c45d3c4b3d3",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "save messageId",
        "func": "context.global.keyboard = { messageId : msg.payload.messageId };\n\nreturn [ msg ];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1340,
        "wires": [
            [
                "14c92fbf8ed4d42b"
            ]
        ]
    },
    {
        "id": "faad8ca16c209b6e",
        "type": "comment",
        "z": "1073cb1121328c0b",
        "name": "Bot Telegram",
        "info": "",
        "x": 90,
        "y": 1300,
        "wires": []
    },
    {
        "id": "1654e644c8b93a25",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "set buttons",
        "func": "let keyboards = {\n    'generic': {\n        \"inline_keyboard\": [\n            [\n                {\n                    \"text\": \"Resum general\",\n                    \"callback_data\": \"summary_global\"\n                },\n                {\n                    \"text\": `${(flow.get(\"state\") === \"charging\") ? \"🟢\" : \"🔴\"} Resum càrrega`,\n                    \"callback_data\": \"summary_recharge\"\n                },\n                {\n                    \"text\": `${(flow.get('state') === \"driving\") ? \"De ruta\" : \"Resum últim viatge\"}`,\n                    \"callback_data\": \"summary_travel\"\n                }\n            ]\n        ]\n    },\n    'viatge': {\n        \"inline_keyboard\": [\n            [\n                {\n                    \"text\": \"Resum general\",\n                    \"callback_data\": \"summary_global\"\n                },\n                {\n                    \"text\": `${(flow.get(\"state\") === \"charging\") ? \"🟢\" : \"🔴\"} Resum càrrega`,\n                    \"callback_data\": \"summary_recharge\"\n                },\n                {\n                    \"text\": `${(flow.get(\"state\") === \"driving\") ? \"🔄 Refresca\" : \"\"}`,\n                    \"callback_data\": \"summary_travel\"\n                },\n                {\n                    \"text\": \"Últims sis viatges\",\n                    \"callback_data\": \"save_lastsix\"\n                }\n            ]\n        ]\n    },\n    'sis': {\n        \"inline_keyboard\": [\n            [\n                {\n                    \"text\": \"Viatge 1\",\n                    \"callback_data\": \"Travel_1\"\n                },\n                {\n                    \"text\": \"Viatge 2\",\n                    \"callback_data\": \"Travel_2\"\n                },\n                {\n                    \"text\": \"Viatge 3\",\n                    \"callback_data\": \"Travel_3\"\n                }\n            ], \n            [\n                {\n                    \"text\": \"Viatge 4\",\n                    \"callback_data\": \"Travel_4\"\n                },\n                {\n                    \"text\": \"Viatge 5\",\n                    \"callback_data\": \"Travel_5\"\n                },\n                {\n                    \"text\": \"Viatge 6\",\n                    \"callback_data\": \"Travel_6\"\n                }\n            ], \n            [\n                {\n                    \"text\": \"Resum general\",\n                    \"callback_data\": \"summary_global\"\n                },\n                {\n                    \"text\": `${(flow.get(\"state\") === \"charging\") ? \"🟢\" : \"🔴\"} Resum càrrega`,\n                    \"callback_data\": \"summary_recharge\"\n                },\n                {\n                    \"text\": `${(flow.get('state') === \"driving\") ? \"De ruta\" : \"Resum últim viatge\"}`,\n                    \"callback_data\": \"summary_travel\"\n                }\n            ],\n            [\n                {\n                    \"text\": \"💾 Guarda Viatge\",\n                    \"callback_data\": \"save_travel\"\n                }\n            ]\n        ]\n    },\n    'controls': {\n        \"inline_keyboard\": [\n            [\n                {\n                    \"text\": \"Abrir coche\",\n                    \"callback_data\": \"controls_lock\"\n                }\n            ],\n            [\n                {\n                    \"text\": `Frunk`,\n                    \"callback_data\": \"controls_frunk\"\n                },\n                {\n                    \"text\": \"Maletero\",\n                    \"callback_data\": \"controls_trunk\"\n                },\n                {\n                    \"text\": `Puerto de carga`,\n                    \"callback_data\": \"controls_charge_port\"\n                }\n            ],\n            [\n                {\n                    \"text\": `Ráfaga luces`,\n                    \"callback_data\": \"controls_flash_lights\"\n                },\n                {\n                    \"text\": \"Tocar claxon\",\n                    \"callback_data\": \"controls_honk_horn\"\n                },\n                {\n                    \"text\": `Arrancar coche`,\n                    \"callback_data\": \"controls_remote_start\"\n                }\n            ],\n            [\n                {\n                    \"text\": `Volver`,\n                    \"callback_data\": \"back\"\n                }\n            ]\n        ]\n    },\n    'security': {\n        \"inline_keyboard\": [\n            [\n                {\n                    \"text\": \"Resumen general\",\n                    \"callback_data\": \"resume\"\n                },\n                {\n                    \"text\": `${(flow.get(\"state\") === \"charging\") ? \"🟢\" : \"🔴\"} Resumen carga`,\n                    \"callback_data\": \"recharge\"\n                }\n            ],\n            [\n                {\n                    \"text\": `Volver`,\n                    \"callback_data\": \"back\"\n                }\n            ]\n        ]\n    }\n};\n\nlet selectedKeyboard = {};\n\nif (keyboards[msg.payload.content] !== undefined) {\n    selectedKeyboard = keyboards[msg.payload.content];\n} else {\n    selectedKeyboard = keyboards['generic'];\n}\n\nmsg.buttons = JSON.stringify(selectedKeyboard);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1460,
        "wires": [
            [
                "8d606d8349ccb03d"
            ]
        ]
    },
    {
        "id": "412a3fc6f3756b3d",
        "type": "link in",
        "z": "1073cb1121328c0b",
        "name": "Actions switch",
        "links": [
            "256bab6b1a88bfb9",
            "aa04b84720fe3b59"
        ],
        "x": 55,
        "y": 1880,
        "wires": [
            [
                "e0b03872a1ea28d7"
            ]
        ]
    },
    {
        "id": "4eea507953aeffe9",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "save messageId",
        "func": "context.global.keyboard = { messageId : msg.payload.messageId };\nflow.set('saveMessage', msg.payload.messageId);\nreturn [ msg ];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "4bf00ea2c6576743",
        "type": "switch",
        "z": "1073cb1121328c0b",
        "name": "",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1430,
        "y": 1340,
        "wires": [
            [],
            [
                "9865623ee2252039"
            ]
        ]
    },
    {
        "id": "59de0db5f03e7f93",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "variables",
        "func": "//ip Grafana\n\nflow.set(\"iP\", \"192.XXX.X.XX\");\nflow.set(\"portGrafana\", \"3000\");\n\n// Telegram\nflow.set('telegram_chatId', '000000000');\nflow.set('telegram_token', '0000000000:XXXXXXXXXXXXXXXXXXXX')\n\n// ABRP\nflow.set('abrp_user_token', 'XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX');\nflow.set('abrp_car_model', 'tesla:my:22:my_lfp:rwd');\nflow.set('abrp_api_key', 'XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX');\n\n//geoapigy\n/*\n    Use geoapify to get adres\n    site to get apykey https://myprojects.geoapify.com/api\n*/\n\nflow.set('geoAPY', \"XXXXXXXXXXXXXXXXXXXXXXXXXX\");\n\n/*Configuració automissatges\nResum viatge\nVariable per activar desactivar els missatges de resum del viatge*/\n\nflow.set(\"sumaryTravel\", \"Yes\");\n\n//Variable per definir la distància mínima, en km, per enviar el missatge\n\nflow.set(\"travelDist\", 25);\n\n/*Resum càrrega\nVariable per activar desactivar els missatges de resum de la càrrega*/\n\nflow.set(\"sumaryCharges\", \"Yes\");\n\n//Variable per definir la quantitat mínima d'energia carregada, en kWh, per enviar el missatge\n\nflow.set(\"chargeEnergy\", 2);\n\n/*Resum quant el cotxe dorm\nVariable per activar missatge resum quan el cotxe es posa a dormir*/\n\nflow.set(\"sumarySleep\", \"Yes\");\n\n/*Últims 6 viatges\nVariable per definir la distància mínima, en km, per guardar el trajecte en la llista dels 6 últims missatges*/\n\nflow.set(\"distLastSix\", 2);\n\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 180,
        "wires": [
            [
                "b1de2e50452fdfe0"
            ]
        ]
    },
    {
        "id": "aaf9072cd7806e8d",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "state changes",
        "func": "let new_state = msg.payload;\nlet previous_state = flow.get('state');\n\n//node.warn(msg.topic + \": \" + msg.payload);\n//flow.set(msg.topic, new_state);\n\nif (previous_state !== new_state){\n    if (new_state === \"online\"){\n        msg.topic = `✨ està despert`;\n    }else if (new_state === \"asleep\"){\n        msg.topic = `💤 està dormit`;\n        flow.set('sent_resumen','0');\n    }else if (new_state === \"suspended\"){\n        msg.topic = `🛏️ s'està dormint`;\n    }else if (new_state === \"charging\"){\n        msg.topic = `🔌 està carregant`;\n    }else if (new_state === \"offline\"){\n        msg.topic = `🛰️ no està connectat`;\n    }else if (new_state === \"start\"){\n        msg.topic = `🚀 està arrencant`;\n    }else if (new_state === \"driving\"){\n        msg.topic = `🏁 està en marxa`;\n    }else{\n        msg.topic = `⭕ amb estat desconegut`;\n    }\n}else{\n    return;\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set('state','asleep');\nflow.set('sent_resumen','1');",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 60,
        "wires": [
            [
                "94c4727fcd950a17"
            ]
        ]
    },
    {
        "id": "45647267c8098989",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "summary_travel",
        "func": "let start = flow.get(\"dades_start\") || [];\nlet end = flow.get(\"dades_end\") || [];\nlet hSortida = new Date(start[0]*1000).toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' })\nlet hArribada = (end[0] !== undefined) ? `(${new Date(end[0]*1000).toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' })}):</b>` : \":</b>\"\nlet geo = '';\nlet geofence = flow.get('geofence');\nlet latitude = flow.get('latitude');\nlet longitude = flow.get('longitude');\nlet max_speed = flow.get('max_speed');\nlet avg_speed = flow.get('avg_speed').toFixed(0);\nlet vel = flow.get('vel') || [];\nlet max_temp = flow.get('maxTemp').toFixed(1);\nlet min_temp = flow.get('minTemp').toFixed(1);\nlet avg_temp = flow.get('avgTemp').toFixed(1);\nlet altitude = flow.get('altitude') || [];\nlet maxIn_temp = flow.get('maxInTemp').toFixed(1);\nlet minIn_temp = flow.get('minInTemp').toFixed(1);\nlet avgIn_temp = flow.get('avgInTemp').toFixed(1);\nlet onclimate = flow.get('onclimate');\nlet offclimate = flow.get('offclimate');\nlet climatetime = flow.get('climatetime');\nlet energyTravel = flow.get(\"energyTravel\");\n\nfunction site(geofence, latitude, longitude, adres) {\n    if (adres == undefined) {\n        return \"En camí\"\n    } else {\n        if (geofence !== \"\" && geofence !== undefined) {\n            return `<a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${geofence}</a>`;\n        } else {\n            return `<a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${adres}</a>`;\n        }\n    }\n}\n\nfunction kilometers(km_inici, km_final) {\n    if (km_final == undefined) {\n        let kmactual = flow.get('odometer');\n        return (kmactual - km_inici).toFixed(2)\n    } else {\n        return (km_final - km_inici).toFixed(2)\n    }\n}\n\nfunction diftemps(temp_final, temp_inici) {\n    if (temp_final !== undefined) {\n        var timeDifference = temp_final - temp_inici;\n        var differenceDate = new Date(timeDifference * 1000);\n        var diffHours = differenceDate.getUTCHours();\n        var diffMinutes = differenceDate.getUTCMinutes();\n        var diffSeconds = differenceDate.getUTCSeconds();\n\n        if (diffMinutes == 0) {\n            return diffSeconds + ' s';\n\n        } else if (diffHours == 0) {\n            return diffMinutes + ' m : ' + diffSeconds + ' s';\n        } else {\n            return diffHours + ' h : ' + diffMinutes + ' m : ' + diffSeconds + ' s';\n        }\n    } else {\n        let tempnow = Math.round(Date.now() / 1000);\n        var timeDifference = tempnow - temp_inici;\n        var differenceDate = new Date(timeDifference * 1000);\n        var diffHours = differenceDate.getUTCHours();\n        var diffMinutes = differenceDate.getUTCMinutes();\n        var diffSeconds = differenceDate.getUTCSeconds();\n\n        if (diffMinutes == 0) {\n            return diffSeconds + ' s';\n\n        } else if (diffHours == 0) {\n            return diffMinutes + ' m : ' + diffSeconds + ' s';\n        } else {\n            return diffHours + ' h : ' + diffMinutes + ' m : ' + diffSeconds + ' s';\n        }\n    }\n\n}\n\nfunction mode (arr) {\n    const mode = {};\n    let max = 0, count = 0;\n\n    for (let i = 0; i < arr.length; i++) {\n        const item = arr[i];\n\n        if (mode[item]) {\n            mode[item]++;\n        } else {\n            mode[item] = 1;\n        }\n\n        if (count < mode[item]) {\n            max = item;\n            count = mode[item];\n        }\n    }\n\n    return max;\n};\n\nfunction climateuse(starttimetravel, endtimetravel, timeAc, onclima) {\n    let hores_ac = 0;\n    let minuts_ac = 0;\n    let seg_ac = 0;\n\n    let hores_v = 0;\n    let minuts_v = 0;\n    let seg_v = 0;\n\n    if (timeAc == 0 && onclima == 0) {\n        return \"A/C: Apagat\"\n    } else if (timeAc > 0 && onclima > 0) {\n\n        let time = Date.now();\n        let diftime = timeAc + (time - onclima);\n        let lasttime = new Date(diftime);\n        hores_ac += lasttime.getUTCHours();\n        minuts_ac += lasttime.getUTCMinutes();\n        seg_ac += lasttime.getUTCSeconds();\n\n    } else if (onclima > 0) {\n\n        let time3 = Date.now();\n        let diftime = time3 - onclima;\n        let lasttime = new Date(diftime);\n        hores_ac += lasttime.getUTCHours();\n        minuts_ac += lasttime.getUTCMinutes();\n        seg_ac += lasttime.getUTCSeconds();\n\n    } else if (timeAc > 0) {\n\n        let time = new Date(timeAc);\n        hores_ac += time.getUTCHours();\n        minuts_ac += time.getUTCMinutes();\n        seg_ac += time.getUTCSeconds();\n    }\n\n    if (endtimetravel !== undefined) {\n        var timeDifference = endtimetravel - starttimetravel;\n        var differenceDate = new Date(timeDifference * 1000);\n        hores_v = differenceDate.getUTCHours();\n        minuts_v = differenceDate.getUTCMinutes();\n        seg_v = differenceDate.getUTCSeconds();\n    } else {\n        let tempnow = Math.round(Date.now() / 1000);\n        var timeDifference = tempnow - starttimetravel;\n        var differenceDate = new Date(timeDifference * 1000);\n        hores_v = differenceDate.getUTCHours();\n        minuts_v = differenceDate.getUTCMinutes();\n        seg_v = differenceDate.getUTCSeconds();\n    }\n\n    let htm = hores_ac * 60;\n    let stm = seg_ac / 60;\n    let totalmin = minuts_ac + htm + stm;\n    let htm_v = hores_v * 60;\n    let stm_v = seg_v / 60;\n    let totalmin_v = minuts_v + htm_v + stm_v;\n    let useAC = Math.round(totalmin * 100 / totalmin_v);\n\n    if (hores_ac == 0 && minuts_ac == 0) {\n        return `A/C: ${seg_ac} s (${useAC}%)`\n    } else if (hores_ac == 0) {\n        return `A/C: ${minuts_ac} m : ${seg_ac} s (${useAC}%)`\n    } else {\n        return `A/C: ${hores_ac} h : ${minuts_ac} m : ${seg_ac} s (${useAC}%)`\n    }\n}\n\nfunction battery(end_lvl, start_lvl, energyUsed, km_inici, km_final) {\n    if (end_lvl == undefined) {\n        let lvl_now = flow.get('battery_level');\n        return `Inicial: ${start_lvl}% \n                Actual: ${lvl_now}%  \n                Utilitzada: ${(lvl_now - start_lvl) * -1}% `\n    } else {\n        if (energyUsed != -100) {\n            let consum = (energyUsed / (km_final - km_inici) * 1000).toFixed(0);\n            return `Inicial: ${start_lvl}% \n                Final: ${end_lvl}% \n                Utilitzada: ${(end_lvl - start_lvl) * -1}%\n                Energia usada: ${energyUsed} kWh\n                Consum: ${consum} Wh/km`\n        }else{\n            return `Inicial: ${start_lvl}% \n                Final: ${end_lvl}% \n                Utilitzada: ${(end_lvl - start_lvl) * -1}%`\n        }   \n    }\n}\n\nfunction desnivell(array) {\n    var desnivell_positiu = 0;\n    var desnivell_negatiu = 0;\n\n    for (var i = 1; i < array.length; i++) {\n        var diferencial = array[i] - array[i - 1];\n        if (diferencial > 0) {\n            desnivell_positiu += diferencial;\n        }\n        else {\n            desnivell_negatiu -= diferencial;\n        }\n    }\n    return `Positiu: ${desnivell_positiu} m\n                Negatiu: ${desnivell_negatiu * -1} m\n                Acumulat: ${desnivell_positiu + desnivell_negatiu} m`\n}\n\nmsg.topic = `*** <a href=\"http://` + `${flow.get(\"iP\")}:${flow.get(\"portGrafana\")}/d/zm7wN6Zgz/drive-details?from=${flow.get('startDateDrive')}&to=${flow.get('endDateDrive')}&var-car_id=1&var-drive_id=${flow.get('idDrive')}&orgId=1\">Resum últim viatge</a> ***\n    \n    ➡️  <b>Sordida (${hSortida}): </b>\n                ${site(start[1], start[2], start[3], start[4])}\n    🔚  <b>Arribada ${hArribada}\n                ${site(end[1], end[2], end[3], end[4])}\n    🛣️  <b>km:</b> \n                ${kilometers(start[5], end[5])} km\n    ⏱️  <b>Temps:</b> \n                ${diftemps(end[0], start[0])}\n    🏎️  <b>Velocitat:</b>\n                Mitja: ${avg_speed} km/h\n                Màxima: ${max_speed} km/h  \n                Moda: ${mode(vel)} km/h       \n    🔋  <b>Bateria:</b>\n                ${battery(end[6], start[6], energyTravel, start[5], end[5])}\n    🏔  <b>Desnivell:</b>\n                ${desnivell(altitude)}\n    🌡️ <b>Temperatura:</b>\n                             <u><i>Exterior</i>           <i>Interior</i>  </u>\n                <u><i>Màxima</i>     ${max_temp} °C           ${maxIn_temp} °C</u>\n                <u><i>Mínima</i>      ${min_temp} °C           ${minIn_temp} °C</u>\n                <u><i>Mitja</i>         ${avg_temp} °C           ${avgIn_temp} °C</u>\n                ${climateuse(start[0], end[0], climatetime, onclimate)}\n        `;\n    \nmsg.payload.content = 'viatge';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1460,
        "wires": [
            [
                "1654e644c8b93a25"
            ]
        ]
    },
    {
        "id": "cc2b6b835d2c23c6",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "States_viatge",
        "func": "/*\n    Catch and reset values of start and end point travel \n*/ \nlet dades_start = [];\nlet dades_end = [];\nlet geofence = flow.get('geofence');\nlet latitude = flow.get('latitude');\nlet longitude = flow.get('longitude');\nlet adres = \"\";\nlet kilometres = flow.get('odometer');\nlet bat = flow.get('battery_level');\nlet wats = flow.get(\"power\");\nlet speed = flow.get('speed');\n\nswitch (flow.get('state')){\n    case \"driving\":\n        //reset final array\n        dades_end = [];\n        //reset speed and temp\n        msg.reset = 0;\n        //reset array moda\n        let vel = [];\n        //reset altitude\n        let altitude = [];\n        //let des_pos = 0;\n        //let des_neg = 0;\n        //reset in temp\n        let onclimate = 0;\n        let offclimate = 0;\n        let climatetime = 0;\n        //date\n        dades_start.push(Math.round(Date.now() / 1000));\n        //site\n        dades_start.push(geofence, latitude, longitude, adres);\n        //km\n        dades_start.push(kilometres);\n        //batery level\n        dades_start.push(bat);\n\n        //set variable flow values\n        flow.set('onclimate', onclimate);\n        flow.set('offclimate', offclimate);\n        flow.set('climatetime', climatetime);\n        flow.set('altitude', altitude);\n        //flow.set('des_pos', des_pos);\n        //flow.set('des_neg', des_neg);\n        flow.set('vel', vel);\n        flow.set(\"dades_start\", dades_start);\n        flow.set(\"dades_end\", dades_end);\n        break;\n    case \"online\":\n        if(dades_end.length == 0){\n            //date\n            dades_end.push(Math.round(Date.now() / 1000));\n            //site\n            dades_end.push(geofence, latitude, longitude, adres);\n            //km\n            dades_end.push(kilometres);\n            //batery level\n            dades_end.push(bat);\n\n            //set variable flow values\n            flow.set(\"dades_end\", dades_end);\n            break;\n        }\n}\nflow.set(\"etapes\", \"\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 700,
        "wires": [
            [
                "dcb9c457edb1a1a0",
                "5b26a5f1dd492f04",
                "338b7a781a650667",
                "9ebefdc503f6927e",
                "0801954783f1c5a9",
                "caccb8fc25b0517e",
                "067d4226277c3222",
                "6cb7097171d37ffc",
                "7ec4dbef9d2074ed",
                "35912263d1ae152e",
                "eb8bcdc9c0c5af9d",
                "fe472aaa1bd1207d"
            ]
        ]
    },
    {
        "id": "caa9522176f2e813",
        "type": "comment",
        "z": "1073cb1121328c0b",
        "name": "Resum últim viatge",
        "info": "",
        "x": 110,
        "y": 660,
        "wires": []
    },
    {
        "id": "8a55198eeff90430",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Speed Max",
        "func": "flow.set(\"max_speed\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "8488e85c777aebde",
        "type": "inject",
        "z": "1073cb1121328c0b",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.25",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 760,
        "wires": [
            [
                "f04031b25551e6dd"
            ]
        ]
    },
    {
        "id": "f04031b25551e6dd",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Get speed",
        "func": "//get value of speed when state is driving\n\nvar speed = flow.get('speed');\nlet vel = flow.get('vel') || [];\n\nswitch (flow.get('state')) {\n    case \"driving\":\n        if (speed > 0){\n            vel.push(speed);\n        }\n        msg.payload = speed;\n        flow.set('vel', vel);\n        return msg;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 760,
        "wires": [
            [
                "dcb9c457edb1a1a0",
                "0801954783f1c5a9"
            ]
        ]
    },
    {
        "id": "dcb9c457edb1a1a0",
        "type": "smooth",
        "z": "1073cb1121328c0b",
        "name": "Max Vel",
        "property": "payload",
        "action": "max",
        "count": "100000",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 740,
        "y": 740,
        "wires": [
            [
                "8a55198eeff90430"
            ]
        ]
    },
    {
        "id": "40e44b9916d8172c",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "GetAdreça",
        "func": "let apykey = flow.get('geoAPY');\nlet dades_start = flow.get(\"dades_start\") || [];\nlet dades_end = flow.get(\"dades_end\") || [];\n\nif(flow.get('state') == \"driving\"){\n    let latstart = dades_start[2];\n    let longstart = dades_start[3];\n    var url = `https://api.geoapify.com/v1/geocode/reverse?lat=${latstart}&lon=${longstart}&format=json&apiKey=${apykey}`\n    msg.url = url;\n}else{\n    let latend = dades_end[2];\n    let longend = dades_end[3];\n    var url = `https://api.geoapify.com/v1/geocode/reverse?lat=${latend}&lon=${longend}&format=json&apiKey=${apykey}`\n    msg.url = url;\n}\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1240,
        "wires": [
            [
                "cca54c604edc25ca"
            ]
        ]
    },
    {
        "id": "cca54c604edc25ca",
        "type": "http request",
        "z": "1073cb1121328c0b",
        "name": "HTTP Request (GET)",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 460,
        "y": 1240,
        "wires": [
            [
                "36821f7bc29e31de"
            ]
        ]
    },
    {
        "id": "36821f7bc29e31de",
        "type": "json",
        "z": "1073cb1121328c0b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 1240,
        "wires": [
            [
                "57e522613791321d"
            ]
        ]
    },
    {
        "id": "57e522613791321d",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Adreça",
        "func": "//Set adres of start and end point travel\n\nlet dades_start = flow.get(\"dades_start\") || [];\nlet dades_end = flow.get(\"dades_end\") || [];\nlet new_state = msg.topic;\nlet previous_state = flow.get('state');\n\nswitch (flow.get('state')) {\n    case \"driving\":\n        dades_start[4] = `${msg.payload.results[0].street} ${(msg.payload.results[0].housenumber == undefined) ? \"S/N\" : msg.payload.results[0].housenumber}, ${msg.payload.results[0].city}`;//msg.payload.results[0].formatted\n        msg.topic = `${msg.payload.results[0].street} ${(msg.payload.results[0].housenumber == undefined) ? \"S/N\" : msg.payload.results[0].housenumber}, ${msg.payload.results[0].city}`;\n        flow.set(\"dades_start\", dades_start);\n        break;\n    case \"online\":\n        dades_end[4] = `${msg.payload.results[0].street} ${(msg.payload.results[0].housenumber == undefined) ? \"S/N\" : msg.payload.results[0].housenumber}, ${msg.payload.results[0].city}`;\n        msg.topic = `${msg.payload.results[0].street} ${(msg.payload.results[0].housenumber == undefined) ? \"S/N\" : msg.payload.results[0].housenumber}, ${msg.payload.results[0].city}`;\n        flow.set(\"dades_end\", dades_end);\n        break;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "48660f4f28ee34e1",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Get out temp",
        "func": "//Get out temp value when state is driving\n\nvar temp = flow.get('outside_temp');\n\nswitch (flow.get('state')) {\n    case \"driving\":\n        msg.payload = temp;\n        return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 940,
        "wires": [
            [
                "9ebefdc503f6927e",
                "338b7a781a650667",
                "5b26a5f1dd492f04"
            ]
        ]
    },
    {
        "id": "4b0f04101dcd84f9",
        "type": "inject",
        "z": "1073cb1121328c0b",
        "name": "",
        "props": [],
        "repeat": "180",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 940,
        "wires": [
            [
                "48660f4f28ee34e1"
            ]
        ]
    },
    {
        "id": "9ebefdc503f6927e",
        "type": "smooth",
        "z": "1073cb1121328c0b",
        "name": "Max Temp",
        "property": "payload",
        "action": "max",
        "count": "100",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 750,
        "y": 880,
        "wires": [
            [
                "85c3a61b86db08d6"
            ]
        ]
    },
    {
        "id": "338b7a781a650667",
        "type": "smooth",
        "z": "1073cb1121328c0b",
        "name": "Min Temp",
        "property": "payload",
        "action": "min",
        "count": "100",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 740,
        "y": 940,
        "wires": [
            [
                "c2d7a7ec6b0a6c06"
            ]
        ]
    },
    {
        "id": "5b26a5f1dd492f04",
        "type": "smooth",
        "z": "1073cb1121328c0b",
        "name": "Avg Temp",
        "property": "payload",
        "action": "mean",
        "count": "100",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 740,
        "y": 1000,
        "wires": [
            [
                "d1d91157956c560f"
            ]
        ]
    },
    {
        "id": "85c3a61b86db08d6",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Temperatura Max",
        "func": "flow.set('maxTemp', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "69f217d8c277d86f",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "save_travel_for6",
        "func": "let start = flow.get(\"dades_start\") || [];\nlet end = flow.get(\"dades_end\") || [];\nlet diaSortida = new Date(start[0] * 1000).toLocaleDateString();\nlet hSortida = new Date(start[0] * 1000).toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' });\nlet hArribada = (end[0] !== undefined) ? `(${new Date(end[0] * 1000).toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' })}):</b>` : \":</b>\"\nlet geo = '';\nlet geofence = flow.get('geofence');\nlet latitude = flow.get('latitude');\nlet longitude = flow.get('longitude');\nlet max_speed = flow.get('max_speed');\nlet avg_speed = flow.get('avg_speed').toFixed(0);\nlet vel = flow.get('vel') || [];\nlet max_temp = flow.get('maxTemp').toFixed(1);\nlet min_temp = flow.get('minTemp').toFixed(1);\nlet avg_temp = flow.get('avgTemp').toFixed(1);\nlet altitude = flow.get('altitude') || [];\nlet maxIn_temp = flow.get('maxInTemp').toFixed(1);\nlet minIn_temp = flow.get('minInTemp').toFixed(1);\nlet avgIn_temp = flow.get('avgInTemp').toFixed(1);\nlet onclimate = flow.get('onclimate');\nlet offclimate = flow.get('offclimate');\nlet climatetime = flow.get('climatetime');\nlet energyTravel = flow.get(\"energyTravel\");\n\nfunction site(geofence, latitude, longitude, adres) {\n    if (adres == undefined) {\n        return \"En camí\"\n    } else {\n        if (geofence !== \"\" && geofence !== undefined) {\n            return `<a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${geofence}</a>`;\n        } else {\n            return `<a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${adres}</a>`;\n        }\n    }\n}\n\nfunction kilometers(km_inici, km_final) {\n    if (km_final == undefined) {\n        let kmactual = flow.get('odometer');\n        return (kmactual - km_inici).toFixed(2)\n    } else {\n        return (km_final - km_inici).toFixed(2)\n    }\n}\n\nfunction diftemps(temp_final, temp_inici) {\n    if (temp_final !== undefined) {\n        var timeDifference = temp_final - temp_inici;\n        var differenceDate = new Date(timeDifference * 1000);\n        var diffHours = differenceDate.getUTCHours();\n        var diffMinutes = differenceDate.getUTCMinutes();\n        var diffSeconds = differenceDate.getUTCSeconds();\n\n        if (diffMinutes == 0) {\n            return diffSeconds + ' s';\n\n        } else if (diffHours == 0) {\n            return diffMinutes + ' m : ' + diffSeconds + ' s';\n        } else {\n            return diffHours + ' h : ' + diffMinutes + ' m : ' + diffSeconds + ' s';\n        }\n    } else {\n        let tempnow = Math.round(Date.now() / 1000);\n        var timeDifference = tempnow - temp_inici;\n        var differenceDate = new Date(timeDifference * 1000);\n        var diffHours = differenceDate.getUTCHours();\n        var diffMinutes = differenceDate.getUTCMinutes();\n        var diffSeconds = differenceDate.getUTCSeconds();\n\n        if (diffMinutes == 0) {\n            return diffSeconds + ' s';\n\n        } else if (diffHours == 0) {\n            return diffMinutes + ' m : ' + diffSeconds + ' s';\n        } else {\n            return diffHours + ' h : ' + diffMinutes + ' m : ' + diffSeconds + ' s';\n        }\n    }\n\n}\n\nfunction mode(arr) {\n    const mode = {};\n    let max = 0, count = 0;\n\n    for (let i = 0; i < arr.length; i++) {\n        const item = arr[i];\n\n        if (mode[item]) {\n            mode[item]++;\n        } else {\n            mode[item] = 1;\n        }\n\n        if (count < mode[item]) {\n            max = item;\n            count = mode[item];\n        }\n    }\n\n    return max;\n};\n\nfunction climateuse(starttimetravel, endtimetravel, timeAc, onclima) {\n    let hores_ac = 0;\n    let minuts_ac = 0;\n    let seg_ac = 0;\n\n    let hores_v = 0;\n    let minuts_v = 0;\n    let seg_v = 0;\n\n    if (timeAc == 0 && onclima == 0) {\n        return \"A/C: Apagat\"\n    } else if (timeAc > 0 && onclima > 0) {\n\n        let time = Date.now();\n        let diftime = timeAc + (time - onclima);\n        let lasttime = new Date(diftime);\n        hores_ac += lasttime.getUTCHours();\n        minuts_ac += lasttime.getUTCMinutes();\n        seg_ac += lasttime.getUTCSeconds();\n\n    } else if (onclima > 0) {\n\n        let time3 = Date.now();\n        let diftime = time3 - onclima;\n        let lasttime = new Date(diftime);\n        hores_ac += lasttime.getUTCHours();\n        minuts_ac += lasttime.getUTCMinutes();\n        seg_ac += lasttime.getUTCSeconds();\n\n    } else if (timeAc > 0) {\n\n        let time = new Date(timeAc);\n        hores_ac += time.getUTCHours();\n        minuts_ac += time.getUTCMinutes();\n        seg_ac += time.getUTCSeconds();\n    }\n\n    if (endtimetravel !== undefined) {\n        var timeDifference = endtimetravel - starttimetravel;\n        var differenceDate = new Date(timeDifference * 1000);\n        hores_v = differenceDate.getUTCHours();\n        minuts_v = differenceDate.getUTCMinutes();\n        seg_v = differenceDate.getUTCSeconds();\n    } else {\n        let tempnow = Math.round(Date.now() / 1000);\n        var timeDifference = tempnow - starttimetravel;\n        var differenceDate = new Date(timeDifference * 1000);\n        hores_v = differenceDate.getUTCHours();\n        minuts_v = differenceDate.getUTCMinutes();\n        seg_v = differenceDate.getUTCSeconds();\n    }\n\n    let htm = hores_ac * 60;\n    let stm = seg_ac / 60;\n    let totalmin = minuts_ac + htm + stm;\n    let htm_v = hores_v * 60;\n    let stm_v = seg_v / 60;\n    let totalmin_v = minuts_v + htm_v + stm_v;\n    let useAC = Math.round(totalmin * 100 / totalmin_v);\n\n    if (hores_ac == 0 && minuts_ac == 0) {\n        return `A/C: ${seg_ac} s (${useAC}%)`\n    } else if (hores_ac == 0) {\n        return `A/C: ${minuts_ac} m : ${seg_ac} s (${useAC}%)`\n    } else {\n        return `A/C: ${hores_ac} h : ${minuts_ac} m : ${seg_ac} s (${useAC}%)`\n    }\n}\n\nfunction battery(end_lvl, start_lvl, energyUsed, km_inici, km_final) {\n    if (end_lvl == undefined) {\n        let lvl_now = flow.get('battery_level');\n        return `Inicial: ${start_lvl}% \n                Actual: ${lvl_now}%  \n                Utilitzada: ${(lvl_now - start_lvl) * -1}% `\n    } else {\n        if (energyUsed != -100) {\n            let consum = (energyUsed / (km_final - km_inici) * 1000).toFixed(0);\n            return `Inicial: ${start_lvl}% \n                Final: ${end_lvl}% \n                Utilitzada: ${(end_lvl - start_lvl) * -1}%\n                Energia usada: ${energyUsed} kWh\n                Consum: ${consum} Wh/km`\n        } else {\n            return `Inicial: ${start_lvl}% \n                Final: ${end_lvl}% \n                Utilitzada: ${(end_lvl - start_lvl) * -1}%`\n        }\n    }\n}\n\nfunction desnivell(array) {\n    var desnivell_positiu = 0;\n    var desnivell_negatiu = 0;\n\n    for (var i = 1; i < array.length; i++) {\n        var diferencial = array[i] - array[i - 1];\n        if (diferencial > 0) {\n            desnivell_positiu += diferencial;\n        }\n        else {\n            desnivell_negatiu -= diferencial;\n        }\n    }\n    return `Positiu: ${desnivell_positiu} m\n                Negatiu: ${desnivell_negatiu * -1} m\n                Acumulat: ${desnivell_positiu + desnivell_negatiu} m`\n}\n\nmsg.topic = `*** <a href=\"http://` + `${flow.get(\"iP\")}:${flow.get(\"portGrafana\")}/d/zm7wN6Zgz/drive-details?from=${flow.get('startDateDrive')}&to=${flow.get('endDateDrive')}&var-car_id=1&var-drive_id=${flow.get('idDrive')}&orgId=1\">Resum últim viatge ${diaSortida}</a> ***\n    \n    ➡️  <b>Sordida (${hSortida}): </b>\n                ${site(start[1], start[2], start[3], start[4])}\n    🔚  <b>Arribada ${hArribada}\n                ${site(end[1], end[2], end[3], end[4])}\n    🛣️  <b>km:</b> \n                ${kilometers(start[5], end[5])} km\n    ⏱️  <b>Temps:</b> \n                ${diftemps(end[0], start[0])}\n    🏎️  <b>Velocitat:</b>\n                Mitja: ${avg_speed} km/h\n                Màxima: ${max_speed} km/h  \n                Moda: ${mode(vel)} km/h       \n    🔋  <b>Bateria:</b>\n                ${battery(end[6], start[6], energyTravel, start[5], end[5])}\n    🏔  <b>Desnivell:</b>\n                ${desnivell(altitude)}\n    🌡️ <b>Temperatura:</b>\n                             <u><i>Exterior</i>           <i>Interior</i>  </u>\n                <u><i>Màxima</i>     ${max_temp} °C           ${maxIn_temp} °C</u>\n                <u><i>Mínima</i>      ${min_temp} °C           ${minIn_temp} °C</u>\n                <u><i>Mitja</i>         ${avg_temp} °C           ${avgIn_temp} °C</u>\n                ${climateuse(start[0], end[0], climatetime, onclimate)}\n        `;\n\nmsg.payload.content = 'viatge';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1820,
        "wires": [
            [
                "dfe523f0ac4f5270"
            ]
        ]
    },
    {
        "id": "75a54aac85715418",
        "type": "telegram sender",
        "z": "1073cb1121328c0b",
        "name": "send response",
        "bot": "459d96c62d8d6e7e",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1220,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "b20ef36712e1cbb7",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Format message",
        "func": "let content = msg.topic;\n\nlet opts = {\n    parse_mode: \"HTML\",\n    disable_web_page_preview: true,\n};\n\nmsg.payload = {\n    chatId: flow.get('telegram_chatId'),\n    type: 'message',\n    options: opts,\n    content: content,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 1920,
        "wires": [
            [
                "75a54aac85715418"
            ]
        ]
    },
    {
        "id": "0801954783f1c5a9",
        "type": "smooth",
        "z": "1073cb1121328c0b",
        "name": "avg vel",
        "property": "payload",
        "action": "mean",
        "count": "100000",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 740,
        "y": 800,
        "wires": [
            [
                "96f4c0f4812872b7"
            ]
        ]
    },
    {
        "id": "96f4c0f4812872b7",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Speed Avg",
        "func": "flow.set(\"avg_speed\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "c2d7a7ec6b0a6c06",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Temperatura Min",
        "func": "flow.set('minTemp', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "d1d91157956c560f",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Temperatura Avg",
        "func": "flow.set('avgTemp', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "679bd7efc1377337",
        "type": "inject",
        "z": "1073cb1121328c0b",
        "name": "",
        "props": [],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 1100,
        "wires": [
            [
                "6608b3f40a7cc00c"
            ]
        ]
    },
    {
        "id": "6608b3f40a7cc00c",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Get in temp",
        "func": "//Get in temp values when state is driving\n\nlet intemp = flow.get('inside_temp');\n\n\nswitch (flow.get('state')) {\n    case \"driving\":\n        msg.payload = intemp;\n        return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1100,
        "wires": [
            [
                "caccb8fc25b0517e",
                "067d4226277c3222",
                "6cb7097171d37ffc"
            ]
        ]
    },
    {
        "id": "caccb8fc25b0517e",
        "type": "smooth",
        "z": "1073cb1121328c0b",
        "name": "Avg Temp",
        "property": "payload",
        "action": "mean",
        "count": "2000",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 740,
        "y": 1180,
        "wires": [
            [
                "2e831111077d69e3"
            ]
        ]
    },
    {
        "id": "2e831111077d69e3",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Temperatura Avg",
        "func": "flow.set('avgInTemp', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "6cb7097171d37ffc",
        "type": "smooth",
        "z": "1073cb1121328c0b",
        "name": "Min Temp",
        "property": "payload",
        "action": "min",
        "count": "2000",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 740,
        "y": 1120,
        "wires": [
            [
                "fc37a3041cef3665"
            ]
        ]
    },
    {
        "id": "067d4226277c3222",
        "type": "smooth",
        "z": "1073cb1121328c0b",
        "name": "Max Temp",
        "property": "payload",
        "action": "max",
        "count": "2000",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 750,
        "y": 1060,
        "wires": [
            [
                "33f015bb46723301"
            ]
        ]
    },
    {
        "id": "33f015bb46723301",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Temperatura Max",
        "func": "flow.set('maxInTemp', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "fc37a3041cef3665",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Temperatura Min",
        "func": "flow.set('minInTemp', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "466d2d64cf428679",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Power charging",
        "func": "let power = msg.payload;\nlet state = flow.get('state');\nlet fase = flow.get('fase');\n\nif (state == 'charging') {\n    msg.payload = power;\n    fase = flow.get('charger_phases');\n    flow.set('fase', fase);\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 380,
        "wires": [
            [
                "7ec4dbef9d2074ed",
                "35912263d1ae152e"
            ]
        ]
    },
    {
        "id": "7ec4dbef9d2074ed",
        "type": "smooth",
        "z": "1073cb1121328c0b",
        "name": "Avg Power",
        "property": "payload",
        "action": "mean",
        "count": "2000000",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 890,
        "y": 360,
        "wires": [
            [
                "4c2e5316c93e8a6d"
            ]
        ]
    },
    {
        "id": "35912263d1ae152e",
        "type": "smooth",
        "z": "1073cb1121328c0b",
        "name": "Max Power",
        "property": "payload",
        "action": "max",
        "count": "1000",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 890,
        "y": 400,
        "wires": [
            [
                "ff5ae405da6865a4"
            ]
        ]
    },
    {
        "id": "4c2e5316c93e8a6d",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Avg Power",
        "func": "flow.set('avgPower', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ff5ae405da6865a4",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Max Power",
        "func": "flow.set('maxPower', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "f26d6240c150c236",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "AC on D/O",
        "func": "//get value of is_cliamte_on when state change\n\nlet state = msg.payload;\nlet ac = flow.get('is_climate_on');\n\nswitch (state) {\n    case \"driving\":\n        msg.payload = ac;\n        return msg;\n   case \"online\":\n        msg.payload = ac;\n        return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1020,
        "wires": [
            [
                "b51f2b4b8481c8ed"
            ]
        ]
    },
    {
        "id": "b51f2b4b8481c8ed",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "AC on",
        "func": "//Get time of A/C use \n\nlet climateState = msg.payload;\nlet onclimate = flow.get('onclimate');\nlet offclimate = flow.get('offclimate');\nlet climatetime = flow.get('climatetime');\nlet start = flow.get(\"dades_start\") || [];\nlet end = flow.get(\"dades_end\") || [];\n\nswitch (flow.get('state')) {\n    case 'driving':\n        if (climateState == 'true') {\n            onclimate = Date.now();\n        } else {\n            if (onclimate !== 0) {\n                offclimate = Date.now();\n                climatetime += offclimate - onclimate;\n                onclimate = 0;\n            }\n        }\n        flow.set('onclimate', onclimate);\n        flow.set('offclimate', offclimate);\n        flow.set('climatetime', climatetime);\n        break;\n    case 'online':\n        if (onclimate > 0 && offclimate == 0 && climateState == 'true') {\n            offclimate = Date.now();\n            climatetime += offclimate - onclimate;\n            onclimate = 0;\n\n            flow.set('onclimate', onclimate);\n            flow.set('offclimate', offclimate);\n            flow.set('climatetime', climatetime);\n        }\n        break;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "eb8bcdc9c0c5af9d",
        "type": "smooth",
        "z": "1073cb1121328c0b",
        "name": "Start battery level",
        "property": "payload",
        "action": "min",
        "count": "6000000",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 910,
        "y": 440,
        "wires": [
            [
                "6dcddb91d70f8bc1"
            ]
        ]
    },
    {
        "id": "fe472aaa1bd1207d",
        "type": "smooth",
        "z": "1073cb1121328c0b",
        "name": "End battery level",
        "property": "payload",
        "action": "max",
        "count": "200",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 910,
        "y": 480,
        "wires": [
            [
                "939d437703ea11e5"
            ]
        ]
    },
    {
        "id": "70d95ba58ebef14c",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "baterry level charging",
        "func": "let battery = msg.payload;\nif (flow.get('state') == 'charging') {\n    msg.payload = battery;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 460,
        "wires": [
            [
                "eb8bcdc9c0c5af9d",
                "fe472aaa1bd1207d"
            ]
        ]
    },
    {
        "id": "6dcddb91d70f8bc1",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Start CBL",
        "func": "flow.set('startCBL', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "939d437703ea11e5",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "End CBL",
        "func": "flow.set('endCBL', msg.payload+1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "887aa94523f551d0",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Time charge",
        "func": "let currentState = flow.get(\"currentState\");\nlet oldState = flow.get(\"oldState\");\nlet startCharge = flow.get(\"startCharge\");\nlet endCharge = flow.get(\"endCharge\");\n\nfunction changeState(newState) {\n    oldState = currentState;\n    currentState = newState;\n    flow.set(\"oldState\", oldState);\n    flow.set(\"currentState\", currentState);\n}\n\nchangeState(msg.payload);\n\nif (oldState !== currentState) {\n    if (currentState === \"charging\") {\n        startCharge = Date.now();\n        flow.set(\"startCharge\", startCharge)\n        flow.set('kmCharge', flow.get('odometer'));\n    }\n}\n\nif (oldState == \"charging\" && currentState == \"online\") {\n    endCharge = Date.now();\n    flow.set(\"endCharge\", endCharge);\n}\n\n\nfunction timeCharge(startTime, endTime) {\n    let time = new Date(endTime - startTime);\n    let hores = time.getUTCHours();\n    let minuts = time.getUTCMinutes();\n    let seg = time.getUTCSeconds();\n    let timeFormat = \"\";\n\n    if (hores == 0 && minuts == 0) {\n        timeFormat = `${seg} s`;\n    } else if (hores == 0) {\n        timeFormat = `${minuts} m : ${seg} s`;\n    } else {\n        timeFormat = `${hores} h : ${minuts} m : ${seg} s`;\n    }\n\n    return timeFormat;\n}\n\nflow.set('timeOfCharge', timeCharge(startCharge, endCharge));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "2f0ee30d5ef9cfed",
        "type": "comment",
        "z": "1073cb1121328c0b",
        "name": "Resum càrrega",
        "info": "",
        "x": 660,
        "y": 320,
        "wires": []
    },
    {
        "id": "518c9df482add933",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "states",
        "func": "flow.set(\"oldState\", \"driving\");\nflow.set(\"currentState\", \"online\");\nflow.set(\"startCharge\", 0);\nflow.set(\"endCharge\", 0);\nflow.set('fase', \"\")\nflow.set('typeCharge', 0);\nlet lastsixMessages;\nflow.set(\"lastsixMessages\", lastsixMessages);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c47a1d5ab0d0db4e",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Save orders",
        "func": "let start = flow.get(\"dades_start\") || [];\nlet end = flow.get(\"dades_end\") || [];\nlet currentState = flow.get(\"currentState\");\nlet oldState = flow.get(\"oldState\");\nlet km = end[5] - start[5];\n\n\nif (oldState == \"driving\" && km >= flow.get(\"travelDist\") && flow.get(\"sumaryTravel\") == \"Yes\") {\n    msg.payload = {}\n    msg.payload.content = 'autosave_travel';\n    return msg;\n} else if (currentState == \"charging\") {\n    msg.payload = {}\n    msg.payload.content = 'autosave_charge';\n    return msg;\n} else if (oldState == \"charging\" && flow.get(\"charge_energy_added\") > flow.get(\"chargeEnergy\") && flow.get(\"sumaryCharges\") == \"Yes\") {\n    msg.payload = {}\n    msg.payload.content = 'autosave_recharge';\n    return msg;\n} else if (currentState == \"asleep\" && flow.get(\"sumarySleep\") == \"Yes\") {\n    msg.payload = {}\n    msg.payload.content = 'autosave_global';\n    return msg;\n}\n\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 1920,
        "wires": [
            [
                "e50db9720f68069b"
            ]
        ]
    },
    {
        "id": "83667488481560b6",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "save recharge",
        "func": "let sumaryCharge = flow.get(\"rechargeSumary\");\nlet dia = new Date().toLocaleDateString();\nlet hora = new Date().toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' });\n\nlet split = sumaryCharge.split(\"càrrega:\")[1].split(\"            \");\nmsg.topic = `*** <a href=\"http://` + `${flow.get(\"iP\")}:${flow.get(\"portGrafana\")}/d/BHhxFeZRz/charge-details?from=${flow.get('startDateCharge')}&to=${flow.get('endDateCharge')}&var-car_id=1&var-drive_id=${flow.get('idCharge')}&orgId=1\">Càrrega del ${dia} ${hora}</a> ***\n\n${split[2]}${split[3]}${split[4]}${split[5]}${split[6]}${split[7]}${split[8]}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1980,
        "wires": [
            [
                "b20ef36712e1cbb7",
                "3ed8bad796546bc9",
                "58646a670b16b84f"
            ]
        ]
    },
    {
        "id": "256bab6b1a88bfb9",
        "type": "link out",
        "z": "1073cb1121328c0b",
        "name": "state",
        "mode": "link",
        "links": [
            "412a3fc6f3756b3d",
            "80129abf44e430bd"
        ],
        "x": 435,
        "y": 320,
        "wires": []
    },
    {
        "id": "87860e312bb654fd",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Vampire Drain",
        "func": "let battery = flow.get('battery_level');\nlet end = flow.get(\"dades_end\") || [];\n\nif (flow.get('state') == 'online') {\n    let vampireDrain = end[6] - battery\n    if(vampireDrain > 0){\n        flow.set(\"vampireDrain\", vampireDrain);\n    }\n} else {\n    flow.set(\"vampireDrain\", 0);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "4388808366fb4c6d",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "save global summary",
        "func": "/* temporarly disable */\n//return;\n\n\nlet bat = '';\nlet geo = '';\nlet state = '';\nlet km = '';\nlet kmBat = flow.get('odometer') - flow.get('kmCharge');\nlet inside_temp = flow.get('inside_temp');\nlet outside_temp = flow.get('outside_temp');\nlet battery_level = flow.get('battery_level');\nlet usable_battery_level = flow.get('usable_battery_level');\nlet vampire = flow.get(\"vampireDrain\");\nlet geofence = flow.get('geofence');\nlet latitude = flow.get('latitude');\nlet longitude = flow.get('longitude');\nlet last_status_change = new Date(flow.get('since'));\nlet sentry_mode = '';\nlet dades_end = flow.get(\"dades_end\") || [];\nlet dia = new Date().toLocaleDateString();\nlet hora = new Date().toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' });\nlet adresa = dades_end[4];\n\nfunction calc_difference() {\n  let diffInMilliSeconds = Math.abs(new Date().getTime() - new Date(flow.get('since')).getTime()) / 1000;\n\n  // calculate days\n  const days = Math.floor(diffInMilliSeconds / 86400);\n  diffInMilliSeconds -= days * 86400;\n\n  // calculate hours\n  const hours = Math.floor(diffInMilliSeconds / 3600) % 24;\n  diffInMilliSeconds -= hours * 3600;\n\n  // calculate minutes\n  const minutes = Math.floor(diffInMilliSeconds / 60) % 60;\n  diffInMilliSeconds -= minutes * 60;\n\n  let difference = '';\n  if (days > 0) {\n    difference += `${days}d `;\n  }\n  if (hours > 0) {\n    difference += `${hours}h `;\n  }\n\n  difference += `${minutes}m`;\n\n  return difference;\n\n}\n\nfunction toFloat(num, precision) {\n  return parseFloat(num).toFixed(precision);\n}\n\n/**\n* @param {number} percent\n*/\nfunction getBatteryIcon(percent) {\n  let ico = `🔋 `;\n  if (percent <= 40) {\n    ico = `🪫 `;\n  }\n  return ico;\n}\n\nswitch (flow.get('state')) {\n  case \"online\":\n    state = 'Despert'\n    break;\n  case \"asleep\":\n    state = `Dormit fa ${calc_difference()}`\n    break;\n  case \"suspended\":\n    state = `Dormint-se des de fa ${calc_difference()}`\n    break;\n  case \"charging\":\n    state = 'Carregant'\n    break;\n  case \"offline\":\n    state = 'Desconectat'\n    break;\n  case \"start\":\n    state = 'Arrancant'\n    break;\n  case \"driving\":\n    state = 'Conduïnt'\n    break;\n  default:\n    state = 'Desconegut'\n}\n\nbat = getBatteryIcon(usable_battery_level);\nif (usable_battery_level !== battery_level) {\n  if (vampire > 0) {\n    bat += ` Usable ${usable_battery_level}% (disp. ${battery_level}%) - ${flow.get('rated_battery_range_km')} km\n    🦇 Consum vampíric ${vampire}%`;\n  } else {\n    bat += ` Usable ${usable_battery_level}% (disp. ${battery_level}%) - ${flow.get('rated_battery_range_km')} km`;\n  }\n} else {\n  if (vampire > 0) {\n    bat += ` Disponible ${usable_battery_level}% - ${flow.get('rated_battery_range_km')} km\n    🦇 Consum vampíric ${vampire}%`;\n  } else {\n    bat += ` Disponible ${usable_battery_level}% - ${flow.get('rated_battery_range_km')} km`;\n  }\n}\n\nif (kmBat > 0) {\n  km = `⚙️  ${Intl.NumberFormat('es-ES').format(parseInt(flow.get('odometer')))} km\n          ${kmBat.toFixed(2)} km des de l'última càrrega`\n} else {\n  km = `⚙️  ${Intl.NumberFormat('es-ES').format(parseInt(flow.get('odometer')))} km`\n}\n\nif (geofence !== \"\" && geofence !== undefined) {\n  geo = `Està a <a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${geofence}</a>`;\n} else {\n  geo = `Està a <a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${adresa}</a>`;\n}\n\nif (flow.get('sentry_mode') === \"true\") {\n  sentry_mode = `🟢  Sentinella activat`;\n} else {\n  sentry_mode = `⚫️  Sentinella desactivat`;\n}\n\nmsg.topic = `*** Resum general ${dia} ${hora} ***\n\n    💿  <a href=\"https://www.notateslaapp.com/software-updates/version/${flow.get('version')}/release-notes\">${flow.get('version')}</a> ${(flow.get('update_available') === 'true') ? `(disponible <a href=\"https://www.notateslaapp.com/software-updates/version/${flow.get('update_version')}/release-notes\"><i>${flow.get('update_version')}</i></a>)` : ''}\n    🚗  ${state}\n    ${km}\n    🔐  ${(flow.get('locked') === \"true\") ? 'Tancat' : 'Obert'}\n    ${bat}\n    🛞  Pressió de les rodes:\n              ${toFloat(flow.get('tpms_pressure_fl'), 3)} --- ${toFloat(flow.get('tpms_pressure_fr'), 3)}\n              ${toFloat(flow.get('tpms_pressure_rl'), 3)} --- ${toFloat(flow.get('tpms_pressure_rr'), 3)}\n    🌡️  Interior ${inside_temp}ºC\n    🌡️  Exterior ${outside_temp}ºC\n    🌎  ${geo}\n    ${sentry_mode}\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1860,
        "wires": [
            [
                "b20ef36712e1cbb7",
                "249c9aab37718178",
                "58646a670b16b84f"
            ]
        ]
    },
    {
        "id": "0ade2685d9a8447a",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "recharge summary",
        "func": "/* temporarly disable */\n//return;\n\nlet state = flow.get(\"state\");\nlet bat = '';\nlet battery_level = flow.get('battery_level');\nlet usable_battery_level = flow.get('usable_battery_level');\nlet energyAdd = flow.get(\"charge_energy_added\");\nlet energyUsed = flow.get(\"energyUsed\");\nlet efficiency = (energyAdd * 100 / energyUsed).toFixed(2);\nlet timeOfCharge = flow.get('timeOfCharge')\nlet maxPower = flow.get('maxPower');\nlet avgPower = flow.get('avgPower');\nlet start_soc = flow.get(\"startCBL\");;\nlet end_soc = flow.get(\"endCBL\");\nlet textTypeCharge = \"\";\n\nif (usable_battery_level !== battery_level) {\n    bat = `Bateria usable ${usable_battery_level}% (<i>${battery_level}%</i>) - ${flow.get('rated_battery_range_km')}km`;\n} else {\n    bat = `Bateria disponible ${usable_battery_level}% - ${flow.get('rated_battery_range_km')}km`;\n}\n\nif (state === \"charging\") {\n    // Remaining\n    let time_to_full = flow.get(\"time_to_full_charge\");\n    let remaining = time_to_full.split('.');\n    let minutes = Math.ceil(60 * Number(\".\" + remaining[1]));\n    let total_minutes = (remaining[0] * 60) + minutes;\n    let finish_date = Date.now() + (total_minutes * 60000);\n    let new_date = new Date(finish_date);\n    let str_new_date = new_date.toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' });\n    let start_date = new Date(flow.get('startCharge')).toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' });\n\n    let how_long = \"\";\n    if (remaining[0] > 0) {\n        how_long = `${remaining[0]}h ${minutes}m`;\n    } else {\n        how_long = `${minutes}m`;\n    }\n\n    let voltage = \"\";\n    let amps = \"\";\n    let chargeType = '';\n    if (parseInt(flow.get(\"charger_voltage\")) === 2) {\n        chargeType = `DC`;\n        flow.set(\"typeCharge\", 2);\n    } else {\n        chargeType = `AC ${(flow.get(\"charger_phases\") === \"1\") ? 'monofàsica' : 'trifàsica'}`;\n        flow.set(\"typeCharge\", 1);\n\n        voltage = `⚡️ Voltatge: ${flow.get(\"charger_voltage\")}V`;\n        amps = `⚡️ Intensitat: ${flow.get(\"charger_actual_current\")}A`;\n    }\n\n    msg.topic = `*** Resum càrrega ***\n    \n        🔌  Cargant amb ${chargeType} a ${Math.abs(flow.get(\"power\"))}kW\n        🪫  ${bat}\n        ✅ Inici de càrrega a les ${start_date}\n        🔋  Límit de càrrega ${flow.get(\"charge_limit_soc\")}%\n        ⌛️  Temps per finalitzar càrrega: ${how_long} \n        ⏱  Hora de finalització càrrega: ${str_new_date}\n    `;\n\n    if (parseInt(flow.get(\"charger_voltage\")) !== 2) {\n        msg.topic += `    ${voltage}\n        ${amps}\n        🔋 ${energyAdd}kWh afegits\n        `;\n    } else {\n        msg.topic += `    🔋 ${energyAdd}kWh afegits\n        `;\n    }\n\n} else {\n\n    let typeCharge = flow.get(\"typeCharge\");\n    if (typeCharge === 1) {\n        if (flow.get(\"fases\") === \"1\") {\n            textTypeCharge = \"AC monofàsica\";\n        } else {\n            textTypeCharge = \"AC trifàsica\";\n        }\n    } else if (typeCharge === 2) {\n        textTypeCharge = \"DC\";\n    }\n\n    msg.topic = `*** Resum càrrega ***\n    \n        🪫 ${bat}\n        🔋 Límit de càrrega ${flow.get(\"charge_limit_soc\")}%\n        🔌 Cable ${(flow.get(\"plugged_in\") === \"true\") ? \"connectat\" : \"no connectat\"}\n        🔋 Última càrrega:\n                \n            📈  Carregat del <b>${start_soc}%</b> al <b>${end_soc}%</b>\n            ⚡️  Afegits <b>${energyAdd} kWh</b> \n                  Usats <b>${energyUsed} kWh</b> \n                  Eficiencia <b>${efficiency} %</b> \n            🔌  Afegits amb <b>${textTypeCharge} </b>\n            ⌛️  <b>${timeOfCharge}</b> \n            🦾  <b>${Math.round(avgPower)} kW</b> (max: <b>${Math.round(maxPower)} kW</b>)\n        \n    `;\n    flow.set(\"rechargeSumary\", msg.topic);\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "7ebaf24052ba4529",
        "type": "comment",
        "z": "1073cb1121328c0b",
        "name": "Bot autosave messages",
        "info": "",
        "x": 120,
        "y": 1820,
        "wires": []
    },
    {
        "id": "f288aa8d393a412d",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Altitude",
        "func": "let altitude = flow.get('altitude') || [];\nlet elevation = flow.get('elevation');\n\nswitch (flow.get('state')) {\n    case \"driving\":\n        altitude.push(elevation);\n        flow.set('altitude', altitude);\n        break;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "58646a670b16b84f",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Get last message ID",
        "func": "let token = flow.get('telegram_token');\nlet chat_id = flow.get('telegram_chatId');\nlet message_id = flow.get(\"saveMessage\")+1;\nlet multimessage = flow.get('multiMessage');\n\nif (multimessage !== message_id){\n    var url = `https://api.telegram.org/bot${token}/deleteMessage?chat_id=${chat_id}&message_id=${multimessage}`\n    msg.url = url;\n    return msg;\n}else{\n    var url = `https://api.telegram.org/bot${token}/deleteMessage?chat_id=${chat_id}&message_id=${message_id}`\n    msg.url = url;\n    return msg;\n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1980,
        "wires": [
            [
                "5269f6792ff606f4"
            ]
        ]
    },
    {
        "id": "5269f6792ff606f4",
        "type": "http request",
        "z": "1073cb1121328c0b",
        "name": "HTTP Request (POST)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1270,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "b816b07e78814e27",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "save_travel",
        "func": "let start = flow.get(\"dades_start\") || [];\nlet end = flow.get(\"dades_end\") || [];\nlet diaSortida = new Date(start[0] * 1000).toLocaleDateString();\nlet hSortida = new Date(start[0] * 1000).toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' });\nlet hArribada = (end[0] !== undefined) ? `(${new Date(end[0] * 1000).toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' })}):</b>` : \":</b>\"\nlet geo = '';\nlet geofence = flow.get('geofence');\nlet latitude = flow.get('latitude');\nlet longitude = flow.get('longitude');\nlet max_speed = flow.get('max_speed');\nlet avg_speed = flow.get('avg_speed').toFixed(0);\nlet vel = flow.get('vel') || [];\nlet max_temp = flow.get('maxTemp').toFixed(1);\nlet min_temp = flow.get('minTemp').toFixed(1);\nlet avg_temp = flow.get('avgTemp').toFixed(1);\nlet altitude = flow.get('altitude') || [];\nlet maxIn_temp = flow.get('maxInTemp').toFixed(1);\nlet minIn_temp = flow.get('minInTemp').toFixed(1);\nlet avgIn_temp = flow.get('avgInTemp').toFixed(1);\nlet onclimate = flow.get('onclimate');\nlet offclimate = flow.get('offclimate');\nlet climatetime = flow.get('climatetime');\nlet energyTravel = flow.get(\"energyTravel\");\n\nfunction site(geofence, latitude, longitude, adres) {\n    if (adres == undefined) {\n        return \"En camí\"\n    } else {\n        if (geofence !== \"\" && geofence !== undefined) {\n            return `<a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${geofence}</a>`;\n        } else {\n            return `<a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${adres}</a>`;\n        }\n    }\n}\n\nfunction kilometers(km_inici, km_final) {\n    if (km_final == undefined) {\n        let kmactual = flow.get('odometer');\n        return (kmactual - km_inici).toFixed(2)\n    } else {\n        return (km_final - km_inici).toFixed(2)\n    }\n}\n\nfunction diftemps(temp_final, temp_inici) {\n    if (temp_final !== undefined) {\n        var timeDifference = temp_final - temp_inici;\n        var differenceDate = new Date(timeDifference * 1000);\n        var diffHours = differenceDate.getUTCHours();\n        var diffMinutes = differenceDate.getUTCMinutes();\n        var diffSeconds = differenceDate.getUTCSeconds();\n\n        if (diffMinutes == 0) {\n            return diffSeconds + ' s';\n\n        } else if (diffHours == 0) {\n            return diffMinutes + ' m : ' + diffSeconds + ' s';\n        } else {\n            return diffHours + ' h : ' + diffMinutes + ' m : ' + diffSeconds + ' s';\n        }\n    } else {\n        let tempnow = Math.round(Date.now() / 1000);\n        var timeDifference = tempnow - temp_inici;\n        var differenceDate = new Date(timeDifference * 1000);\n        var diffHours = differenceDate.getUTCHours();\n        var diffMinutes = differenceDate.getUTCMinutes();\n        var diffSeconds = differenceDate.getUTCSeconds();\n\n        if (diffMinutes == 0) {\n            return diffSeconds + ' s';\n\n        } else if (diffHours == 0) {\n            return diffMinutes + ' m : ' + diffSeconds + ' s';\n        } else {\n            return diffHours + ' h : ' + diffMinutes + ' m : ' + diffSeconds + ' s';\n        }\n    }\n\n}\n\nfunction mode(arr) {\n    const mode = {};\n    let max = 0, count = 0;\n\n    for (let i = 0; i < arr.length; i++) {\n        const item = arr[i];\n\n        if (mode[item]) {\n            mode[item]++;\n        } else {\n            mode[item] = 1;\n        }\n\n        if (count < mode[item]) {\n            max = item;\n            count = mode[item];\n        }\n    }\n\n    return max;\n};\n\nfunction climateuse(starttimetravel, endtimetravel, timeAc, onclima) {\n    let hores_ac = 0;\n    let minuts_ac = 0;\n    let seg_ac = 0;\n\n    let hores_v = 0;\n    let minuts_v = 0;\n    let seg_v = 0;\n\n    if (timeAc == 0 && onclima == 0) {\n        return \"A/C: Apagat\"\n    } else if (timeAc > 0 && onclima > 0) {\n\n        let time = Date.now();\n        let diftime = timeAc + (time - onclima);\n        let lasttime = new Date(diftime);\n        hores_ac += lasttime.getUTCHours();\n        minuts_ac += lasttime.getUTCMinutes();\n        seg_ac += lasttime.getUTCSeconds();\n\n    } else if (onclima > 0) {\n\n        let time3 = Date.now();\n        let diftime = time3 - onclima;\n        let lasttime = new Date(diftime);\n        hores_ac += lasttime.getUTCHours();\n        minuts_ac += lasttime.getUTCMinutes();\n        seg_ac += lasttime.getUTCSeconds();\n\n    } else if (timeAc > 0) {\n\n        let time = new Date(timeAc);\n        hores_ac += time.getUTCHours();\n        minuts_ac += time.getUTCMinutes();\n        seg_ac += time.getUTCSeconds();\n    }\n\n    if (endtimetravel !== undefined) {\n        var timeDifference = endtimetravel - starttimetravel;\n        var differenceDate = new Date(timeDifference * 1000);\n        hores_v = differenceDate.getUTCHours();\n        minuts_v = differenceDate.getUTCMinutes();\n        seg_v = differenceDate.getUTCSeconds();\n    } else {\n        let tempnow = Math.round(Date.now() / 1000);\n        var timeDifference = tempnow - starttimetravel;\n        var differenceDate = new Date(timeDifference * 1000);\n        hores_v = differenceDate.getUTCHours();\n        minuts_v = differenceDate.getUTCMinutes();\n        seg_v = differenceDate.getUTCSeconds();\n    }\n\n    let htm = hores_ac * 60;\n    let stm = seg_ac / 60;\n    let totalmin = minuts_ac + htm + stm;\n    let htm_v = hores_v * 60;\n    let stm_v = seg_v / 60;\n    let totalmin_v = minuts_v + htm_v + stm_v;\n    let useAC = Math.round(totalmin * 100 / totalmin_v);\n\n    if (hores_ac == 0 && minuts_ac == 0) {\n        return `A/C: ${seg_ac} s (${useAC}%)`\n    } else if (hores_ac == 0) {\n        return `A/C: ${minuts_ac} m : ${seg_ac} s (${useAC}%)`\n    } else {\n        return `A/C: ${hores_ac} h : ${minuts_ac} m : ${seg_ac} s (${useAC}%)`\n    }\n}\n\nfunction battery(end_lvl, start_lvl, energyUsed, km_inici, km_final) {\n    if (end_lvl == undefined) {\n        let lvl_now = flow.get('battery_level');\n        return `Inicial: ${start_lvl}% \n                Actual: ${lvl_now}%  \n                Utilitzada: ${(lvl_now - start_lvl) * -1}% `\n    } else {\n        if (energyUsed != -100) {\n            let consum = (energyUsed / (km_final - km_inici) * 1000).toFixed(0);\n            return `Inicial: ${start_lvl}% \n                Final: ${end_lvl}% \n                Utilitzada: ${(end_lvl - start_lvl) * -1}%\n                Energia usada: ${energyUsed} kWh\n                Consum: ${consum} Wh/km`\n        } else {\n            return `Inicial: ${start_lvl}% \n                Final: ${end_lvl}% \n                Utilitzada: ${(end_lvl - start_lvl) * -1}%`\n        }\n    }\n}\n\nfunction desnivell(array) {\n    var desnivell_positiu = 0;\n    var desnivell_negatiu = 0;\n\n    for (var i = 1; i < array.length; i++) {\n        var diferencial = array[i] - array[i - 1];\n        if (diferencial > 0) {\n            desnivell_positiu += diferencial;\n        }\n        else {\n            desnivell_negatiu -= diferencial;\n        }\n    }\n    return `Positiu: ${desnivell_positiu} m\n                Negatiu: ${desnivell_negatiu * -1} m\n                Acumulat: ${desnivell_positiu + desnivell_negatiu} m`\n}\n\nmsg.topic = `*** <a href=\"http://` + `${flow.get(\"iP\")}:${flow.get(\"portGrafana\")}/d/zm7wN6Zgz/drive-details?from=${flow.get('startDateDrive')}&to=${flow.get('endDateDrive')}&var-car_id=1&var-drive_id=${flow.get('idDrive')}&orgId=1\">Resum últim viatge ${diaSortida}</a> ***\n\n    ➡️  <b>Sordida (${hSortida}): </b>\n                ${site(start[1], start[2], start[3], start[4])}\n    🔚  <b>Arribada ${hArribada}\n                ${site(end[1], end[2], end[3], end[4])}\n    🛣️  <b>km:</b> \n                ${kilometers(start[5], end[5])} km\n    ⏱️  <b>Temps:</b> \n                ${diftemps(end[0], start[0])}\n    🏎️  <b>Velocitat:</b>\n                Mitja: ${avg_speed} km/h\n                Màxima: ${max_speed} km/h  \n                Moda: ${mode(vel)} km/h       \n    🔋  <b>Bateria:</b>\n                ${battery(end[6], start[6], energyTravel, start[5], end[5])}\n    🏔  <b>Desnivell:</b>\n                ${desnivell(altitude)}\n    🌡️ <b>Temperatura:</b>\n                             <u><i>Exterior</i>           <i>Interior</i>  </u>\n                <u><i>Màxima</i>     ${max_temp} °C           ${maxIn_temp} °C</u>\n                <u><i>Mínima</i>      ${min_temp} °C           ${minIn_temp} °C</u>\n                <u><i>Mitja</i>         ${avg_temp} °C           ${avgIn_temp} °C</u>\n                ${climateuse(start[0], end[0], climatetime, onclimate)}\n        `;\n\nmsg.payload.content = 'viatge';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1900,
        "wires": [
            [
                "b20ef36712e1cbb7",
                "e6af917bd52c5f6e",
                "58646a670b16b84f"
            ]
        ]
    },
    {
        "id": "e50db9720f68069b",
        "type": "switch",
        "z": "1073cb1121328c0b",
        "name": "",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "autosave_global",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "autosave_travel",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "autosave_charge",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "autosave_recharge",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "save_lastsix",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 370,
        "y": 1880,
        "wires": [
            [
                "4388808366fb4c6d"
            ],
            [
                "74ea29453876e305"
            ],
            [
                "0ade2685d9a8447a"
            ],
            [
                "e602b0ca7b87d5eb",
                "99e544a343cc07a4",
                "0ade2685d9a8447a",
                "10730882fb2615c5"
            ],
            [
                "5a1ab7076f7512cc"
            ]
        ]
    },
    {
        "id": "249c9aab37718178",
        "type": "delay",
        "z": "1073cb1121328c0b",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 510,
        "y": 1680,
        "wires": [
            [
                "51064b9cf8d2282d"
            ]
        ]
    },
    {
        "id": "e6af917bd52c5f6e",
        "type": "delay",
        "z": "1073cb1121328c0b",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 510,
        "y": 1720,
        "wires": [
            [
                "45647267c8098989"
            ]
        ]
    },
    {
        "id": "3ed8bad796546bc9",
        "type": "delay",
        "z": "1073cb1121328c0b",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 510,
        "y": 1760,
        "wires": [
            [
                "2e2d74be504855a8"
            ]
        ]
    },
    {
        "id": "6d920fc452126a42",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "save multi messageId",
        "func": "\nflow.set('multiMessage', msg.payload.content.message_id);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "5e7ac4331ed2b24a",
        "type": "inject",
        "z": "1073cb1121328c0b",
        "name": "",
        "props": [],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 840,
        "wires": [
            [
                "f288aa8d393a412d"
            ]
        ]
    },
    {
        "id": "e0b03872a1ea28d7",
        "type": "delay",
        "z": "1073cb1121328c0b",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 170,
        "y": 1880,
        "wires": [
            [
                "c47a1d5ab0d0db4e",
                "b07467a728c8f3d5"
            ]
        ]
    },
    {
        "id": "51064b9cf8d2282d",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "global summary",
        "func": "/* temporarly disable */\n//return;\n\n\nlet bat = '';\nlet geo = '';\nlet state = '';\nlet km = '';\nlet kmBat = flow.get('odometer') - flow.get('kmCharge');\nlet inside_temp = flow.get('inside_temp');\nlet outside_temp = flow.get('outside_temp');\nlet battery_level = flow.get('battery_level');\nlet usable_battery_level = flow.get('usable_battery_level');\nlet vampire = flow.get(\"vampireDrain\");\nlet geofence = flow.get('geofence');\nlet latitude = flow.get('latitude');\nlet longitude = flow.get('longitude');\nlet last_status_change = new Date(flow.get('since'));\nlet sentry_mode = '';\nlet dades_end = flow.get(\"dades_end\") || [];\nlet dia = new Date().toLocaleDateString();\nlet hora = new Date().toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' });\nlet adresa = dades_end[4];\n\nfunction calc_difference() {\n  let diffInMilliSeconds = Math.abs(new Date().getTime() - new Date(flow.get('since')).getTime()) / 1000;\n\n  // calculate days\n  const days = Math.floor(diffInMilliSeconds / 86400);\n  diffInMilliSeconds -= days * 86400;\n\n  // calculate hours\n  const hours = Math.floor(diffInMilliSeconds / 3600) % 24;\n  diffInMilliSeconds -= hours * 3600;\n\n  // calculate minutes\n  const minutes = Math.floor(diffInMilliSeconds / 60) % 60;\n  diffInMilliSeconds -= minutes * 60;\n\n  let difference = '';\n  if (days > 0) {\n    difference += `${days}d `;\n  }\n  if (hours > 0) {\n    difference += `${hours}h `;\n  }\n\n  difference += `${minutes}m`;\n\n  return difference;\n\n}\n\nfunction toFloat(num, precision) {\n  return parseFloat(num).toFixed(precision);\n}\n\n/**\n* @param {number} percent\n*/\nfunction getBatteryIcon(percent) {\n  let ico = `🔋 `;\n  if (percent <= 40) {\n    ico = `🪫 `;\n  }\n  return ico;\n}\n\nswitch (flow.get('state')) {\n  case \"online\":\n    state = 'Despert'\n    break;\n  case \"asleep\":\n    state = `Dormit fa ${calc_difference()}`\n    break;\n  case \"suspended\":\n    state = `Dormint-se des de fa ${calc_difference()}`\n    break;\n  case \"charging\":\n    state = 'Carregant'\n    break;\n  case \"offline\":\n    state = 'Desconectat'\n    break;\n  case \"start\":\n    state = 'Arrancant'\n    break;\n  case \"driving\":\n    state = 'Conduïnt'\n    break;\n  case \"updating\":\n    state = `Actualitzant durant ${calc_difference()}`;\n    break;\n  default:\n    state = 'Desconegut'\n}\n\nbat = getBatteryIcon(usable_battery_level);\nif (usable_battery_level !== battery_level) {\n  if (vampire > 0) {\n    bat += ` Usable ${usable_battery_level}% (disp. ${battery_level}%) - ${flow.get('rated_battery_range_km')} km\n    🦇 Consum vampíric ${vampire}%`;\n  } else {\n    bat += ` Usable ${usable_battery_level}% (disp. ${battery_level}%) - ${flow.get('rated_battery_range_km')} km`;\n  }\n} else {\n  if (vampire > 0) {\n    bat += ` Disponible ${usable_battery_level}% - ${flow.get('rated_battery_range_km')} km\n    🦇 Consum vampíric ${vampire}%`;\n  } else {\n    bat += ` Disponible ${usable_battery_level}% - ${flow.get('rated_battery_range_km')} km`;\n  }\n}\n\nif(kmBat > 0){\n  km = `⚙️  ${Intl.NumberFormat('es-ES').format(parseInt(flow.get('odometer')))} km\n          ${kmBat.toFixed(2)} km des de l'última càrrega`\n}else{\n  km = `⚙️  ${Intl.NumberFormat('es-ES').format(parseInt(flow.get('odometer')))} km`\n}\n\nif (geofence !== \"\" && geofence !== undefined) {\n  geo = `Està a <a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${geofence}</a>`;\n} else {\n  geo = `Està a <a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${adresa}</a>`;\n}\n\nif (flow.get('sentry_mode') === \"true\") {\n  sentry_mode = `🟢  Sentinella activat`;\n} else {\n  sentry_mode = `⚫️  Sentinella desactivat`;\n}\n\nmsg.topic = `*** Resum general ***\n\n    💿  <a href=\"https://www.notateslaapp.com/software-updates/version/${flow.get('version')}/release-notes\">${flow.get('version')}</a> ${(flow.get('update_available') === 'true') ? `(disponible <a href=\"https://www.notateslaapp.com/software-updates/version/${flow.get('update_version')}/release-notes\"><i>${flow.get('update_version')}</i></a>)` : ''}\n    🚗  ${state}\n    ${km}\n    🔐  ${(flow.get('locked') === \"true\") ? 'Tancat' : 'Obert'}\n    ${bat}\n    🛞  Pressió de les rodes:\n              ${toFloat(flow.get('tpms_pressure_fl'), 3)} --- ${toFloat(flow.get('tpms_pressure_fr'), 3)}\n              ${toFloat(flow.get('tpms_pressure_rl'), 3)} --- ${toFloat(flow.get('tpms_pressure_rr'), 3)}\n    🌡️  Interior ${inside_temp}ºC\n    🌡️  Exterior ${outside_temp}ºC\n    🌎  ${geo}\n    ${sentry_mode}\n`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1360,
        "wires": [
            [
                "1654e644c8b93a25"
            ]
        ]
    },
    {
        "id": "e602b0ca7b87d5eb",
        "type": "delay",
        "z": "1073cb1121328c0b",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 1980,
        "wires": [
            [
                "83667488481560b6"
            ]
        ]
    },
    {
        "id": "2adc65149c72859b",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Get query for charge sumary",
        "func": "let oldState = flow.get(\"oldState\");\n\nif (oldState == \"charging\"){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1980,
        "y": 1760,
        "wires": [
            [
                "10730882fb2615c5",
                "fa3217298f31703f",
                "d7f95f9faaa9ec97",
                "8b1ce9554f02875e"
            ]
        ]
    },
    {
        "id": "10730882fb2615c5",
        "type": "postgresql",
        "z": "1073cb1121328c0b",
        "name": "Query energy used",
        "query": "SELECT charge_energy_used FROM public.charging_processes\nORDER BY id DESC\nLIMIT 1",
        "postgreSQLConfig": "07193cee98e5185b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2230,
        "y": 1580,
        "wires": [
            [
                "fbd4331839086994"
            ]
        ]
    },
    {
        "id": "fbd4331839086994",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "energy used",
        "func": "flow.set('energyUsed', msg.payload[0].charge_energy_used)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2450,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "fb38775ead07d376",
        "type": "postgresql",
        "z": "1073cb1121328c0b",
        "name": "Start date drive",
        "query": "SELECT start_date from public.drives \nORDER BY id DESC \nLIMIT 1;",
        "postgreSQLConfig": "07193cee98e5185b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2220,
        "y": 1880,
        "wires": [
            [
                "891f4d330506ad9c"
            ]
        ]
    },
    {
        "id": "e099382168d82274",
        "type": "comment",
        "z": "1073cb1121328c0b",
        "name": "Querys",
        "info": "",
        "x": 1910,
        "y": 1540,
        "wires": []
    },
    {
        "id": "30b33bb33a6eec87",
        "type": "postgresql",
        "z": "1073cb1121328c0b",
        "name": "End date drive",
        "query": "SELECT end_date from public.drives \nORDER BY id DESC \nLIMIT 1;",
        "postgreSQLConfig": "07193cee98e5185b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2220,
        "y": 1940,
        "wires": [
            [
                "a4c2d56893583144"
            ]
        ]
    },
    {
        "id": "16aec69e45c51382",
        "type": "postgresql",
        "z": "1073cb1121328c0b",
        "name": "id last drive",
        "query": "SELECT id from public.drives \nORDER BY id DESC \nLIMIT 1;",
        "postgreSQLConfig": "07193cee98e5185b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2210,
        "y": 1820,
        "wires": [
            [
                "5094111f3d64dae8"
            ]
        ]
    },
    {
        "id": "5094111f3d64dae8",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "id drive",
        "func": "flow.set('idDrive', msg.payload[0].id);\nmsg.payload = msg.payload[0].id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2440,
        "y": 1820,
        "wires": [
            [
                "d378ddb4f843f832"
            ]
        ]
    },
    {
        "id": "891f4d330506ad9c",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "start date drive",
        "func": "flow.set('startDateDrive', msg.payload[0].start_date.getTime() + 7200000)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2460,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "a4c2d56893583144",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "end datedrive",
        "func": "flow.set('endDateDrive', msg.payload[0].end_date.getTime() + 7200000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2460,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "80129abf44e430bd",
        "type": "link in",
        "z": "1073cb1121328c0b",
        "name": "link in 1",
        "links": [
            "256bab6b1a88bfb9"
        ],
        "x": 1755,
        "y": 1820,
        "wires": [
            [
                "062f9fa08c3528a7"
            ]
        ]
    },
    {
        "id": "062f9fa08c3528a7",
        "type": "delay",
        "z": "1073cb1121328c0b",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1870,
        "y": 1820,
        "wires": [
            [
                "2adc65149c72859b",
                "a86e65da08bed97e"
            ]
        ]
    },
    {
        "id": "a86e65da08bed97e",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Get query for travel sumary",
        "func": "let oldState = flow.get(\"oldState\");\n\nif (oldState == \"driving\"){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1980,
        "y": 1880,
        "wires": [
            [
                "16aec69e45c51382",
                "fb38775ead07d376",
                "30b33bb33a6eec87"
            ]
        ]
    },
    {
        "id": "d7f95f9faaa9ec97",
        "type": "postgresql",
        "z": "1073cb1121328c0b",
        "name": "start Date charge",
        "query": "SELECT start_date FROM public.charging_processes\nORDER BY id DESC\nLIMIT 1",
        "postgreSQLConfig": "07193cee98e5185b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2230,
        "y": 1700,
        "wires": [
            [
                "4d6ad08e485b1069"
            ]
        ]
    },
    {
        "id": "8b1ce9554f02875e",
        "type": "postgresql",
        "z": "1073cb1121328c0b",
        "name": "end Date Charge",
        "query": "SELECT end_date FROM public.charging_processes\nORDER BY id DESC\nLIMIT 1",
        "postgreSQLConfig": "07193cee98e5185b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2230,
        "y": 1760,
        "wires": [
            [
                "a2f6a1bf433bdfad"
            ]
        ]
    },
    {
        "id": "fa3217298f31703f",
        "type": "postgresql",
        "z": "1073cb1121328c0b",
        "name": "id charge",
        "query": "SELECT id FROM public.charging_processes\nORDER BY id DESC\nLIMIT 1",
        "postgreSQLConfig": "07193cee98e5185b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2200,
        "y": 1640,
        "wires": [
            [
                "4d7d857a19774379"
            ]
        ]
    },
    {
        "id": "4d7d857a19774379",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "id charge",
        "func": "flow.set('idCharge', msg.payload[0].id)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2440,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "4d6ad08e485b1069",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "start date charge",
        "func": "flow.set('startDateCharge', msg.payload[0].start_date.getTime() + 7200000)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2470,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "a2f6a1bf433bdfad",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "end date charge",
        "func": "flow.set('endDateCharge', msg.payload[0].end_date.getTime() + 7200000)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2460,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "99e544a343cc07a4",
        "type": "delay",
        "z": "1073cb1121328c0b",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 1940,
        "wires": [
            [
                "0ade2685d9a8447a"
            ]
        ]
    },
    {
        "id": "d378ddb4f843f832",
        "type": "postgresql",
        "z": "1073cb1121328c0b",
        "name": "Energy travel",
        "query": "SELECT (NULLIF(GREATEST(start_rated_range_km - end_rated_range_km, 0), 0) * car.efficiency)\nFROM public.drives d\nJOIN cars car ON car.id = car_id\nWHERE d.id = {{{msg.payload}}};",
        "postgreSQLConfig": "07193cee98e5185b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2650,
        "y": 1820,
        "wires": [
            [
                "06a31738090ac28a"
            ]
        ]
    },
    {
        "id": "06a31738090ac28a",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "energy travel",
        "func": "try{\n    flow.set('energyTravel', msg.payload[0][\"?column?\"].toFixed(2));\n}catch (err){\n    flow.set('energyTravel', -100); \n}\nmsg.payload = flow.get(\"energyTravel\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2830,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "74ea29453876e305",
        "type": "delay",
        "z": "1073cb1121328c0b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 520,
        "y": 1900,
        "wires": [
            [
                "b816b07e78814e27"
            ]
        ]
    },
    {
        "id": "dfe523f0ac4f5270",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Last six travels",
        "func": "let start = flow.get(\"dades_start\") || [];\nlet end = flow.get(\"dades_end\") || [];\nlet diaSortida = new Date(start[0] * 1000).toLocaleDateString();\nvar lastsixMessages = flow.get(\"lastsixMessages\") || [];;\n\nfunction site(geofence, latitude, longitude, adres) {\n    if (adres == undefined) {\n        return \"En camí\"\n    } else {\n        if (geofence !== \"\" && geofence !== undefined) {\n            return `<a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${geofence}</a>`;\n        } else {\n            return `<a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${adres}</a>`;\n        }\n    }\n}\n\n// Esta función se ejecutará cada vez que llegue un nuevo mensaje desde Telegram\nfunction storeLastsixMessages(msg) {\n    // Crear un objeto que represente el mensaje actual\n    var messageObject = {\n        km: (end[5] - start[5]).toFixed(0),\n        content: msg.topic\n    };\n\n    // Agregar el nuevo objeto a la matriz\n    lastsixMessages.push(messageObject);\n\n    // Limitar el tamaño de la matriz a 5 elementos (los últimos 5 mensajes)\n    if (lastsixMessages.length > 6) {\n        lastsixMessages.shift(); // Eliminar el mensaje más antiguo (el primero de la matriz)\n    }\n}\n\nstoreLastsixMessages(msg)\n\n\n// Enviar la matriz actualizada a través del flujo de salida\nmsg.payload = lastsixMessages;\n\nflow.set(\"lastsixMessages\", lastsixMessages);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "23a8738833246d23",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Selecció últims 6",
        "func": "\nmsg.topic = `<b>ÚLTIMS SIS VIATGES</b>`;\n    \nmsg.payload.content = 'sis';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1500,
        "wires": [
            [
                "1654e644c8b93a25"
            ]
        ]
    },
    {
        "id": "ff2f3cf5e628698b",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Visualització últims viatges",
        "func": "let lastsixMessages = flow.get(\"lastsixMessages\") || [];\nlet viatge = msg.payload.content.split(\"_\");\nlet numViatge = viatge[1] - 1;\n\nmsg.topic = `<b>Viatge ${viatge[1]}</b>\n${lastsixMessages[numViatge].content}`;\n\nmsg.payload.content = 'sis';\n\nflow.set(\"viatge\", viatge[1]);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1540,
        "wires": [
            [
                "1654e644c8b93a25"
            ]
        ]
    },
    {
        "id": "855d2429b7494ab1",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "save_travel",
        "func": "let lastsixMessages = flow.get(\"lastsixMessages\") || [];\nlet viatge = flow.get(\"viatge\");\n\nmsg.topic = `${lastsixMessages[viatge-1].content}`;\n\nmsg.payload.content = `Travel_${viatge}`;\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1580,
        "wires": [
            [
                "b20ef36712e1cbb7",
                "a9b24c5279588e40"
            ]
        ]
    },
    {
        "id": "a9b24c5279588e40",
        "type": "delay",
        "z": "1073cb1121328c0b",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 710,
        "y": 1580,
        "wires": [
            [
                "ff2f3cf5e628698b"
            ]
        ]
    },
    {
        "id": "5a1ab7076f7512cc",
        "type": "delay",
        "z": "1073cb1121328c0b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 520,
        "y": 1860,
        "wires": [
            [
                "69f217d8c277d86f"
            ]
        ]
    },
    {
        "id": "004c965adf14c244",
        "type": "function",
        "z": "1073cb1121328c0b",
        "name": "Save orders 6",
        "func": "let start = flow.get(\"dades_start\") || [];\nlet end = flow.get(\"dades_end\") || [];\nlet currentState = flow.get(\"currentState\");\nlet oldState = flow.get(\"oldState\");\nlet km = end[5] - start[5];\n\nif (oldState == \"driving\" && km >= flow.get(\"distLastSix\")) {\n    msg.payload = {}\n    msg.payload.content = 'save_lastsix';\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1960,
        "wires": [
            [
                "e50db9720f68069b"
            ]
        ]
    },
    {
        "id": "b07467a728c8f3d5",
        "type": "delay",
        "z": "1073cb1121328c0b",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 110,
        "y": 1960,
        "wires": [
            [
                "004c965adf14c244"
            ]
        ]
    },
    {
        "id": "459d96c62d8d6e7e",
        "type": "telegram bot",
        "z": "1073cb1121328c0b",
        "botname": "pmb_tesla_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false,
        "info": "159696647614"
    },
    {
        "id": "acbce132.6eef4",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "192.168.1.98",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "07193cee98e5185b",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "192.168.1.98",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "teslamate",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "teslamate",
        "userFieldType": "str",
        "password": "ferran1993",
        "passwordFieldType": "str"
    }
]