flows/Tesla_ESP.json
[
    {
        "id": "ba42b43a13e256f6",
        "type": "tab",
        "label": "Tesla ESP",
        "disabled": false,
        "info": ""
    },
    {
        "id": "14b8c05faba4c931",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "geofence",
        "func": "let previous_fence = flow.get('geofence');\nlet new_fence = msg.payload;\n//flow.set('geofence',new_fence);\nmsg.topic = '';\n\nif(previous_fence !== new_fence){\n    if(previous_fence !== \"\"){\n        msg.topic = `sale de la zona <b>${previous_fence}</b>`;\n    }\n    if(new_fence !== \"\"){\n        if(previous_fence !== \"\"){\n            msg.topic += ' y ';\n        }\n        msg.topic += `entra a la zona <b>${new_fence}</b>`;\n    }\n} else return null;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set('geofence','Casa');",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "560d9b13f0462903"
            ]
        ]
    },
    {
        "id": "560d9b13f0462903",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Format message",
        "func": "let display_name = flow.get('display_name');\n\nmsg.payload = {\n    chatId: flow.get('telegram_chatId'),\n    type: 'message',\n    content: `<b>${display_name}</b> ${msg.topic}`\n}\nmsg.payload.options = {\n    parse_mode : \"HTML\", \n    disable_web_page_preview: true\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 140,
        "wires": [
            [
                "f2500a6c0ecf6b09"
            ]
        ]
    },
    {
        "id": "f2500a6c0ecf6b09",
        "type": "telegram sender",
        "z": "ba42b43a13e256f6",
        "name": "Status messages",
        "bot": "1eba02042b5194f4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1050,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "fdacca8746960a85",
        "type": "switch",
        "z": "ba42b43a13e256f6",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "state",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "geofence",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "time_to_full_charge",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "update_version",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "elevation",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "is_climate_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "charger_power",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "battery_level",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "power",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 9,
        "x": 270,
        "y": 380,
        "wires": [
            [
                "a93fd520a7c05dc3",
                "87c6f8f29ff19486",
                "ab7c5bcf740dad05",
                "f2384d696ece334c",
                "d4691f7268627e94",
                "7a0c9f5654535cf4",
                "2ccf38a52d8e1513",
                "9c2855597af5db0f",
                "7c120b7c75acf73c",
                "67ad4746714c1e2e"
            ],
            [],
            [],
            [
                "86cde90adb3641c7"
            ],
            [
                "b23fdaf0a487f885"
            ],
            [
                "05b89a680b935097"
            ],
            [
                "fa9865681a5db138"
            ],
            [
                "44a604807075207c",
                "67ad4746714c1e2e"
            ],
            []
        ]
    },
    {
        "id": "ba9e476354aa3b1b",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "time to full charge",
        "func": "//node.warn(msg.topic + \": \" + msg.payload);\n\nlet previous = flow.get('time_to_full_charge');\nif(flow.get('state') !== 'charging' || \n    previous.timeleft === msg.payload){\n        //node.warn('returned from 1 ' + flow.get('state'))\n        return;\n}\n\nlet now = Math.round(Date.now()/1000);\nlet current = { timestamp: now, timeleft: msg.payload};\nlet remaining = msg.payload.split('.');\nlet minutes = Math.ceil(60 * Number(\".\" + remaining[1]));\n\n// If more than 1 hour remaining, print max 1 time per 15 minutes\nif(remaining[0] > 0 && (now - previous.timestamp)/60 <= 15)\n    return;\n// If less than 1 hour remaining, print max 1 time per 5 minutes\nif(remaining[0] == 0 && (now - previous.timestamp)/60 < 5)\n    return;\n    \nlet how_long = \"\";\nif(remaining[0] > 0){\n    how_long = `${remaining[0]} horas ${minutes} minutos`\n} else {\n    how_long = `${minutes} minutos`\n}\nflow.set('time_to_full_charge',current);\nmsg.topic = `estará carregado en <b>${how_long}</b>`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set('time_to_full_charge',{timestamp:0,timeleft:0});\n",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 180,
        "wires": [
            [
                "560d9b13f0462903"
            ]
        ]
    },
    {
        "id": "86cde90adb3641c7",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "update",
        "func": "let payload = msg.payload;\nlet current_version = flow.get('software_current_version');\nlet new_version = flow.get('software_new_version');\n\n//node.warn(msg.topic + \": \" + msg.payload);\n\nif (payload !== \"\" && payload !== current_version && payload !== new_version) {\n    msg.topic = `🎁 tiene una actualización disponible: <a href=\"https://www.notateslaapp.com/software-updates/version/${payload}/release-notes\"><i>${payload}</i></a>`;\n    //flow.set('software_new_version', payload);\n} else {\n    return;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 240,
        "wires": [
            [
                "560d9b13f0462903"
            ]
        ]
    },
    {
        "id": "6c9e596a134162e9",
        "type": "link out",
        "z": "ba42b43a13e256f6",
        "name": "change-state",
        "mode": "link",
        "links": [
            "fe8618eb14026cff"
        ],
        "x": 635,
        "y": 60,
        "wires": []
    },
    {
        "id": "b9cd080698a43a42",
        "type": "delay",
        "z": "ba42b43a13e256f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1840,
        "y": 180,
        "wires": [
            [
                "8291a6a50085f780"
            ]
        ]
    },
    {
        "id": "82f8a804cd18483e",
        "type": "switch",
        "z": "ba42b43a13e256f6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "charging",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "driving",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "parked",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "online",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 1430,
        "y": 420,
        "wires": [
            [
                "f95778652ddf43df"
            ],
            [
                "fa84a15cc1ef6120"
            ],
            [
                "5574ecf928fbcf75"
            ],
            [
                "5574ecf928fbcf75"
            ],
            [
                "a8f11dc4a5e0987f"
            ]
        ]
    },
    {
        "id": "fa84a15cc1ef6120",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "set parameters",
        "func": "const USER_TOKEN = flow.get('abrp_user_token');\nconst CAR_MODEL = flow.get('abrp_car_model');\nconst API_KEY = flow.get('abrp_api_key');\n\nlet data = {\n    utc: Math.floor(Date.now() / 1000),\n    soc: flow.get('usable_battery_level') || 0,\n    power: flow.get('power') || 0,\n    speed: flow.get('speed') || 0,\n    lat: flow.get('latitude') || 0,\n    lon: flow.get('longitude') || 0,\n    is_charging: false,\n    is_dcfc: false,\n    is_parked: false,\n    heading: flow.get('heading') || 0,\n    elevation: flow.get('elevation') || 0,\n    ext_temp: flow.get('outside_temp') || 0,\n    voltage: flow.get('charger_voltage') || 0,\n    current: flow.get('charger_actual_current') || 0,\n    odometer: flow.get('odometer') || 0,\n    est_battery_range: flow.get('rated_battery_range_km') || 0,\n    kwh_charged: flow.get('charge_energy_added') || 0,\n    car_model: CAR_MODEL\n};\nlet state = flow.get('state');\n\nswitch(state) {\n    case 'driving':\n        data.is_parked = false\n        data.is_charging = false\n        data.is_dcfc = false\n        break;\n    case 'charging':\n        data.is_parked = true\n        data.is_charging = true\n        data.is_dcfc = true\n        break;\n    default:\n        data.is_parked = true\n        data.is_charging = false\n        data.is_dcfc = false\n}\n\nif (parseInt(flow.get('charger_power') > 0)){\n    data.is_charging = true\n}\n\nswitch (flow.get('shift_state')) {\n    case 'P':\n    case 'N':\n        data.is_parked = true\n        break;\n    case 'D':\n    case 'R':\n        data.is_parked = false\n        break;\n}\n\nif (state !== \"charging\"){\n    delete data.kwh_charged;\n    delete data.voltage;\n}\n\nmsg.headers={ \n    'Content-Type': 'application/json',\n    'Authorization': 'APIKEY ' + API_KEY\n};\n//msg.payload = {};\nmsg.payload = {tlm: data};\nmsg.userToken = USER_TOKEN;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2040,
        "y": 440,
        "wires": [
            [
                "58cad0adb6f590be"
            ]
        ]
    },
    {
        "id": "58cad0adb6f590be",
        "type": "http request",
        "z": "ba42b43a13e256f6",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.iternio.com/1/tlm/send?token={{userToken}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2310,
        "y": 420,
        "wires": [
            [
                "805244f063fce876"
            ]
        ]
    },
    {
        "id": "8291a6a50085f780",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "get car state",
        "func": "let previous_state = flow.get('previous_state');\nlet current_state = flow.get('state');\n\n//node.warn(previous_state + \" : \" + current_state);\n\nif (previous_state !== current_state){\n    flow.set('previous_state', current_state);\n    flow.set('i', 300);\n}\n\nmsg.payload = current_state;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2030,
        "y": 180,
        "wires": [
            [
                "82f8a804cd18483e"
            ]
        ]
    },
    {
        "id": "fe8618eb14026cff",
        "type": "link in",
        "z": "ba42b43a13e256f6",
        "name": "abrp",
        "links": [
            "6c9e596a134162e9",
            "bb89821881876683"
        ],
        "x": 1885,
        "y": 120,
        "wires": [
            [
                "8291a6a50085f780"
            ]
        ]
    },
    {
        "id": "a8f11dc4a5e0987f",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "set counter",
        "func": "let i=parseInt(flow.get('i'));\ni +=1;\n\nif (i > 300){\n    i = 0;\n}\n\nflow.set('i',i);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set('previous_state', 'asleep');\nflow.set('i', -1)",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 180,
        "wires": [
            [
                "b9cd080698a43a42"
            ]
        ]
    },
    {
        "id": "09d4fb025e1d6f91",
        "type": "inject",
        "z": "ba42b43a13e256f6",
        "name": "Start ABRP",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1410,
        "y": 180,
        "wires": [
            [
                "a8f11dc4a5e0987f"
            ]
        ]
    },
    {
        "id": "805244f063fce876",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "reset counter",
        "func": "let i=parseInt(flow.get('i'));\n\nif (i > 30){\n    flow.set('i',-1);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2090,
        "y": 300,
        "wires": [
            [
                "a8f11dc4a5e0987f"
            ]
        ]
    },
    {
        "id": "f95778652ddf43df",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "delay 10 segs",
        "func": "let i=parseInt(flow.get('i'));\n\nif (i % 2 === 0){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 380,
        "wires": [
            [
                "a603406448b1b8fb"
            ]
        ]
    },
    {
        "id": "5574ecf928fbcf75",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "delay 2,5 min",
        "func": "let i=parseInt(flow.get('i'));\n\n//node.warn(\"Valor de 'i': \" + i);\n\nif (i % 30 === 0){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 460,
        "wires": [
            [
                "a603406448b1b8fb"
            ]
        ]
    },
    {
        "id": "a603406448b1b8fb",
        "type": "switch",
        "z": "ba42b43a13e256f6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1870,
        "y": 340,
        "wires": [
            [
                "fa84a15cc1ef6120"
            ],
            [
                "805244f063fce876"
            ]
        ]
    },
    {
        "id": "07f3d3d844a365d6",
        "type": "mqtt in",
        "z": "ba42b43a13e256f6",
        "name": "",
        "topic": "teslamate/cars/1/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "acbce132.6eef4",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "50e25e1cf84ebb7e"
            ]
        ]
    },
    {
        "id": "97eef9689b024d2d",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "short topic",
        "func": "var short_topic = msg.topic.substring(17);\nmsg.topic = short_topic;\nflow.set(msg.topic, msg.payload);\n//node.warn(msg.topic + \": \" + msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 240,
        "wires": [
            [
                "fdacca8746960a85"
            ]
        ]
    },
    {
        "id": "33511019e21e93c7",
        "type": "comment",
        "z": "ba42b43a13e256f6",
        "name": "MQTT to Telegram",
        "info": "",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "c966e977b665f43a",
        "type": "comment",
        "z": "ba42b43a13e256f6",
        "name": "MQTT to ABRP",
        "info": "",
        "x": 1380,
        "y": 80,
        "wires": []
    },
    {
        "id": "a66001b54c3b541b",
        "type": "telegram command",
        "z": "ba42b43a13e256f6",
        "name": "/Start",
        "command": "/Start",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "1eba02042b5194f4",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": true,
        "outputs": 1,
        "x": 750,
        "y": 1340,
        "wires": [
            [
                "3db3c139c64a5aca",
                "6e18c5fd14cc5ad5"
            ]
        ]
    },
    {
        "id": "f2c23e12e14fb2a4",
        "type": "telegram event",
        "z": "ba42b43a13e256f6",
        "name": "",
        "bot": "1eba02042b5194f4",
        "event": "callback_query",
        "autoanswer": false,
        "x": 100,
        "y": 1460,
        "wires": [
            [
                "c3218e1341a1e580",
                "db54a20d845cd726"
            ]
        ]
    },
    {
        "id": "c3218e1341a1e580",
        "type": "switch",
        "z": "ba42b43a13e256f6",
        "name": "",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "summary_global",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "summary_recharge",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "summary_travel",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "save_lastsix",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Travel_",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "save_travel",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 290,
        "y": 1460,
        "wires": [
            [
                "ef68958148bbfe9d"
            ],
            [
                "50754b32966ce3ea"
            ],
            [
                "76844c6cc293b346"
            ],
            [
                "9d3e40a7a3705821"
            ],
            [
                "3925b0c1333c3890"
            ],
            [
                "7e83e06e4048acc6"
            ]
        ]
    },
    {
        "id": "ff83f53c86ab4e89",
        "type": "telegram sender",
        "z": "ba42b43a13e256f6",
        "name": "send response",
        "bot": "1eba02042b5194f4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1280,
        "y": 1460,
        "wires": [
            [
                "3957b35ffe7e38c4"
            ]
        ]
    },
    {
        "id": "1f1fe0851b6c8010",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "format message",
        "func": "let content = ((msg.topic !== undefined) ? msg.topic : '') + `\n*** Opciones disponibles ***\n`;\n\nlet opts = {\n    parse_mode: \"HTML\",\n    disable_web_page_preview: true,\n    reply_markup: msg.buttons\n};\n\nmsg.payload = {\n    chatId: flow.get('telegram_chatId'),\n    type: 'message',\n    options: opts,\n    content: content\n}\n\nreturn [msg];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1460,
        "wires": [
            [
                "ff83f53c86ab4e89",
                "ba0eefc7a5bf5be5"
            ]
        ]
    },
    {
        "id": "50754b32966ce3ea",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "recharge summary",
        "func": "/* temporarly disable */\n//return;\n\nlet state = flow.get(\"state\");\nlet bat = '';\nlet battery_level = flow.get('battery_level');\nlet usable_battery_level = flow.get('usable_battery_level');\nlet energyAdd = flow.get(\"charge_energy_added\");\nlet energyUsed = flow.get(\"energyUsed\");\nlet efficiency = (energyAdd*100/energyUsed).toFixed(2);\nlet timeOfCharge = flow.get('timeOfCharge')\nlet maxPower = flow.get('maxPower');\nlet avgPower = flow.get('avgPower');\nlet start_soc = flow.get(\"startCBL\");;\nlet end_soc = flow.get(\"endCBL\");\nlet textTypeCharge = \"\";\n\nif (usable_battery_level !== battery_level){\n    bat = `Bateria usable ${usable_battery_level}% (<i>${battery_level}%</i>) - ${flow.get('rated_battery_range_km')}km`;\n}else{\n    bat = `Bateria disponible ${usable_battery_level}% - ${flow.get('rated_battery_range_km')}km`;\n}\n\nif (state === \"charging\"){\n    // Remaining\n    let time_to_full = flow.get(\"time_to_full_charge\");\n    let remaining = time_to_full.split('.');\n    let minutes = Math.ceil(60 * Number(\".\" + remaining[1]));\n    let total_minutes = (remaining[0]*60)+minutes;\n    let finish_date = Date.now() + (total_minutes*60000);\n    let new_date = new Date(finish_date);\n    let str_new_date = new_date.toLocaleTimeString('es-ES', {timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' });\n    let start_date = new Date(flow.get('startCharge')).toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' });\n\n    let how_long = \"\";\n    if(remaining[0] > 0){\n        how_long = `${remaining[0]}h ${minutes}m`;\n    } else {\n        how_long = `${minutes}m`;\n    }\n    \n    let voltage = \"\";\n    let amps = \"\";\n    let chargeType = '';\n    if (parseInt(flow.get(\"charger_voltage\")) === 2){\n        chargeType = `DC`;\n        flow.set(\"typeCharge\", 2);\n    }else{\n        chargeType = `AC ${(flow.get(\"charger_phases\") === \"1\") ? 'monofásica' : 'trifásica'}`;\n        flow.set(\"typeCharge\", 1);\n        \n        voltage = `⚡️ Voltaje: ${flow.get(\"charger_voltage\")}V`;\n        amps = `⚡️ Intensidad: ${flow.get(\"charger_actual_current\")}A`;\n    }\n    \n    msg.topic = `*** <a href=\"http://` + `${flow.get(\"iP\")}:${flow.get(\"portGrafana\")}/d/K9VmZD54k/current-charge-view?orgId=1\">Resumen carga</a> ***\n    \n        🔌  Cargando en ${chargeType} a ${Math.abs(flow.get(\"power\"))}kW\n        🪫  ${bat}\n        ✅ Inicio de la carga ${start_date}\n        🔋  Límite de carga ${flow.get(\"charge_limit_soc\")}%\n        ⌛️  Tiempo para finalizar carga: ${how_long} \n        ⏱  Hora de finalización carga: ${str_new_date}\n    `;\n\n    if (parseInt(flow.get(\"charger_voltage\")) !== 2) {\n        msg.topic += `    ${voltage}\n        ${amps}\n        🔋 ${energyAdd}kWh añadidos\n        `;\n    }else{\n        msg.topic += `    🔋 ${energyAdd}kWh añadidos\n        `;\n    }\n\n}else{\n\n    let typeCharge = flow.get(\"typeCharge\");\n    if (typeCharge === 1){\n        if (flow.get(\"fases\") === \"1\"){\n            textTypeCharge = \"AC monofásica\";\n        }else{\n            textTypeCharge = \"AC trifásica\";\n        }\n    }else if(typeCharge === 2){\n        textTypeCharge = \"DC\";\n    }\n    \n    msg.topic = `*** <a href=\"http://192.168.1.139:3000/d/BHhxFeZRz/charge-details?from=${flow.get('startDateCharge')}&to=${flow.get('endDateCharge')}&var-car_id=1&var-drive_id=${flow.get('idCharge')}&orgId=1\">Resumen carga</a> ***\n    \n        🪫 ${bat}\n        🔋 Límite de carga ${flow.get(\"charge_limit_soc\")}%\n        🔌 Cable ${(flow.get(\"plugged_in\") === \"true\") ? \"conectado\" : \"no conectado\"}\n        🔋 Última carga:\n                \n            📈  Cargado del <b>${start_soc}%</b> al <b>${end_soc}%</b>\n            ⚡️  Añadidos <b>${energyAdd} kWh</b> \n                  Usados <b>${energyUsed} kWh</b> \n                  Eficiencia <b>${efficiency} %</b> \n            🔌  Añadidos con <b>${textTypeCharge} </b>\n            ⌛️  <b>${timeOfCharge}</b> \n            🦾  <b>${Math.round(avgPower)} kW</b> (max: <b>${Math.round(maxPower)} kW</b>)\n        \n    `;\n    \n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1400,
        "wires": [
            [
                "6e18c5fd14cc5ad5"
            ]
        ]
    },
    {
        "id": "ba0eefc7a5bf5be5",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "remove last messageId",
        "func": "//node.warn(\"messageId : \" + context.global.keyboard.messageId);\nif (context.global.keyboard.messageId !== undefined){\n    msg.payload.type = 'deleteMessage';\n    msg.payload.content = context.global.keyboard.messageId;\n    context.global.keyboard.messageId = null;\n}\n\nreturn [ msg ];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 1340,
        "wires": [
            [
                "056ce24d71c5772b"
            ]
        ]
    },
    {
        "id": "d3ab2874433ce6f3",
        "type": "telegram sender",
        "z": "ba42b43a13e256f6",
        "name": "send response",
        "bot": "1eba02042b5194f4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1600,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "3db3c139c64a5aca",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "save messageId",
        "func": "context.global.keyboard = { messageId : msg.payload.messageId };\n\nreturn [ msg ];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1340,
        "wires": [
            [
                "ba0eefc7a5bf5be5"
            ]
        ]
    },
    {
        "id": "73ea5f0c31c731ee",
        "type": "comment",
        "z": "ba42b43a13e256f6",
        "name": "Bot Telegram",
        "info": "",
        "x": 90,
        "y": 1300,
        "wires": []
    },
    {
        "id": "6e18c5fd14cc5ad5",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "set buttons",
        "func": "let keyboards = {\n    'generic': {\n        \"inline_keyboard\": [\n            [\n                {\n                    \"text\": \"Resumen general\",\n                    \"callback_data\": \"summary_global\"\n                },\n                {\n                    \"text\": `${(flow.get(\"state\") === \"charging\") ? \"🟢\" : \"🔴\"} Resumen carga`,\n                    \"callback_data\": \"summary_recharge\"\n                },\n                {\n                    \"text\": `${(flow.get('state') === \"driving\") ? \"De ruta\" : \"Resumen último viaje\"}`,\n                    \"callback_data\": \"summary_travel\"\n                }\n            ]\n        ]\n    },\n    'viatge': {\n        \"inline_keyboard\": [\n            [\n                {\n                    \"text\": \"Resumen general\",\n                    \"callback_data\": \"summary_global\"\n                },\n                {\n                    \"text\": `${(flow.get(\"state\") === \"charging\") ? \"🟢\" : \"🔴\"} Resumen carga`,\n                    \"callback_data\": \"summary_recharge\"\n                },\n                {\n                    \"text\": `${(flow.get(\"state\") === \"driving\") ? \"🔄 Actualizar\" : \"\"}`,\n                    \"callback_data\": \"summary_travel\"\n                },\n                {\n                    \"text\": \"Últimos seis viajes\",\n                    \"callback_data\": \"save_lastsix\"\n                }\n            ]\n        ]\n    },\n    'sis': {\n        \"inline_keyboard\": [\n            [\n                {\n                    \"text\": \"Viaje 1\",\n                    \"callback_data\": \"Travel_1\"\n                },\n                {\n                    \"text\": \"Viaje 2\",\n                    \"callback_data\": \"Travel_2\"\n                },\n                {\n                    \"text\": \"Viaje 3\",\n                    \"callback_data\": \"Travel_3\"\n                }\n            ], \n            [\n                {\n                    \"text\": \"Viaje 4\",\n                    \"callback_data\": \"Travel_4\"\n                },\n                {\n                    \"text\": \"Viaje 5\",\n                    \"callback_data\": \"Travel_5\"\n                },\n                {\n                    \"text\": \"Viaje 6\",\n                    \"callback_data\": \"Travel_6\"\n                }\n            ], \n            [\n                {\n                    \"text\": \"Resumen general\",\n                    \"callback_data\": \"summary_global\"\n                },\n                {\n                    \"text\": `${(flow.get(\"state\") === \"charging\") ? \"🟢\" : \"🔴\"} Resumen carga`,\n                    \"callback_data\": \"summary_recharge\"\n                },\n                {\n                    \"text\": `${(flow.get('state') === \"driving\") ? \"De ruta\" : \"Resumen último viaje\"}`,\n                    \"callback_data\": \"summary_travel\"\n                }\n            ],\n            [\n                {\n                    \"text\": \"💾 Guardar Viaje\",\n                    \"callback_data\": \"save_travel\"\n                }\n            ]\n        ]\n    },\n    'controls': {\n        \"inline_keyboard\": [\n            [\n                {\n                    \"text\": \"Abrir coche\",\n                    \"callback_data\": \"controls_lock\"\n                }\n            ],\n            [\n                {\n                    \"text\": `Frunk`,\n                    \"callback_data\": \"controls_frunk\"\n                },\n                {\n                    \"text\": \"Maletero\",\n                    \"callback_data\": \"controls_trunk\"\n                },\n                {\n                    \"text\": `Puerto de carga`,\n                    \"callback_data\": \"controls_charge_port\"\n                }\n            ],\n            [\n                {\n                    \"text\": `Ráfaga luces`,\n                    \"callback_data\": \"controls_flash_lights\"\n                },\n                {\n                    \"text\": \"Tocar claxon\",\n                    \"callback_data\": \"controls_honk_horn\"\n                },\n                {\n                    \"text\": `Arrancar coche`,\n                    \"callback_data\": \"controls_remote_start\"\n                }\n            ],\n            [\n                {\n                    \"text\": `Volver`,\n                    \"callback_data\": \"back\"\n                }\n            ]\n        ]\n    },\n    'security': {\n        \"inline_keyboard\": [\n            [\n                {\n                    \"text\": \"Resumen general\",\n                    \"callback_data\": \"resume\"\n                },\n                {\n                    \"text\": `${(flow.get(\"state\") === \"charging\") ? \"🟢\" : \"🔴\"} Resumen carga`,\n                    \"callback_data\": \"recharge\"\n                }\n            ],\n            [\n                {\n                    \"text\": `Volver`,\n                    \"callback_data\": \"back\"\n                }\n            ]\n        ]\n    }\n};\n\nlet selectedKeyboard = {};\n\nif (keyboards[msg.payload.content] !== undefined) {\n    selectedKeyboard = keyboards[msg.payload.content];\n} else {\n    selectedKeyboard = keyboards['generic'];\n}\n\nmsg.buttons = JSON.stringify(selectedKeyboard);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1460,
        "wires": [
            [
                "1f1fe0851b6c8010"
            ]
        ]
    },
    {
        "id": "b079f0c860c2c666",
        "type": "link in",
        "z": "ba42b43a13e256f6",
        "name": "Actions switch",
        "links": [
            "7c120b7c75acf73c",
            "aa04b84720fe3b59"
        ],
        "x": 55,
        "y": 1880,
        "wires": [
            [
                "17b599ba46ddce46"
            ]
        ]
    },
    {
        "id": "db54a20d845cd726",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "save messageId",
        "func": "context.global.keyboard = { messageId : msg.payload.messageId };\nflow.set('saveMessage', msg.payload.messageId);\nreturn [ msg ];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "056ce24d71c5772b",
        "type": "switch",
        "z": "ba42b43a13e256f6",
        "name": "",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1430,
        "y": 1340,
        "wires": [
            [],
            [
                "d3ab2874433ce6f3"
            ]
        ]
    },
    {
        "id": "50e25e1cf84ebb7e",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "variables",
        "func": "//ip Grafana\n\nflow.set(\"iP\", \"192.XXX.X.XX\");\nflow.set(\"portGrafana\", \"3000\");\n\n// Telegram\nflow.set('telegram_chatId', '000000000');\nflow.set('telegram_token', '0000000000:XXXXXXXXXXXXXXXXXXXX')\n\n// ABRP\nflow.set('abrp_user_token', 'XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX');\nflow.set('abrp_car_model', 'tesla:my:22:my_lfp:rwd');\nflow.set('abrp_api_key', 'XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX');\n\n//geoapigy\n/*\n    Use geoapify to get adres\n    site to get apykey https://myprojects.geoapify.com/api\n*/\n\nflow.set('geoAPY', \"XXXXXXXXXXXXXXXXXXXXXXXXXX\");\n\n/*Configuración automensajes\nResumen viaje\nVariable para activar desactivar los mensajes de resumen del viaje*/\n\nflow.set(\"sumaryTravel\", \"Yes\");\n\n//Variable para definir la distancia mínima, en km, para enviar el mensaje\n\nflow.set(\"travelDist\", 25);\n\n/*Resumen carga\nVariable para activar desactivar los mensajes de resumen de la carga*/\n\nflow.set(\"sumaryCharges\", \"Yes\");\n\n//Variable para definir la cantidad mínima de energía cargada, en kWh, para enviar el mensaje\n\nflow.set(\"chargeEnergy\", 2);\n\n/*Resumen cuando el coche duerme\nVariable para activar mensaje resumen cuando el coche se acuesta*/\n\nflow.set(\"sumarySleep\", \"Yes\");\n\n/*Últimos 6 viajes\nVariable para definir la distancia mínima, en km, para guardar el trayecto en la lista de los últimos 6 mensajes*/\n\nflow.set(\"distLastSix\", 2);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 180,
        "wires": [
            [
                "97eef9689b024d2d"
            ]
        ]
    },
    {
        "id": "a93fd520a7c05dc3",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "state changes",
        "func": "let new_state = msg.payload;\nlet previous_state = flow.get('state');\n\n//node.warn(msg.topic + \": \" + msg.payload);\n//flow.set(msg.topic, new_state);\n\nif (previous_state !== new_state){\n    if (new_state === \"online\") {\n        msg.topic = `✨ está despierto`;\n    } else if (new_state === \"asleep\") {\n        msg.topic = `💤 está dormido`;\n        flow.set('sent_resumen', '0');\n    } else if (new_state === \"suspended\") {\n        msg.topic = `🛏️ está durmiéndose`;\n    } else if (new_state === \"charging\") {\n        msg.topic = `🔌 está cargando`;\n    } else if (new_state === \"offline\") {\n        msg.topic = `🛰️ no está conectado`;\n    } else if (new_state === \"start\") {\n        msg.topic = `🚀 está arrancando`;\n    } else if (new_state === \"driving\") {\n        msg.topic = `🏁 está en marcha`;\n    } else {\n        msg.topic = `⭕ con estado desconocido`;\n    }\n}else{\n    return;\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set('state','asleep');\nflow.set('sent_resumen','1');",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 60,
        "wires": [
            [
                "6c9e596a134162e9"
            ]
        ]
    },
    {
        "id": "76844c6cc293b346",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "summary_travel",
        "func": "let start = flow.get(\"dades_start\") || [];\nlet end = flow.get(\"dades_end\") || [];\nlet hSortida = new Date(start[0]*1000).toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' })\nlet hArribada = (end[0] !== undefined) ? `(${new Date(end[0]*1000).toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' })}):</b>` : \":</b>\"\nlet geo = '';\nlet geofence = flow.get('geofence');\nlet latitude = flow.get('latitude');\nlet longitude = flow.get('longitude');\nlet max_speed = flow.get('max_speed');\nlet avg_speed = flow.get('avg_speed').toFixed(0);\nlet vel = flow.get('vel') || [];\nlet max_temp = flow.get('maxTemp').toFixed(1);\nlet min_temp = flow.get('minTemp').toFixed(1);\nlet avg_temp = flow.get('avgTemp').toFixed(1);\nlet altitude = flow.get('altitude') || [];\nlet maxIn_temp = flow.get('maxInTemp').toFixed(1);\nlet minIn_temp = flow.get('minInTemp').toFixed(1);\nlet avgIn_temp = flow.get('avgInTemp').toFixed(1);\nlet onclimate = flow.get('onclimate');\nlet offclimate = flow.get('offclimate');\nlet climatetime = flow.get('climatetime');\nlet energyTravel = flow.get(\"energyTravel\");\n\nfunction site(geofence, latitude, longitude, adres) {\n    if (adres == undefined) {\n        return \"En camino\"\n    } else {\n        if (geofence !== \"\" && geofence !== undefined) {\n            return `<a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${geofence}</a>`;\n        } else {\n            return `<a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${adres}</a>`;\n        }\n    }\n}\n\nfunction kilometers(km_inici, km_final) {\n    if (km_final == undefined) {\n        let kmactual = flow.get('odometer');\n        return (kmactual - km_inici).toFixed(2)\n    } else {\n        return (km_final - km_inici).toFixed(2)\n    }\n}\n\nfunction diftemps(temp_final, temp_inici) {\n    if (temp_final !== undefined) {\n        var timeDifference = temp_final - temp_inici;\n        var differenceDate = new Date(timeDifference * 1000);\n        var diffHours = differenceDate.getUTCHours();\n        var diffMinutes = differenceDate.getUTCMinutes();\n        var diffSeconds = differenceDate.getUTCSeconds();\n\n        if (diffMinutes == 0) {\n            return diffSeconds + ' s';\n\n        } else if (diffHours == 0) {\n            return diffMinutes + ' m : ' + diffSeconds + ' s';\n        } else {\n            return diffHours + ' h : ' + diffMinutes + ' m : ' + diffSeconds + ' s';\n        }\n    } else {\n        let tempnow = Math.round(Date.now() / 1000);\n        var timeDifference = tempnow - temp_inici;\n        var differenceDate = new Date(timeDifference * 1000);\n        var diffHours = differenceDate.getUTCHours();\n        var diffMinutes = differenceDate.getUTCMinutes();\n        var diffSeconds = differenceDate.getUTCSeconds();\n\n        if (diffMinutes == 0) {\n            return diffSeconds + ' s';\n\n        } else if (diffHours == 0) {\n            return diffMinutes + ' m : ' + diffSeconds + ' s';\n        } else {\n            return diffHours + ' h : ' + diffMinutes + ' m : ' + diffSeconds + ' s';\n        }\n    }\n\n}\n\nfunction mode (arr) {\n    const mode = {};\n    let max = 0, count = 0;\n\n    for (let i = 0; i < arr.length; i++) {\n        const item = arr[i];\n\n        if (mode[item]) {\n            mode[item]++;\n        } else {\n            mode[item] = 1;\n        }\n\n        if (count < mode[item]) {\n            max = item;\n            count = mode[item];\n        }\n    }\n\n    return max;\n};\n\nfunction climateuse(starttimetravel, endtimetravel, timeAc, onclima) {\n    let hores_ac = 0;\n    let minuts_ac = 0;\n    let seg_ac = 0;\n\n    let hores_v = 0;\n    let minuts_v = 0;\n    let seg_v = 0;\n\n    if (timeAc == 0 && onclima == 0) {\n        return \"A/C: Apagdo\"\n    } else if (timeAc > 0 && onclima > 0) {\n\n        let time = Date.now();\n        let diftime = timeAc + (time - onclima);\n        let lasttime = new Date(diftime);\n        hores_ac += lasttime.getUTCHours();\n        minuts_ac += lasttime.getUTCMinutes();\n        seg_ac += lasttime.getUTCSeconds();\n\n    } else if (onclima > 0) {\n\n        let time3 = Date.now();\n        let diftime = time3 - onclima;\n        let lasttime = new Date(diftime);\n        hores_ac += lasttime.getUTCHours();\n        minuts_ac += lasttime.getUTCMinutes();\n        seg_ac += lasttime.getUTCSeconds();\n\n    } else if (timeAc > 0) {\n\n        let time = new Date(timeAc);\n        hores_ac += time.getUTCHours();\n        minuts_ac += time.getUTCMinutes();\n        seg_ac += time.getUTCSeconds();\n    }\n\n    if (endtimetravel !== undefined) {\n        var timeDifference = endtimetravel - starttimetravel;\n        var differenceDate = new Date(timeDifference * 1000);\n        hores_v = differenceDate.getUTCHours();\n        minuts_v = differenceDate.getUTCMinutes();\n        seg_v = differenceDate.getUTCSeconds();\n    } else {\n        let tempnow = Math.round(Date.now() / 1000);\n        var timeDifference = tempnow - starttimetravel;\n        var differenceDate = new Date(timeDifference * 1000);\n        hores_v = differenceDate.getUTCHours();\n        minuts_v = differenceDate.getUTCMinutes();\n        seg_v = differenceDate.getUTCSeconds();\n    }\n\n    let htm = hores_ac * 60;\n    let stm = seg_ac / 60;\n    let totalmin = minuts_ac + htm + stm;\n    let htm_v = hores_v * 60;\n    let stm_v = seg_v / 60;\n    let totalmin_v = minuts_v + htm_v + stm_v;\n    let useAC = Math.round(totalmin * 100 / totalmin_v);\n\n    if (hores_ac == 0 && minuts_ac == 0) {\n        return `A/C: ${seg_ac} s (${useAC}%)`\n    } else if (hores_ac == 0) {\n        return `A/C: ${minuts_ac} m : ${seg_ac} s (${useAC}%)`\n    } else {\n        return `A/C: ${hores_ac} h : ${minuts_ac} m : ${seg_ac} s (${useAC}%)`\n    }\n}\n\nfunction battery(end_lvl, start_lvl, energyUsed, km_inici, km_final) {\n    if (end_lvl == undefined) {\n        let lvl_now = flow.get('battery_level');\n        return `Inicial: ${start_lvl}% \n                Actual: ${lvl_now}%  \n                Utilizada: ${(lvl_now - start_lvl) * -1}% `\n    } else {\n        if (energyUsed != -100) {\n            let consum = (energyUsed / (km_final - km_inici) * 1000).toFixed(0);\n            return `Inicial: ${start_lvl}% \n                Final: ${end_lvl}% \n                Utilitzada: ${(end_lvl - start_lvl) * -1}%\n                Energía usada: ${energyUsed} kWh\n                Consumo: ${consum} Wh/km`\n        }else{\n            return `Inicial: ${start_lvl}% \n                Final: ${end_lvl}% \n                Utilizada: ${(end_lvl - start_lvl) * -1}%`\n        }   \n    }\n}\n\nfunction desnivell(array) {\n    var desnivell_positiu = 0;\n    var desnivell_negatiu = 0;\n\n    for (var i = 1; i < array.length; i++) {\n        var diferencial = array[i] - array[i - 1];\n        if (diferencial > 0) {\n            desnivell_positiu += diferencial;\n        }\n        else {\n            desnivell_negatiu -= diferencial;\n        }\n    }\n    return `Positivo: ${desnivell_positiu} m\n                Negativo: ${desnivell_negatiu * -1} m\n                Acumulado: ${desnivell_positiu + desnivell_negatiu} m`\n}\n\nmsg.topic = `*** <a href=\"http://` + `${flow.get(\"iP\")}:${flow.get(\"portGrafana\")}/d/zm7wN6Zgz/drive-details?from=${flow.get('startDateDrive')}&to=${flow.get('endDateDrive')}&var-car_id=1&var-drive_id=${flow.get('idDrive')}&orgId=1\">Resumen último viaje</a> ***\n    \n    ➡️  <b>Salida (${hSortida}): </b>\n                ${site(start[1], start[2], start[3], start[4])}\n    🔚  <b>Llegada ${hArribada}\n                ${site(end[1], end[2], end[3], end[4])}\n    🛣️  <b>km:</b> \n                ${kilometers(start[5], end[5])} km\n    ⏱️  <b>Tiempo:</b> \n                ${diftemps(end[0], start[0])}\n    🏎️  <b>Velocidad:</b>\n                Media: ${avg_speed} km/h\n                Máxima: ${max_speed} km/h  \n                Moda: ${mode(vel)} km/h       \n    🔋  <b>Batería:</b>\n                ${battery(end[6], start[6], energyTravel, start[5], end[5])}\n    🏔  <b>Desnivel:</b>\n                ${desnivell(altitude)}\n    🌡️ <b>Temperatura:</b>\n                             <u><i>Exterior</i>           <i>Interior</i>  </u>\n                <u><i>Máxima</i>     ${max_temp} °C           ${maxIn_temp} °C</u>\n                <u><i>Mínima</i>      ${min_temp} °C           ${minIn_temp} °C</u>\n                <u><i>Media</i>         ${avg_temp} °C           ${avgIn_temp} °C</u>\n                ${climateuse(start[0], end[0], climatetime, onclimate)}\n        `;\n    \nmsg.payload.content = 'viatge';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1460,
        "wires": [
            [
                "6e18c5fd14cc5ad5"
            ]
        ]
    },
    {
        "id": "87c6f8f29ff19486",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "States_viatge",
        "func": "/*\n    Catch and reset values of start and end point travel \n*/ \nlet dades_start = [];\nlet dades_end = [];\nlet geofence = flow.get('geofence');\nlet latitude = flow.get('latitude');\nlet longitude = flow.get('longitude');\nlet adres = \"\";\nlet kilometres = flow.get('odometer');\nlet bat = flow.get('battery_level');\nlet wats = flow.get(\"power\");\nlet speed = flow.get('speed');\n\nswitch (flow.get('state')){\n    case \"driving\":\n        //reset final array\n        dades_end = [];\n        //reset speed and temp\n        msg.reset = 0;\n        //reset array moda\n        let vel = [];\n        //reset altitude\n        let altitude = [];\n        //let des_pos = 0;\n        //let des_neg = 0;\n        //reset in temp\n        let onclimate = 0;\n        let offclimate = 0;\n        let climatetime = 0;\n        //date\n        dades_start.push(Math.round(Date.now() / 1000));\n        //site\n        dades_start.push(geofence, latitude, longitude, adres);\n        //km\n        dades_start.push(kilometres);\n        //batery level\n        dades_start.push(bat);\n\n        //set variable flow values\n        flow.set('onclimate', onclimate);\n        flow.set('offclimate', offclimate);\n        flow.set('climatetime', climatetime);\n        flow.set('altitude', altitude);\n        //flow.set('des_pos', des_pos);\n        //flow.set('des_neg', des_neg);\n        flow.set('vel', vel);\n        flow.set(\"dades_start\", dades_start);\n        flow.set(\"dades_end\", dades_end);\n        break;\n    case \"online\":\n        if(dades_end.length == 0){\n            //date\n            dades_end.push(Math.round(Date.now() / 1000));\n            //site\n            dades_end.push(geofence, latitude, longitude, adres);\n            //km\n            dades_end.push(kilometres);\n            //batery level\n            dades_end.push(bat);\n\n            //set variable flow values\n            flow.set(\"dades_end\", dades_end);\n            break;\n        }\n}\nflow.set(\"etapes\", \"\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 700,
        "wires": [
            [
                "8fda364896db0380",
                "6791f6d613f3602b",
                "8c4ce0aa894f890e",
                "94a08ddcfbe8ff92",
                "5f82c9dc239138a1",
                "b25775ddaf5421f2",
                "fc6a59fc6d9e02b4",
                "a2d57c39cdbd82e0",
                "122decfcf5e2e973",
                "7f5fba308a14ee6e",
                "19702894259d650c",
                "24f7eafec0a19611"
            ]
        ]
    },
    {
        "id": "66b5e6a076089662",
        "type": "comment",
        "z": "ba42b43a13e256f6",
        "name": "Resum últim viatge",
        "info": "",
        "x": 110,
        "y": 660,
        "wires": []
    },
    {
        "id": "fd2516156b59cb3e",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Speed Max",
        "func": "flow.set(\"max_speed\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "6126725ea7c8aed8",
        "type": "inject",
        "z": "ba42b43a13e256f6",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.25",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 760,
        "wires": [
            [
                "ab7c5bcf740dad05"
            ]
        ]
    },
    {
        "id": "ab7c5bcf740dad05",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Get speed",
        "func": "//get value of speed when state is driving\n\nvar speed = flow.get('speed');\nlet vel = flow.get('vel') || [];\n\nswitch (flow.get('state')) {\n    case \"driving\":\n        if (speed > 0){\n            vel.push(speed);\n        }\n        msg.payload = speed;\n        flow.set('vel', vel);\n        return msg;\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 760,
        "wires": [
            [
                "8fda364896db0380",
                "5f82c9dc239138a1"
            ]
        ]
    },
    {
        "id": "8fda364896db0380",
        "type": "smooth",
        "z": "ba42b43a13e256f6",
        "name": "Max Vel",
        "property": "payload",
        "action": "max",
        "count": "100000",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 740,
        "y": 740,
        "wires": [
            [
                "fd2516156b59cb3e"
            ]
        ]
    },
    {
        "id": "7a0c9f5654535cf4",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "GetAdreça",
        "func": "\nlet apykey = flow.get('geoAPY');\nlet dades_start = flow.get(\"dades_start\") || [];\nlet dades_end = flow.get(\"dades_end\") || [];\n\nif(flow.get('state') == \"driving\"){\n    let latstart = dades_start[2];\n    let longstart = dades_start[3];\n    var url = `https://api.geoapify.com/v1/geocode/reverse?lat=${latstart}&lon=${longstart}&format=json&apiKey=${apykey}`\n    msg.url = url;\n}else{\n    let latend = dades_end[2];\n    let longend = dades_end[3];\n    var url = `https://api.geoapify.com/v1/geocode/reverse?lat=${latend}&lon=${longend}&format=json&apiKey=${apykey}`\n    msg.url = url;\n}\n\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1240,
        "wires": [
            [
                "367fa09d08fabc05"
            ]
        ]
    },
    {
        "id": "367fa09d08fabc05",
        "type": "http request",
        "z": "ba42b43a13e256f6",
        "name": "HTTP Request (GET)",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 460,
        "y": 1240,
        "wires": [
            [
                "87f53bc337566c2c"
            ]
        ]
    },
    {
        "id": "87f53bc337566c2c",
        "type": "json",
        "z": "ba42b43a13e256f6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 1240,
        "wires": [
            [
                "8acac3aab104fdbd"
            ]
        ]
    },
    {
        "id": "8acac3aab104fdbd",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Adreça",
        "func": "//Set adres of start and end point travel\n\nlet dades_start = flow.get(\"dades_start\") || [];\nlet dades_end = flow.get(\"dades_end\") || [];\nlet new_state = msg.topic;\nlet previous_state = flow.get('state');\n\nswitch (flow.get('state')) {\n    case \"driving\":\n        dades_start[4] = `${msg.payload.results[0].street} ${(msg.payload.results[0].housenumber == undefined) ? \"S/N\" : msg.payload.results[0].housenumber}, ${msg.payload.results[0].city}`;//msg.payload.results[0].formatted\n        msg.topic = `${msg.payload.results[0].street} ${(msg.payload.results[0].housenumber == undefined) ? \"S/N\" : msg.payload.results[0].housenumber}, ${msg.payload.results[0].city}`;\n        flow.set(\"dades_start\", dades_start);\n        break;\n    case \"online\":\n        dades_end[4] = `${msg.payload.results[0].street} ${(msg.payload.results[0].housenumber == undefined) ? \"S/N\" : msg.payload.results[0].housenumber}, ${msg.payload.results[0].city}`;\n        msg.topic = `${msg.payload.results[0].street} ${(msg.payload.results[0].housenumber == undefined) ? \"S/N\" : msg.payload.results[0].housenumber}, ${msg.payload.results[0].city}`;\n        flow.set(\"dades_end\", dades_end);\n        break;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "d4691f7268627e94",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Get out temp",
        "func": "//Get out temp value when state is driving\n\nvar temp = flow.get('outside_temp');\n\nswitch (flow.get('state')) {\n    case \"driving\":\n        msg.payload = temp;\n        return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 940,
        "wires": [
            [
                "94a08ddcfbe8ff92",
                "8c4ce0aa894f890e",
                "6791f6d613f3602b"
            ]
        ]
    },
    {
        "id": "a5deb4426b7f4969",
        "type": "inject",
        "z": "ba42b43a13e256f6",
        "name": "",
        "props": [],
        "repeat": "180",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 940,
        "wires": [
            [
                "d4691f7268627e94"
            ]
        ]
    },
    {
        "id": "94a08ddcfbe8ff92",
        "type": "smooth",
        "z": "ba42b43a13e256f6",
        "name": "Max Temp",
        "property": "payload",
        "action": "max",
        "count": "100",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 750,
        "y": 880,
        "wires": [
            [
                "4960df216205ccdb"
            ]
        ]
    },
    {
        "id": "8c4ce0aa894f890e",
        "type": "smooth",
        "z": "ba42b43a13e256f6",
        "name": "Min Temp",
        "property": "payload",
        "action": "min",
        "count": "100",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 740,
        "y": 940,
        "wires": [
            [
                "659fcab148a30ed8"
            ]
        ]
    },
    {
        "id": "6791f6d613f3602b",
        "type": "smooth",
        "z": "ba42b43a13e256f6",
        "name": "Avg Temp",
        "property": "payload",
        "action": "mean",
        "count": "100",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 740,
        "y": 1000,
        "wires": [
            [
                "6f03f6ecb0114463"
            ]
        ]
    },
    {
        "id": "4960df216205ccdb",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Temperatura Max",
        "func": "flow.set('maxTemp', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "dd88d8e3d16d9f72",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "save_travel_for6",
        "func": "let start = flow.get(\"dades_start\") || [];\nlet end = flow.get(\"dades_end\") || [];\nlet hSortida = new Date(start[0] * 1000).toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' })\nlet hArribada = (end[0] !== undefined) ? `(${new Date(end[0] * 1000).toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' })}):</b>` : \":</b>\"\nlet geo = '';\nlet geofence = flow.get('geofence');\nlet latitude = flow.get('latitude');\nlet longitude = flow.get('longitude');\nlet max_speed = flow.get('max_speed');\nlet avg_speed = flow.get('avg_speed').toFixed(0);\nlet vel = flow.get('vel') || [];\nlet max_temp = flow.get('maxTemp').toFixed(1);\nlet min_temp = flow.get('minTemp').toFixed(1);\nlet avg_temp = flow.get('avgTemp').toFixed(1);\nlet altitude = flow.get('altitude') || [];\nlet maxIn_temp = flow.get('maxInTemp').toFixed(1);\nlet minIn_temp = flow.get('minInTemp').toFixed(1);\nlet avgIn_temp = flow.get('avgInTemp').toFixed(1);\nlet onclimate = flow.get('onclimate');\nlet offclimate = flow.get('offclimate');\nlet climatetime = flow.get('climatetime');\nlet energyTravel = flow.get(\"energyTravel\");\n\nfunction site(geofence, latitude, longitude, adres) {\n    if (adres == undefined) {\n        return \"En camino\"\n    } else {\n        if (geofence !== \"\" && geofence !== undefined) {\n            return `<a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${geofence}</a>`;\n        } else {\n            return `<a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${adres}</a>`;\n        }\n    }\n}\n\nfunction kilometers(km_inici, km_final) {\n    if (km_final == undefined) {\n        let kmactual = flow.get('odometer');\n        return (kmactual - km_inici).toFixed(2)\n    } else {\n        return (km_final - km_inici).toFixed(2)\n    }\n}\n\nfunction diftemps(temp_final, temp_inici) {\n    if (temp_final !== undefined) {\n        var timeDifference = temp_final - temp_inici;\n        var differenceDate = new Date(timeDifference * 1000);\n        var diffHours = differenceDate.getUTCHours();\n        var diffMinutes = differenceDate.getUTCMinutes();\n        var diffSeconds = differenceDate.getUTCSeconds();\n\n        if (diffMinutes == 0) {\n            return diffSeconds + ' s';\n\n        } else if (diffHours == 0) {\n            return diffMinutes + ' m : ' + diffSeconds + ' s';\n        } else {\n            return diffHours + ' h : ' + diffMinutes + ' m : ' + diffSeconds + ' s';\n        }\n    } else {\n        let tempnow = Math.round(Date.now() / 1000);\n        var timeDifference = tempnow - temp_inici;\n        var differenceDate = new Date(timeDifference * 1000);\n        var diffHours = differenceDate.getUTCHours();\n        var diffMinutes = differenceDate.getUTCMinutes();\n        var diffSeconds = differenceDate.getUTCSeconds();\n\n        if (diffMinutes == 0) {\n            return diffSeconds + ' s';\n\n        } else if (diffHours == 0) {\n            return diffMinutes + ' m : ' + diffSeconds + ' s';\n        } else {\n            return diffHours + ' h : ' + diffMinutes + ' m : ' + diffSeconds + ' s';\n        }\n    }\n\n}\n\nfunction mode(arr) {\n    const mode = {};\n    let max = 0, count = 0;\n\n    for (let i = 0; i < arr.length; i++) {\n        const item = arr[i];\n\n        if (mode[item]) {\n            mode[item]++;\n        } else {\n            mode[item] = 1;\n        }\n\n        if (count < mode[item]) {\n            max = item;\n            count = mode[item];\n        }\n    }\n\n    return max;\n};\n\nfunction climateuse(starttimetravel, endtimetravel, timeAc, onclima) {\n    let hores_ac = 0;\n    let minuts_ac = 0;\n    let seg_ac = 0;\n\n    let hores_v = 0;\n    let minuts_v = 0;\n    let seg_v = 0;\n\n    if (timeAc == 0 && onclima == 0) {\n        return \"A/C: Apagdo\"\n    } else if (timeAc > 0 && onclima > 0) {\n\n        let time = Date.now();\n        let diftime = timeAc + (time - onclima);\n        let lasttime = new Date(diftime);\n        hores_ac += lasttime.getUTCHours();\n        minuts_ac += lasttime.getUTCMinutes();\n        seg_ac += lasttime.getUTCSeconds();\n\n    } else if (onclima > 0) {\n\n        let time3 = Date.now();\n        let diftime = time3 - onclima;\n        let lasttime = new Date(diftime);\n        hores_ac += lasttime.getUTCHours();\n        minuts_ac += lasttime.getUTCMinutes();\n        seg_ac += lasttime.getUTCSeconds();\n\n    } else if (timeAc > 0) {\n\n        let time = new Date(timeAc);\n        hores_ac += time.getUTCHours();\n        minuts_ac += time.getUTCMinutes();\n        seg_ac += time.getUTCSeconds();\n    }\n\n    if (endtimetravel !== undefined) {\n        var timeDifference = endtimetravel - starttimetravel;\n        var differenceDate = new Date(timeDifference * 1000);\n        hores_v = differenceDate.getUTCHours();\n        minuts_v = differenceDate.getUTCMinutes();\n        seg_v = differenceDate.getUTCSeconds();\n    } else {\n        let tempnow = Math.round(Date.now() / 1000);\n        var timeDifference = tempnow - starttimetravel;\n        var differenceDate = new Date(timeDifference * 1000);\n        hores_v = differenceDate.getUTCHours();\n        minuts_v = differenceDate.getUTCMinutes();\n        seg_v = differenceDate.getUTCSeconds();\n    }\n\n    let htm = hores_ac * 60;\n    let stm = seg_ac / 60;\n    let totalmin = minuts_ac + htm + stm;\n    let htm_v = hores_v * 60;\n    let stm_v = seg_v / 60;\n    let totalmin_v = minuts_v + htm_v + stm_v;\n    let useAC = Math.round(totalmin * 100 / totalmin_v);\n\n    if (hores_ac == 0 && minuts_ac == 0) {\n        return `A/C: ${seg_ac} s (${useAC}%)`\n    } else if (hores_ac == 0) {\n        return `A/C: ${minuts_ac} m : ${seg_ac} s (${useAC}%)`\n    } else {\n        return `A/C: ${hores_ac} h : ${minuts_ac} m : ${seg_ac} s (${useAC}%)`\n    }\n}\n\nfunction battery(end_lvl, start_lvl, energyUsed, km_inici, km_final) {\n    if (end_lvl == undefined) {\n        let lvl_now = flow.get('battery_level');\n        return `Inicial: ${start_lvl}% \n                Actual: ${lvl_now}%  \n                Utilizada: ${(lvl_now - start_lvl) * -1}% `\n    } else {\n        if (energyUsed != -100) {\n            let consum = (energyUsed / (km_final - km_inici) * 1000).toFixed(0);\n            return `Inicial: ${start_lvl}% \n                Final: ${end_lvl}% \n                Utilitzada: ${(end_lvl - start_lvl) * -1}%\n                Energía usada: ${energyUsed} kWh\n                Consumo: ${consum} Wh/km`\n        } else {\n            return `Inicial: ${start_lvl}% \n                Final: ${end_lvl}% \n                Utilizada: ${(end_lvl - start_lvl) * -1}%`\n        }\n    }\n}\n\nfunction desnivell(array) {\n    var desnivell_positiu = 0;\n    var desnivell_negatiu = 0;\n\n    for (var i = 1; i < array.length; i++) {\n        var diferencial = array[i] - array[i - 1];\n        if (diferencial > 0) {\n            desnivell_positiu += diferencial;\n        }\n        else {\n            desnivell_negatiu -= diferencial;\n        }\n    }\n    return `Positivo: ${desnivell_positiu} m\n                Negativo: ${desnivell_negatiu * -1} m\n                Acumulado: ${desnivell_positiu + desnivell_negatiu} m`\n}\n\nmsg.topic = `*** <a href=\"http://` + `${flow.get(\"iP\")}:${flow.get(\"portGrafana\")}/d/zm7wN6Zgz/drive-details?from=${flow.get('startDateDrive')}&to=${flow.get('endDateDrive')}&var-car_id=1&var-drive_id=${flow.get('idDrive')}&orgId=1\">Resumen último viaje</a> ***\n    \n    ➡️  <b>Salida (${hSortida}): </b>\n                ${site(start[1], start[2], start[3], start[4])}\n    🔚  <b>Llegada ${hArribada}\n                ${site(end[1], end[2], end[3], end[4])}\n    🛣️  <b>km:</b> \n                ${kilometers(start[5], end[5])} km\n    ⏱️  <b>Tiempo:</b> \n                ${diftemps(end[0], start[0])}\n    🏎️  <b>Velocidad:</b>\n                Media: ${avg_speed} km/h\n                Máxima: ${max_speed} km/h  \n                Moda: ${mode(vel)} km/h       \n    🔋  <b>Batería:</b>\n                ${battery(end[6], start[6], energyTravel, start[5], end[5])}\n    🏔  <b>Desnivel:</b>\n                ${desnivell(altitude)}\n    🌡️ <b>Temperatura:</b>\n                             <u><i>Exterior</i>           <i>Interior</i>  </u>\n                <u><i>Máxima</i>     ${max_temp} °C           ${maxIn_temp} °C</u>\n                <u><i>Mínima</i>      ${min_temp} °C           ${minIn_temp} °C</u>\n                <u><i>Media</i>         ${avg_temp} °C           ${avgIn_temp} °C</u>\n                ${climateuse(start[0], end[0], climatetime, onclimate)}\n        `;\n\nmsg.payload.content = 'viatge';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1820,
        "wires": [
            [
                "c0c5b3cbf066f733"
            ]
        ]
    },
    {
        "id": "b0618d206a0f16c4",
        "type": "telegram sender",
        "z": "ba42b43a13e256f6",
        "name": "send response",
        "bot": "1eba02042b5194f4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1220,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "bb2d18693ea5e2de",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Format message",
        "func": "let content = msg.topic;\n\nlet opts = {\n    parse_mode: \"HTML\",\n    disable_web_page_preview: true,\n};\n\nmsg.payload = {\n    chatId: flow.get('telegram_chatId'),\n    type: 'message',\n    options: opts,\n    content: content,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 1920,
        "wires": [
            [
                "b0618d206a0f16c4"
            ]
        ]
    },
    {
        "id": "5f82c9dc239138a1",
        "type": "smooth",
        "z": "ba42b43a13e256f6",
        "name": "avg vel",
        "property": "payload",
        "action": "mean",
        "count": "100000",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 740,
        "y": 800,
        "wires": [
            [
                "34c6eed6066be367"
            ]
        ]
    },
    {
        "id": "34c6eed6066be367",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Speed Avg",
        "func": "flow.set(\"avg_speed\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "659fcab148a30ed8",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Temperatura Min",
        "func": "flow.set('minTemp', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "6f03f6ecb0114463",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Temperatura Avg",
        "func": "flow.set('avgTemp', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "83631bbaa676486e",
        "type": "inject",
        "z": "ba42b43a13e256f6",
        "name": "",
        "props": [],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 1100,
        "wires": [
            [
                "f2384d696ece334c"
            ]
        ]
    },
    {
        "id": "f2384d696ece334c",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Get in temp",
        "func": "//Get in temp values when state is driving\n\nlet intemp = flow.get('inside_temp');\n\n\nswitch (flow.get('state')) {\n    case \"driving\":\n        msg.payload = intemp;\n        return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1100,
        "wires": [
            [
                "b25775ddaf5421f2",
                "fc6a59fc6d9e02b4",
                "a2d57c39cdbd82e0"
            ]
        ]
    },
    {
        "id": "b25775ddaf5421f2",
        "type": "smooth",
        "z": "ba42b43a13e256f6",
        "name": "Avg Temp",
        "property": "payload",
        "action": "mean",
        "count": "2000",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 740,
        "y": 1180,
        "wires": [
            [
                "cea841ee0f100c93"
            ]
        ]
    },
    {
        "id": "cea841ee0f100c93",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Temperatura Avg",
        "func": "flow.set('avgInTemp', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "a2d57c39cdbd82e0",
        "type": "smooth",
        "z": "ba42b43a13e256f6",
        "name": "Min Temp",
        "property": "payload",
        "action": "min",
        "count": "2000",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 740,
        "y": 1120,
        "wires": [
            [
                "81bdef94ac84dd2e"
            ]
        ]
    },
    {
        "id": "fc6a59fc6d9e02b4",
        "type": "smooth",
        "z": "ba42b43a13e256f6",
        "name": "Max Temp",
        "property": "payload",
        "action": "max",
        "count": "2000",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 750,
        "y": 1060,
        "wires": [
            [
                "5aa99a973f59fcc1"
            ]
        ]
    },
    {
        "id": "5aa99a973f59fcc1",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Temperatura Max",
        "func": "flow.set('maxInTemp', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "81bdef94ac84dd2e",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Temperatura Min",
        "func": "flow.set('minInTemp', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "fa9865681a5db138",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Power charging",
        "func": "let power = msg.payload;\nlet state = flow.get('state');\nlet fase = flow.get('fase');\n\nif (state == 'charging') {\n    msg.payload = power;\n    fase = flow.get('charger_phases');\n    flow.set('fase', fase);\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 380,
        "wires": [
            [
                "122decfcf5e2e973",
                "7f5fba308a14ee6e"
            ]
        ]
    },
    {
        "id": "122decfcf5e2e973",
        "type": "smooth",
        "z": "ba42b43a13e256f6",
        "name": "Avg Power",
        "property": "payload",
        "action": "mean",
        "count": "2000000",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 890,
        "y": 360,
        "wires": [
            [
                "f560f55abbad6ea6"
            ]
        ]
    },
    {
        "id": "7f5fba308a14ee6e",
        "type": "smooth",
        "z": "ba42b43a13e256f6",
        "name": "Max Power",
        "property": "payload",
        "action": "max",
        "count": "1000",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 890,
        "y": 400,
        "wires": [
            [
                "c77cf44d43524f19"
            ]
        ]
    },
    {
        "id": "f560f55abbad6ea6",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Avg Power",
        "func": "flow.set('avgPower', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "c77cf44d43524f19",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Max Power",
        "func": "flow.set('maxPower', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "2ccf38a52d8e1513",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "AC on D/O",
        "func": "//get value of is_cliamte_on when state change\n\nlet state = msg.payload;\nlet ac = flow.get('is_climate_on');\n\nswitch (state) {\n    case \"driving\":\n        msg.payload = ac;\n        return msg;\n   case \"online\":\n        msg.payload = ac;\n        return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1020,
        "wires": [
            [
                "05b89a680b935097"
            ]
        ]
    },
    {
        "id": "05b89a680b935097",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "AC on",
        "func": "//Get time of A/C use \n\nlet climateState = msg.payload;\nlet onclimate = flow.get('onclimate');\nlet offclimate = flow.get('offclimate');\nlet climatetime = flow.get('climatetime');\nlet start = flow.get(\"dades_start\") || [];\nlet end = flow.get(\"dades_end\") || [];\n\nswitch (flow.get('state')) {\n    case 'driving':\n        if (climateState == 'true') {\n            onclimate = Date.now();\n        } else {\n            if (onclimate !== 0) {\n                offclimate = Date.now();\n                climatetime += offclimate - onclimate;\n                onclimate = 0;\n            }\n        }\n        flow.set('onclimate', onclimate);\n        flow.set('offclimate', offclimate);\n        flow.set('climatetime', climatetime);\n        break;\n    case 'online':\n        if (onclimate > 0 && offclimate == 0 && climateState == 'true') {\n            offclimate = Date.now();\n            climatetime += offclimate - onclimate;\n            onclimate = 0;\n\n            flow.set('onclimate', onclimate);\n            flow.set('offclimate', offclimate);\n            flow.set('climatetime', climatetime);\n        }\n        break;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "19702894259d650c",
        "type": "smooth",
        "z": "ba42b43a13e256f6",
        "name": "Start battery level",
        "property": "payload",
        "action": "min",
        "count": "6000000",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 910,
        "y": 440,
        "wires": [
            [
                "f117b0b71b169181"
            ]
        ]
    },
    {
        "id": "24f7eafec0a19611",
        "type": "smooth",
        "z": "ba42b43a13e256f6",
        "name": "End battery level",
        "property": "payload",
        "action": "max",
        "count": "200",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 910,
        "y": 480,
        "wires": [
            [
                "82e4e1a171c59e33"
            ]
        ]
    },
    {
        "id": "44a604807075207c",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "baterry level charging",
        "func": "let battery = msg.payload;\nif (flow.get('state') == 'charging') {\n    msg.payload = battery;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 460,
        "wires": [
            [
                "19702894259d650c",
                "24f7eafec0a19611"
            ]
        ]
    },
    {
        "id": "f117b0b71b169181",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Start CBL",
        "func": "flow.set('startCBL', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "82e4e1a171c59e33",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "End CBL",
        "func": "flow.set('endCBL', msg.payload+1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "9c2855597af5db0f",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Time charge",
        "func": "let currentState = flow.get(\"currentState\");\nlet oldState = flow.get(\"oldState\");\nlet startCharge = flow.get(\"startCharge\");\nlet endCharge = flow.get(\"endCharge\");\n\nfunction changeState(newState) {\n    oldState = currentState;\n    currentState = newState;\n    flow.set(\"oldState\", oldState);\n    flow.set(\"currentState\", currentState);\n}\n\nchangeState(msg.payload);\n\nif (oldState !== currentState) {\n    if (currentState === \"charging\") {\n        startCharge = Date.now();\n        flow.set(\"startCharge\", startCharge)\n        flow.set('kmCharge', flow.get('odometer'));\n    }\n}\n\nif (oldState == \"charging\" && currentState == \"online\") {\n    endCharge = Date.now();\n    flow.set(\"endCharge\", endCharge);\n}\n\n\nfunction timeCharge(startTime, endTime) {\n    let time = new Date(endTime - startTime);\n    let hores = time.getUTCHours();\n    let minuts = time.getUTCMinutes();\n    let seg = time.getUTCSeconds();\n    let timeFormat = \"\";\n\n    if (hores == 0 && minuts == 0) {\n        timeFormat = `${seg} s`;\n    } else if (hores == 0) {\n        timeFormat = `${minuts} m : ${seg} s`;\n    } else {\n        timeFormat = `${hores} h : ${minuts} m : ${seg} s`;\n    }\n\n    return timeFormat;\n}\n\nflow.set('timeOfCharge', timeCharge(startCharge, endCharge));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "4ae1924152958216",
        "type": "comment",
        "z": "ba42b43a13e256f6",
        "name": "Resum càrrega",
        "info": "",
        "x": 660,
        "y": 320,
        "wires": []
    },
    {
        "id": "a2c8951671088b43",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "states",
        "func": "flow.set(\"oldState\", \"driving\");\nflow.set(\"currentState\", \"online\");\nflow.set(\"startCharge\", 0);\nflow.set(\"endCharge\", 0);\nflow.set('fase', \"\")\nflow.set('typeCharge', 0);\nlet lastsixMessages;\nflow.set(\"lastsixMessages\", lastsixMessages);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "9fe4cf975c6f188b",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Save orders",
        "func": "let start = flow.get(\"dades_start\") || [];\nlet end = flow.get(\"dades_end\") || [];\nlet currentState = flow.get(\"currentState\");\nlet oldState = flow.get(\"oldState\");\nlet km = end[5] - start[5];\n\n\nif (oldState == \"driving\" && km >= flow.get(\"travelDist\") && flow.get(\"sumaryTravel\") == \"Yes\") {\n    msg.payload = {}\n    msg.payload.content = 'autosave_travel';\n    return msg;\n} else if (currentState == \"charging\") {\n    msg.payload = {}\n    msg.payload.content = 'autosave_charge';\n    return msg;\n} else if (oldState == \"charging\" && flow.get(\"charge_energy_added\") > flow.get(\"chargeEnergy\") && flow.get(\"sumaryCharges\") == \"Yes\") {\n    msg.payload = {}\n    msg.payload.content = 'autosave_recharge';\n    return msg;\n} else if (currentState == \"asleep\" && flow.get(\"sumarySleep\") == \"Yes\") {\n    msg.payload = {}\n    msg.payload.content = 'autosave_global';\n    return msg;\n}\n\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 1920,
        "wires": [
            [
                "660bb59b8a6fcaa6"
            ]
        ]
    },
    {
        "id": "bfea1d50670af6a4",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "save recharge",
        "func": "let sumaryCharge = flow.get(\"rechargeSumary\");\nlet dia = new Date().toLocaleDateString();\nlet hora = new Date().toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' });\n\nlet split = sumaryCharge.split(\"càrrega:\")[1].split(\"            \");\nmsg.topic = `*** <a href=\"http://` + `${flow.get(\"iP\")}:${flow.get(\"portGrafana\")}/d/BHhxFeZRz/charge-details?from=${flow.get('startDateCharge')}&to=${flow.get('endDateCharge')}&var-car_id=1&var-drive_id=${flow.get('idCharge')}&orgId=1\">Carga del ${dia} ${hora}</a> ***\n\n${split[2]}${split[3]}${split[4]}${split[5]}${split[6]}${split[7]}${split[8]}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1980,
        "wires": [
            [
                "bb2d18693ea5e2de",
                "519df64d1989481d",
                "5509f437dc0d69e8"
            ]
        ]
    },
    {
        "id": "7c120b7c75acf73c",
        "type": "link out",
        "z": "ba42b43a13e256f6",
        "name": "state",
        "mode": "link",
        "links": [
            "b079f0c860c2c666",
            "e2d007ff98ba284b"
        ],
        "x": 435,
        "y": 320,
        "wires": []
    },
    {
        "id": "67ad4746714c1e2e",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Vampire Drain",
        "func": "let battery = flow.get('battery_level');\nlet end = flow.get(\"dades_end\") || [];\n\nif (flow.get('state') == 'online') {\n    let vampireDrain = end[6] - battery\n    if(vampireDrain > 0){\n        flow.set(\"vampireDrain\", vampireDrain);\n    }\n} else {\n    flow.set(\"vampireDrain\", 0);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "732926cd333efdfa",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "save global summary",
        "func": "/* temporarly disable */\n//return;\n\n\nlet bat = '';\nlet geo = '';\nlet state = '';\nlet km = '';\nlet kmBat = flow.get('odometer') - flow.get('kmCharge');\nlet inside_temp = flow.get('inside_temp');\nlet outside_temp = flow.get('outside_temp');\nlet battery_level = flow.get('battery_level');\nlet usable_battery_level = flow.get('usable_battery_level');\nlet vampire = flow.get(\"vampireDrain\");\nlet geofence = flow.get('geofence');\nlet latitude = flow.get('latitude');\nlet longitude = flow.get('longitude');\nlet last_status_change = new Date(flow.get('since'));\nlet sentry_mode = '';\nlet dades_end = flow.get(\"dades_end\") || [];\nlet dia = new Date().toLocaleDateString();\nlet hora = new Date().toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' });\nlet adresa = dades_end[4];\n\nfunction calc_difference() {\n  let diffInMilliSeconds = Math.abs(new Date().getTime() - new Date(flow.get('since')).getTime()) / 1000;\n\n  // calculate days\n  const days = Math.floor(diffInMilliSeconds / 86400);\n  diffInMilliSeconds -= days * 86400;\n\n  // calculate hours\n  const hours = Math.floor(diffInMilliSeconds / 3600) % 24;\n  diffInMilliSeconds -= hours * 3600;\n\n  // calculate minutes\n  const minutes = Math.floor(diffInMilliSeconds / 60) % 60;\n  diffInMilliSeconds -= minutes * 60;\n\n  let difference = '';\n  if (days > 0) {\n    difference += `${days}d `;\n  }\n  if (hours > 0) {\n    difference += `${hours}h `;\n  }\n\n  difference += `${minutes}m`;\n\n  return difference;\n\n}\n\nfunction toFloat(num, precision) {\n  return parseFloat(num).toFixed(precision);\n}\n\n/**\n* @param {number} percent\n*/\nfunction getBatteryIcon(percent) {\n  let ico = `🔋 `;\n  if (percent <= 40) {\n    ico = `🪫 `;\n  }\n  return ico;\n}\n\nswitch (flow.get('state')) {\n  case \"online\":\n    state = 'Despierto'\n    break;\n  case \"asleep\":\n    state = `Dormido des de ${calc_difference()}`\n    break;\n  case \"suspended\":\n    state = `Durmiéndose des de ${calc_difference()}`\n    break;\n  case \"charging\":\n    state = 'Cargando'\n    break;\n  case \"offline\":\n    state = 'Desconectado'\n    break;\n  case \"start\":\n    state = 'Arrancando'\n    break;\n  case \"driving\":\n    state = 'Conduciendo'\n    break;\n  case \"updating\":\n    state = `Actualizando durante ${calc_difference()}`;\n    break;\n  default:\n    state = 'Desconocido'\n}\n\nbat = getBatteryIcon(usable_battery_level);\nif (usable_battery_level !== battery_level) {\n  if (vampire > 0) {\n    bat += ` Usable ${usable_battery_level}% (disp. ${battery_level}%) - ${flow.get('rated_battery_range_km')} km\n    🦇 Consumo vampírico ${vampire}%`;\n  } else {\n    bat += ` Usable ${usable_battery_level}% (disp. ${battery_level}%) - ${flow.get('rated_battery_range_km')} km`;\n  }\n} else {\n  if (vampire > 0) {\n    bat += ` Disponible ${usable_battery_level}% - ${flow.get('rated_battery_range_km')} km\n    🦇 Consumo vampírico ${vampire}%`;\n  } else {\n    bat += ` Disponible ${usable_battery_level}% - ${flow.get('rated_battery_range_km')} km`;\n  }\n}\n\nif (kmBat > 0) {\n  km = `⚙️  ${Intl.NumberFormat('es-ES').format(parseInt(flow.get('odometer')))} km\n          ${kmBat.toFixed(2)} km des de la última carga`\n} else {\n  km = `⚙️  ${Intl.NumberFormat('es-ES').format(parseInt(flow.get('odometer')))} km`\n}\n\nif (geofence !== \"\" && geofence !== undefined) {\n  geo = `Está en <a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${geofence}</a>`;\n} else {\n  geo = `Está en <a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${adresa}</a>`;\n}\n\nif (flow.get('sentry_mode') === \"true\") {\n  sentry_mode = `🟢  Centinela activado`;\n} else {\n  sentry_mode = `⚫️  Centinela desactivado`;\n}\n\nmsg.topic = `*** Resumen general ***\n\n    💿  <a href=\"https://www.notateslaapp.com/software-updates/version/${flow.get('version')}/release-notes\">${flow.get('version')}</a> ${(flow.get('update_available') === 'true') ? `(disponible <a href=\"https://www.notateslaapp.com/software-updates/version/${flow.get('update_version')}/release-notes\"><i>${flow.get('update_version')}</i></a>)` : ''}\n    🚗  ${state}\n    ${km}\n    🔐  ${(flow.get('locked') === \"true\") ? 'Cerrado' : 'Abierto'}\n    ${bat}\n    🛞  Presión de las ruedas:\n              ${toFloat(flow.get('tpms_pressure_fl'), 3)} --- ${toFloat(flow.get('tpms_pressure_fr'), 3)}\n              ${toFloat(flow.get('tpms_pressure_rl'), 3)} --- ${toFloat(flow.get('tpms_pressure_rr'), 3)}\n    🌡️  Interior ${inside_temp}ºC\n    🌡️  Exterior ${outside_temp}ºC\n    🌎  ${geo}\n    ${sentry_mode}\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1860,
        "wires": [
            [
                "bb2d18693ea5e2de",
                "3c5684c999f51998",
                "5509f437dc0d69e8"
            ]
        ]
    },
    {
        "id": "615a78037a1fd42f",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "recharge summary",
        "func": "/* temporarly disable */\n//return;\n\nlet state = flow.get(\"state\");\nlet bat = '';\nlet battery_level = flow.get('battery_level');\nlet usable_battery_level = flow.get('usable_battery_level');\nlet energyAdd = flow.get(\"charge_energy_added\");\nlet energyUsed = flow.get(\"energyUsed\");\nlet efficiency = (energyAdd * 100 / energyUsed).toFixed(2);\nlet timeOfCharge = flow.get('timeOfCharge')\nlet maxPower = flow.get('maxPower');\nlet avgPower = flow.get('avgPower');\nlet start_soc = flow.get(\"startCBL\");;\nlet end_soc = flow.get(\"endCBL\");\nlet textTypeCharge = \"\";\n\nif (usable_battery_level !== battery_level) {\n    bat = `Bateria usable ${usable_battery_level}% (<i>${battery_level}%</i>) - ${flow.get('rated_battery_range_km')}km`;\n} else {\n    bat = `Bateria disponible ${usable_battery_level}% - ${flow.get('rated_battery_range_km')}km`;\n}\n\nif (state === \"charging\") {\n    // Remaining\n    let time_to_full = flow.get(\"time_to_full_charge\");\n    let remaining = time_to_full.split('.');\n    let minutes = Math.ceil(60 * Number(\".\" + remaining[1]));\n    let total_minutes = (remaining[0] * 60) + minutes;\n    let finish_date = Date.now() + (total_minutes * 60000);\n    let new_date = new Date(finish_date);\n    let str_new_date = new_date.toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' });\n    let start_date = new Date(flow.get('startCharge')).toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' });\n\n    let how_long = \"\";\n    if (remaining[0] > 0) {\n        how_long = `${remaining[0]}h ${minutes}m`;\n    } else {\n        how_long = `${minutes}m`;\n    }\n\n    let voltage = \"\";\n    let amps = \"\";\n    let chargeType = '';\n    if (parseInt(flow.get(\"charger_voltage\")) === 2) {\n        chargeType = `DC`;\n        flow.set(\"typeCharge\", 2);\n    } else {\n        chargeType = `AC ${(flow.get(\"charger_phases\") === \"1\") ? 'monofásica' : 'trifásica'}`;\n        flow.set(\"typeCharge\", 1);\n\n        voltage = `⚡️ Voltaje: ${flow.get(\"charger_voltage\")}V`;\n        amps = `⚡️ Intensidad: ${flow.get(\"charger_actual_current\")}A`;\n    }\n\n    msg.topic = `*** Resumen carga ***\n    \n        🔌  Cargando en ${chargeType} a ${Math.abs(flow.get(\"power\"))}kW\n        🪫  ${bat}\n        ✅ Inicio de la carga ${start_date}\n        🔋  Límite de carga ${flow.get(\"charge_limit_soc\")}%\n        ⌛️  Tiempo para finalizar carga: ${how_long} \n        ⏱  Hora de finalización carga: ${str_new_date}\n    `;\n\n    if (parseInt(flow.get(\"charger_voltage\")) !== 2) {\n        msg.topic += `    ${voltage}\n        ${amps}\n        🔋 ${energyAdd}kWh añadidos\n        `;\n    } else {\n        msg.topic += `    🔋 ${energyAdd}kWh añadidos\n        `;\n    }\n\n} else {\n\n    let typeCharge = flow.get(\"typeCharge\");\n    if (typeCharge === 1) {\n        if (flow.get(\"fases\") === \"1\") {\n            textTypeCharge = \"AC monofásica\";\n        } else {\n            textTypeCharge = \"AC trifásica\";\n        }\n    } else if (typeCharge === 2) {\n        textTypeCharge = \"DC\";\n    }\n\n    msg.topic = `*** Resumen carga ***\n    \n        🪫 ${bat}\n        🔋 Límite de carga ${flow.get(\"charge_limit_soc\")}%\n        🔌 Cable ${(flow.get(\"plugged_in\") === \"true\") ? \"conectado\" : \"no conectado\"}\n        🔋 Última carga:\n                \n            📈  Cargado del <b>${start_soc}%</b> al <b>${end_soc}%</b>\n            ⚡️  Añadidos <b>${energyAdd} kWh</b> \n                  Usados <b>${energyUsed} kWh</b> \n                  Eficiencia <b>${efficiency} %</b> \n            🔌  Añadidos con <b>${textTypeCharge} </b>\n            ⌛️  <b>${timeOfCharge}</b> \n            🦾  <b>${Math.round(avgPower)} kW</b> (max: <b>${Math.round(maxPower)} kW</b>)\n        \n    `;\n    flow.set(\"rechargeSumary\", msg.topic);\n\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "a689f3167542db90",
        "type": "comment",
        "z": "ba42b43a13e256f6",
        "name": "Bot autosave messages",
        "info": "",
        "x": 120,
        "y": 1820,
        "wires": []
    },
    {
        "id": "b23fdaf0a487f885",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Altitude",
        "func": "let altitude = flow.get('altitude') || [];\nlet elevation = flow.get('elevation');\n\nswitch (flow.get('state')) {\n    case \"driving\":\n        altitude.push(elevation);\n        flow.set('altitude', altitude);\n        break;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "5509f437dc0d69e8",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Get last message ID",
        "func": "let token = flow.get('telegram_token');\nlet chat_id = flow.get('telegram_chatId');\nlet message_id = flow.get(\"saveMessage\")+1;\nlet multimessage = flow.get('multiMessage');\n\nif (multimessage !== message_id){\n    var url = `https://api.telegram.org/bot${token}/deleteMessage?chat_id=${chat_id}&message_id=${multimessage}`\n    msg.url = url;\n    return msg;\n}else{\n    var url = `https://api.telegram.org/bot${token}/deleteMessage?chat_id=${chat_id}&message_id=${message_id}`\n    msg.url = url;\n    return msg;\n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1980,
        "wires": [
            [
                "793d43b5c9dff888"
            ]
        ]
    },
    {
        "id": "793d43b5c9dff888",
        "type": "http request",
        "z": "ba42b43a13e256f6",
        "name": "HTTP Request (POST)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1270,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "9b1ecca4836704d5",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "save_travel",
        "func": "let start = flow.get(\"dades_start\") || [];\nlet end = flow.get(\"dades_end\") || [];\nlet hSortida = new Date(start[0] * 1000).toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' })\nlet hArribada = (end[0] !== undefined) ? `(${new Date(end[0] * 1000).toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' })}):</b>` : \":</b>\"\nlet geo = '';\nlet geofence = flow.get('geofence');\nlet latitude = flow.get('latitude');\nlet longitude = flow.get('longitude');\nlet max_speed = flow.get('max_speed');\nlet avg_speed = flow.get('avg_speed').toFixed(0);\nlet vel = flow.get('vel') || [];\nlet max_temp = flow.get('maxTemp').toFixed(1);\nlet min_temp = flow.get('minTemp').toFixed(1);\nlet avg_temp = flow.get('avgTemp').toFixed(1);\nlet altitude = flow.get('altitude') || [];\nlet maxIn_temp = flow.get('maxInTemp').toFixed(1);\nlet minIn_temp = flow.get('minInTemp').toFixed(1);\nlet avgIn_temp = flow.get('avgInTemp').toFixed(1);\nlet onclimate = flow.get('onclimate');\nlet offclimate = flow.get('offclimate');\nlet climatetime = flow.get('climatetime');\nlet energyTravel = flow.get(\"energyTravel\");\n\nfunction site(geofence, latitude, longitude, adres) {\n    if (adres == undefined) {\n        return \"En camino\"\n    } else {\n        if (geofence !== \"\" && geofence !== undefined) {\n            return `<a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${geofence}</a>`;\n        } else {\n            return `<a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${adres}</a>`;\n        }\n    }\n}\n\nfunction kilometers(km_inici, km_final) {\n    if (km_final == undefined) {\n        let kmactual = flow.get('odometer');\n        return (kmactual - km_inici).toFixed(2)\n    } else {\n        return (km_final - km_inici).toFixed(2)\n    }\n}\n\nfunction diftemps(temp_final, temp_inici) {\n    if (temp_final !== undefined) {\n        var timeDifference = temp_final - temp_inici;\n        var differenceDate = new Date(timeDifference * 1000);\n        var diffHours = differenceDate.getUTCHours();\n        var diffMinutes = differenceDate.getUTCMinutes();\n        var diffSeconds = differenceDate.getUTCSeconds();\n\n        if (diffMinutes == 0) {\n            return diffSeconds + ' s';\n\n        } else if (diffHours == 0) {\n            return diffMinutes + ' m : ' + diffSeconds + ' s';\n        } else {\n            return diffHours + ' h : ' + diffMinutes + ' m : ' + diffSeconds + ' s';\n        }\n    } else {\n        let tempnow = Math.round(Date.now() / 1000);\n        var timeDifference = tempnow - temp_inici;\n        var differenceDate = new Date(timeDifference * 1000);\n        var diffHours = differenceDate.getUTCHours();\n        var diffMinutes = differenceDate.getUTCMinutes();\n        var diffSeconds = differenceDate.getUTCSeconds();\n\n        if (diffMinutes == 0) {\n            return diffSeconds + ' s';\n\n        } else if (diffHours == 0) {\n            return diffMinutes + ' m : ' + diffSeconds + ' s';\n        } else {\n            return diffHours + ' h : ' + diffMinutes + ' m : ' + diffSeconds + ' s';\n        }\n    }\n\n}\n\nfunction mode(arr) {\n    const mode = {};\n    let max = 0, count = 0;\n\n    for (let i = 0; i < arr.length; i++) {\n        const item = arr[i];\n\n        if (mode[item]) {\n            mode[item]++;\n        } else {\n            mode[item] = 1;\n        }\n\n        if (count < mode[item]) {\n            max = item;\n            count = mode[item];\n        }\n    }\n\n    return max;\n};\n\nfunction climateuse(starttimetravel, endtimetravel, timeAc, onclima) {\n    let hores_ac = 0;\n    let minuts_ac = 0;\n    let seg_ac = 0;\n\n    let hores_v = 0;\n    let minuts_v = 0;\n    let seg_v = 0;\n\n    if (timeAc == 0 && onclima == 0) {\n        return \"A/C: Apagdo\"\n    } else if (timeAc > 0 && onclima > 0) {\n\n        let time = Date.now();\n        let diftime = timeAc + (time - onclima);\n        let lasttime = new Date(diftime);\n        hores_ac += lasttime.getUTCHours();\n        minuts_ac += lasttime.getUTCMinutes();\n        seg_ac += lasttime.getUTCSeconds();\n\n    } else if (onclima > 0) {\n\n        let time3 = Date.now();\n        let diftime = time3 - onclima;\n        let lasttime = new Date(diftime);\n        hores_ac += lasttime.getUTCHours();\n        minuts_ac += lasttime.getUTCMinutes();\n        seg_ac += lasttime.getUTCSeconds();\n\n    } else if (timeAc > 0) {\n\n        let time = new Date(timeAc);\n        hores_ac += time.getUTCHours();\n        minuts_ac += time.getUTCMinutes();\n        seg_ac += time.getUTCSeconds();\n    }\n\n    if (endtimetravel !== undefined) {\n        var timeDifference = endtimetravel - starttimetravel;\n        var differenceDate = new Date(timeDifference * 1000);\n        hores_v = differenceDate.getUTCHours();\n        minuts_v = differenceDate.getUTCMinutes();\n        seg_v = differenceDate.getUTCSeconds();\n    } else {\n        let tempnow = Math.round(Date.now() / 1000);\n        var timeDifference = tempnow - starttimetravel;\n        var differenceDate = new Date(timeDifference * 1000);\n        hores_v = differenceDate.getUTCHours();\n        minuts_v = differenceDate.getUTCMinutes();\n        seg_v = differenceDate.getUTCSeconds();\n    }\n\n    let htm = hores_ac * 60;\n    let stm = seg_ac / 60;\n    let totalmin = minuts_ac + htm + stm;\n    let htm_v = hores_v * 60;\n    let stm_v = seg_v / 60;\n    let totalmin_v = minuts_v + htm_v + stm_v;\n    let useAC = Math.round(totalmin * 100 / totalmin_v);\n\n    if (hores_ac == 0 && minuts_ac == 0) {\n        return `A/C: ${seg_ac} s (${useAC}%)`\n    } else if (hores_ac == 0) {\n        return `A/C: ${minuts_ac} m : ${seg_ac} s (${useAC}%)`\n    } else {\n        return `A/C: ${hores_ac} h : ${minuts_ac} m : ${seg_ac} s (${useAC}%)`\n    }\n}\n\nfunction battery(end_lvl, start_lvl, energyUsed, km_inici, km_final) {\n    if (end_lvl == undefined) {\n        let lvl_now = flow.get('battery_level');\n        return `Inicial: ${start_lvl}% \n                Actual: ${lvl_now}%  \n                Utilizada: ${(lvl_now - start_lvl) * -1}% `\n    } else {\n        if (energyUsed != -100) {\n            let consum = (energyUsed / (km_final - km_inici) * 1000).toFixed(0);\n            return `Inicial: ${start_lvl}% \n                Final: ${end_lvl}% \n                Utilitzada: ${(end_lvl - start_lvl) * -1}%\n                Energía usada: ${energyUsed} kWh\n                Consumo: ${consum} Wh/km`\n        } else {\n            return `Inicial: ${start_lvl}% \n                Final: ${end_lvl}% \n                Utilizada: ${(end_lvl - start_lvl) * -1}%`\n        }\n    }\n}\n\nfunction desnivell(array) {\n    var desnivell_positiu = 0;\n    var desnivell_negatiu = 0;\n\n    for (var i = 1; i < array.length; i++) {\n        var diferencial = array[i] - array[i - 1];\n        if (diferencial > 0) {\n            desnivell_positiu += diferencial;\n        }\n        else {\n            desnivell_negatiu -= diferencial;\n        }\n    }\n    return `Positivo: ${desnivell_positiu} m\n                Negativo: ${desnivell_negatiu * -1} m\n                Acumulado: ${desnivell_positiu + desnivell_negatiu} m`\n}\n\nmsg.topic = `*** <a href=\"http://` + `${flow.get(\"iP\")}:${flow.get(\"portGrafana\")}/d/zm7wN6Zgz/drive-details?from=${flow.get('startDateDrive')}&to=${flow.get('endDateDrive')}&var-car_id=1&var-drive_id=${flow.get('idDrive')}&orgId=1\">Resumen último viaje</a> ***\n    \n    ➡️  <b>Salida (${hSortida}): </b>\n                ${site(start[1], start[2], start[3], start[4])}\n    🔚  <b>Llegada ${hArribada}\n                ${site(end[1], end[2], end[3], end[4])}\n    🛣️  <b>km:</b> \n                ${kilometers(start[5], end[5])} km\n    ⏱️  <b>Tiempo:</b> \n                ${diftemps(end[0], start[0])}\n    🏎️  <b>Velocidad:</b>\n                Media: ${avg_speed} km/h\n                Máxima: ${max_speed} km/h  \n                Moda: ${mode(vel)} km/h       \n    🔋  <b>Batería:</b>\n                ${battery(end[6], start[6], energyTravel, start[5], end[5])}\n    🏔  <b>Desnivel:</b>\n                ${desnivell(altitude)}\n    🌡️ <b>Temperatura:</b>\n                             <u><i>Exterior</i>           <i>Interior</i>  </u>\n                <u><i>Máxima</i>     ${max_temp} °C           ${maxIn_temp} °C</u>\n                <u><i>Mínima</i>      ${min_temp} °C           ${minIn_temp} °C</u>\n                <u><i>Media</i>         ${avg_temp} °C           ${avgIn_temp} °C</u>\n                ${climateuse(start[0], end[0], climatetime, onclimate)}\n        `;\n\nmsg.payload.content = 'viatge';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1900,
        "wires": [
            [
                "bb2d18693ea5e2de",
                "1e43c7fd42d47c19",
                "5509f437dc0d69e8"
            ]
        ]
    },
    {
        "id": "660bb59b8a6fcaa6",
        "type": "switch",
        "z": "ba42b43a13e256f6",
        "name": "",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "autosave_global",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "autosave_travel",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "autosave_charge",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "autosave_recharge",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "save_lastsix",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 370,
        "y": 1880,
        "wires": [
            [
                "732926cd333efdfa"
            ],
            [
                "54c98f652ebaee23"
            ],
            [
                "615a78037a1fd42f"
            ],
            [
                "01b929d85c6fc328",
                "2003e5011af1cdea",
                "615a78037a1fd42f",
                "5dae713bac2de2ec"
            ],
            [
                "4d8c722f6553e8c6"
            ]
        ]
    },
    {
        "id": "3c5684c999f51998",
        "type": "delay",
        "z": "ba42b43a13e256f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 510,
        "y": 1680,
        "wires": [
            [
                "ef68958148bbfe9d"
            ]
        ]
    },
    {
        "id": "1e43c7fd42d47c19",
        "type": "delay",
        "z": "ba42b43a13e256f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 510,
        "y": 1720,
        "wires": [
            [
                "76844c6cc293b346"
            ]
        ]
    },
    {
        "id": "519df64d1989481d",
        "type": "delay",
        "z": "ba42b43a13e256f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 510,
        "y": 1760,
        "wires": [
            [
                "50754b32966ce3ea"
            ]
        ]
    },
    {
        "id": "3957b35ffe7e38c4",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "save multi messageId",
        "func": "\nflow.set('multiMessage', msg.payload.content.message_id);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "229f2914771dda3d",
        "type": "inject",
        "z": "ba42b43a13e256f6",
        "name": "",
        "props": [],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 840,
        "wires": [
            [
                "b23fdaf0a487f885"
            ]
        ]
    },
    {
        "id": "17b599ba46ddce46",
        "type": "delay",
        "z": "ba42b43a13e256f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 170,
        "y": 1880,
        "wires": [
            [
                "9fe4cf975c6f188b",
                "f437cffa37d19a73"
            ]
        ]
    },
    {
        "id": "ef68958148bbfe9d",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "global summary",
        "func": "/* temporarly disable */\n//return;\n\n\nlet bat = '';\nlet geo = '';\nlet state = '';\nlet km = '';\nlet kmBat = flow.get('odometer') - flow.get('kmCharge');\nlet inside_temp = flow.get('inside_temp');\nlet outside_temp = flow.get('outside_temp');\nlet battery_level = flow.get('battery_level');\nlet usable_battery_level = flow.get('usable_battery_level');\nlet vampire = flow.get(\"vampireDrain\");\nlet geofence = flow.get('geofence');\nlet latitude = flow.get('latitude');\nlet longitude = flow.get('longitude');\nlet last_status_change = new Date(flow.get('since'));\nlet sentry_mode = '';\nlet dades_end = flow.get(\"dades_end\") || [];\nlet dia = new Date().toLocaleDateString();\nlet hora = new Date().toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false, hour: '2-digit', minute: '2-digit' });\nlet adresa = dades_end[4];\n\nfunction calc_difference() {\n  let diffInMilliSeconds = Math.abs(new Date().getTime() - new Date(flow.get('since')).getTime()) / 1000;\n\n  // calculate days\n  const days = Math.floor(diffInMilliSeconds / 86400);\n  diffInMilliSeconds -= days * 86400;\n\n  // calculate hours\n  const hours = Math.floor(diffInMilliSeconds / 3600) % 24;\n  diffInMilliSeconds -= hours * 3600;\n\n  // calculate minutes\n  const minutes = Math.floor(diffInMilliSeconds / 60) % 60;\n  diffInMilliSeconds -= minutes * 60;\n\n  let difference = '';\n  if (days > 0) {\n    difference += `${days}d `;\n  }\n  if (hours > 0) {\n    difference += `${hours}h `;\n  }\n\n  difference += `${minutes}m`;\n\n  return difference;\n\n}\n\nfunction toFloat(num, precision) {\n  return parseFloat(num).toFixed(precision);\n}\n\n/**\n* @param {number} percent\n*/\nfunction getBatteryIcon(percent) {\n  let ico = `🔋 `;\n  if (percent <= 40) {\n    ico = `🪫 `;\n  }\n  return ico;\n}\n\nswitch (flow.get('state')) {\n  case \"online\":\n    state = 'Despierto'\n    break;\n  case \"asleep\":\n    state = `Dormido des de ${calc_difference()}`\n    break;\n  case \"suspended\":\n    state = `Durmiéndose des de ${calc_difference()}`\n    break;\n  case \"charging\":\n    state = 'Cargando'\n    break;\n  case \"offline\":\n    state = 'Desconectado'\n    break;\n  case \"start\":\n    state = 'Arrancando'\n    break;\n  case \"driving\":\n    state = 'Conduciendo'\n    break;\n  case \"updating\":\n    state = `Actualizando durante ${calc_difference()}`;\n    break;\n  default:\n    state = 'Desconocido'\n}\n\nbat = getBatteryIcon(usable_battery_level);\nif (usable_battery_level !== battery_level) {\n  if (vampire > 0) {\n    bat += ` Usable ${usable_battery_level}% (disp. ${battery_level}%) - ${flow.get('rated_battery_range_km')} km\n    🦇 Consumo vampírico ${vampire}%`;\n  } else {\n    bat += ` Usable ${usable_battery_level}% (disp. ${battery_level}%) - ${flow.get('rated_battery_range_km')} km`;\n  }\n} else {\n  if (vampire > 0) {\n    bat += ` Disponible ${usable_battery_level}% - ${flow.get('rated_battery_range_km')} km\n    🦇 Consumo vampírico ${vampire}%`;\n  } else {\n    bat += ` Disponible ${usable_battery_level}% - ${flow.get('rated_battery_range_km')} km`;\n  }\n}\n\nif(kmBat > 0){\n  km = `⚙️  ${Intl.NumberFormat('es-ES').format(parseInt(flow.get('odometer')))} km\n          ${kmBat.toFixed(2)} km des de la última carga`\n}else{\n  km = `⚙️  ${Intl.NumberFormat('es-ES').format(parseInt(flow.get('odometer')))} km`\n}\n\nif (geofence !== \"\" && geofence !== undefined) {\n  geo = `Está en <a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${geofence}</a>`;\n} else {\n  geo = `Está en <a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${adresa}</a>`;\n}\n\nif (flow.get('sentry_mode') === \"true\") {\n  sentry_mode = `🟢  Centinela activado`;\n} else {\n  sentry_mode = `⚫️  Centinela desactivado`;\n}\n\nmsg.topic = `*** Resumen general ***\n\n    💿  <a href=\"https://www.notateslaapp.com/software-updates/version/${flow.get('version')}/release-notes\">${flow.get('version')}</a> ${(flow.get('update_available') === 'true') ? `(disponible <a href=\"https://www.notateslaapp.com/software-updates/version/${flow.get('update_version')}/release-notes\"><i>${flow.get('update_version')}</i></a>)` : ''}\n    🚗  ${state}\n    ${km}\n    🔐  ${(flow.get('locked') === \"true\") ? 'Cerrado' : 'Abierto'}\n    ${bat}\n    🛞  Presión de las ruedas:\n              ${toFloat(flow.get('tpms_pressure_fl'), 3)} --- ${toFloat(flow.get('tpms_pressure_fr'), 3)}\n              ${toFloat(flow.get('tpms_pressure_rl'), 3)} --- ${toFloat(flow.get('tpms_pressure_rr'), 3)}\n    🌡️  Interior ${inside_temp}ºC\n    🌡️  Exterior ${outside_temp}ºC\n    🌎  ${geo}\n    ${sentry_mode}\n`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1360,
        "wires": [
            [
                "6e18c5fd14cc5ad5"
            ]
        ]
    },
    {
        "id": "01b929d85c6fc328",
        "type": "delay",
        "z": "ba42b43a13e256f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 1980,
        "wires": [
            [
                "bfea1d50670af6a4"
            ]
        ]
    },
    {
        "id": "3293fdd6186c3df5",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Get query for charge sumary",
        "func": "let oldState = flow.get(\"oldState\");\n\nif (oldState == \"charging\"){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1980,
        "y": 1760,
        "wires": [
            [
                "5dae713bac2de2ec",
                "10b1992e71bb610d",
                "aae80a57f920c3c1",
                "058e4f39f0e1b431"
            ]
        ]
    },
    {
        "id": "5dae713bac2de2ec",
        "type": "postgresql",
        "z": "ba42b43a13e256f6",
        "name": "Query energy used",
        "query": "SELECT charge_energy_used FROM public.charging_processes\nORDER BY id DESC\nLIMIT 1",
        "postgreSQLConfig": "07193cee98e5185b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2230,
        "y": 1580,
        "wires": [
            [
                "48a49741ea806788"
            ]
        ]
    },
    {
        "id": "48a49741ea806788",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "energy used",
        "func": "flow.set('energyUsed', msg.payload[0].charge_energy_used)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2450,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "96bf9032aae925fe",
        "type": "postgresql",
        "z": "ba42b43a13e256f6",
        "name": "Start date drive",
        "query": "SELECT start_date from public.drives \nORDER BY id DESC \nLIMIT 1;",
        "postgreSQLConfig": "07193cee98e5185b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2220,
        "y": 1880,
        "wires": [
            [
                "bed24c1c42ea3e56"
            ]
        ]
    },
    {
        "id": "fa02a0253402f656",
        "type": "comment",
        "z": "ba42b43a13e256f6",
        "name": "Querys Teslamate",
        "info": "",
        "x": 1950,
        "y": 1540,
        "wires": []
    },
    {
        "id": "d2bd651dba99c1c0",
        "type": "postgresql",
        "z": "ba42b43a13e256f6",
        "name": "End date drive",
        "query": "SELECT end_date from public.drives \nORDER BY id DESC \nLIMIT 1;",
        "postgreSQLConfig": "07193cee98e5185b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2220,
        "y": 1940,
        "wires": [
            [
                "e5f7a31a0dadff46"
            ]
        ]
    },
    {
        "id": "3373cbbcd4349509",
        "type": "postgresql",
        "z": "ba42b43a13e256f6",
        "name": "id last drive",
        "query": "SELECT id from public.drives \nORDER BY id DESC \nLIMIT 1;",
        "postgreSQLConfig": "07193cee98e5185b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2210,
        "y": 1820,
        "wires": [
            [
                "8dd89005bfd766c0"
            ]
        ]
    },
    {
        "id": "8dd89005bfd766c0",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "id drive",
        "func": "flow.set('idDrive', msg.payload[0].id);\nmsg.payload = msg.payload[0].id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2440,
        "y": 1820,
        "wires": [
            [
                "07582854b2f7de2e"
            ]
        ]
    },
    {
        "id": "bed24c1c42ea3e56",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "start date drive",
        "func": "flow.set('startDateDrive', msg.payload[0].start_date.getTime() + 7200000)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2460,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "e5f7a31a0dadff46",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "end datedrive",
        "func": "flow.set('endDateDrive', msg.payload[0].end_date.getTime() + 7200000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2460,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "e2d007ff98ba284b",
        "type": "link in",
        "z": "ba42b43a13e256f6",
        "name": "link in 1",
        "links": [
            "7c120b7c75acf73c"
        ],
        "x": 1755,
        "y": 1820,
        "wires": [
            [
                "7e2447903f23c06f"
            ]
        ]
    },
    {
        "id": "7e2447903f23c06f",
        "type": "delay",
        "z": "ba42b43a13e256f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1870,
        "y": 1820,
        "wires": [
            [
                "3293fdd6186c3df5",
                "655f73d9b783bd12"
            ]
        ]
    },
    {
        "id": "655f73d9b783bd12",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Get query for travel sumary",
        "func": "let oldState = flow.get(\"oldState\");\n\nif (oldState == \"driving\"){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1980,
        "y": 1880,
        "wires": [
            [
                "3373cbbcd4349509",
                "96bf9032aae925fe",
                "d2bd651dba99c1c0"
            ]
        ]
    },
    {
        "id": "aae80a57f920c3c1",
        "type": "postgresql",
        "z": "ba42b43a13e256f6",
        "name": "start Date charge",
        "query": "SELECT start_date FROM public.charging_processes\nORDER BY id DESC\nLIMIT 1",
        "postgreSQLConfig": "07193cee98e5185b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2230,
        "y": 1700,
        "wires": [
            [
                "6a51a864ff1ccd48"
            ]
        ]
    },
    {
        "id": "058e4f39f0e1b431",
        "type": "postgresql",
        "z": "ba42b43a13e256f6",
        "name": "end Date Charge",
        "query": "SELECT end_date FROM public.charging_processes\nORDER BY id DESC\nLIMIT 1",
        "postgreSQLConfig": "07193cee98e5185b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2230,
        "y": 1760,
        "wires": [
            [
                "1804fe2f7bad441c"
            ]
        ]
    },
    {
        "id": "10b1992e71bb610d",
        "type": "postgresql",
        "z": "ba42b43a13e256f6",
        "name": "id charge",
        "query": "SELECT id FROM public.charging_processes\nORDER BY id DESC\nLIMIT 1",
        "postgreSQLConfig": "07193cee98e5185b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2200,
        "y": 1640,
        "wires": [
            [
                "6743019bcf004ae3"
            ]
        ]
    },
    {
        "id": "6743019bcf004ae3",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "id charge",
        "func": "flow.set('idCharge', msg.payload[0].id)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2440,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "6a51a864ff1ccd48",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "start date charge",
        "func": "flow.set('startDateCharge', msg.payload[0].start_date.getTime() + 7200000)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2470,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "1804fe2f7bad441c",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "end date charge",
        "func": "flow.set('endDateCharge', msg.payload[0].end_date.getTime() + 7200000)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2460,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "2003e5011af1cdea",
        "type": "delay",
        "z": "ba42b43a13e256f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 1940,
        "wires": [
            [
                "615a78037a1fd42f"
            ]
        ]
    },
    {
        "id": "07582854b2f7de2e",
        "type": "postgresql",
        "z": "ba42b43a13e256f6",
        "name": "Energy travel",
        "query": "SELECT (NULLIF(GREATEST(start_rated_range_km - end_rated_range_km, 0), 0) * car.efficiency)\nFROM public.drives d\nJOIN cars car ON car.id = car_id\nWHERE d.id = {{{msg.payload}}};",
        "postgreSQLConfig": "07193cee98e5185b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2650,
        "y": 1820,
        "wires": [
            [
                "cb8addf907f52de0"
            ]
        ]
    },
    {
        "id": "cb8addf907f52de0",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "energy travel",
        "func": "try{\n    flow.set('energyTravel', msg.payload[0][\"?column?\"].toFixed(2));\n}catch (err){\n    flow.set('energyTravel', -100); \n}\nmsg.payload = flow.get(\"energyTravel\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2830,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "54c98f652ebaee23",
        "type": "delay",
        "z": "ba42b43a13e256f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 520,
        "y": 1900,
        "wires": [
            [
                "9b1ecca4836704d5"
            ]
        ]
    },
    {
        "id": "c0c5b3cbf066f733",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Last six travels",
        "func": "let start = flow.get(\"dades_start\") || [];\nlet end = flow.get(\"dades_end\") || [];\nlet diaSortida = new Date(start[0] * 1000).toLocaleDateString();\nvar lastsixMessages = flow.get(\"lastsixMessages\") || [];;\n\nfunction site(geofence, latitude, longitude, adres) {\n    if (adres == undefined) {\n        return \"En camino\"\n    } else {\n        if (geofence !== \"\" && geofence !== undefined) {\n            return `<a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${geofence}</a>`;\n        } else {\n            return `<a href=\"https://maps.google.com/maps?q=${latitude},${longitude}\">${adres}</a>`;\n        }\n    }\n}\n\n// Esta función se ejecutará cada vez que llegue un nuevo mensaje desde Telegram\nfunction storeLastsixMessages(msg) {\n    // Crear un objeto que represente el mensaje actual\n    var messageObject = {\n        km: (end[5] - start[5]).toFixed(0),\n        content: msg.topic\n    };\n\n    // Agregar el nuevo objeto a la matriz\n    lastsixMessages.push(messageObject);\n\n    // Limitar el tamaño de la matriz a 5 elementos (los últimos 5 mensajes)\n    if (lastsixMessages.length > 6) {\n        lastsixMessages.shift(); // Eliminar el mensaje más antiguo (el primero de la matriz)\n    }\n}\n\nstoreLastsixMessages(msg)\n\n\n// Enviar la matriz actualizada a través del flujo de salida\nmsg.payload = lastsixMessages;\n\nflow.set(\"lastsixMessages\", lastsixMessages);\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "9d3e40a7a3705821",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Selecció últims 6",
        "func": "\nmsg.topic = `<b>ÚLTIMOS SEIS VIAJES</b>`;\n    \nmsg.payload.content = 'sis';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1500,
        "wires": [
            [
                "6e18c5fd14cc5ad5"
            ]
        ]
    },
    {
        "id": "3925b0c1333c3890",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Visualització últims viatges",
        "func": "let lastsixMessages = flow.get(\"lastsixMessages\") || [];\nlet viatge = msg.payload.content.split(\"_\");\nlet numViatge = viatge[1] - 1;\n\nmsg.topic = `<b>Viaje ${viatge[1]}</b>\n${lastsixMessages[numViatge].content}`;\n\nmsg.payload.content = 'sis';\n\nflow.set(\"viatge\", viatge[1]);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1540,
        "wires": [
            [
                "6e18c5fd14cc5ad5"
            ]
        ]
    },
    {
        "id": "7e83e06e4048acc6",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "save_travel",
        "func": "let lastsixMessages = flow.get(\"lastsixMessages\") || [];\nlet viatge = flow.get(\"viatge\");\n\nmsg.topic = `${lastsixMessages[viatge-1].content}`;\n\nmsg.payload.content = `Travel_${viatge}`;\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1580,
        "wires": [
            [
                "bb2d18693ea5e2de",
                "1092d92d61a70716"
            ]
        ]
    },
    {
        "id": "1092d92d61a70716",
        "type": "delay",
        "z": "ba42b43a13e256f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 710,
        "y": 1580,
        "wires": [
            [
                "3925b0c1333c3890"
            ]
        ]
    },
    {
        "id": "4d8c722f6553e8c6",
        "type": "delay",
        "z": "ba42b43a13e256f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 520,
        "y": 1860,
        "wires": [
            [
                "dd88d8e3d16d9f72"
            ]
        ]
    },
    {
        "id": "219cd44d10eeb27d",
        "type": "function",
        "z": "ba42b43a13e256f6",
        "name": "Save orders 6",
        "func": "let start = flow.get(\"dades_start\") || [];\nlet end = flow.get(\"dades_end\") || [];\nlet currentState = flow.get(\"currentState\");\nlet oldState = flow.get(\"oldState\");\nlet km = end[5] - start[5];\n\nif (oldState == \"driving\" && km >= flow.get(\"distLastSix\")) {\n    msg.payload = {}\n    msg.payload.content = 'save_lastsix';\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1960,
        "wires": [
            [
                "660bb59b8a6fcaa6"
            ]
        ]
    },
    {
        "id": "f437cffa37d19a73",
        "type": "delay",
        "z": "ba42b43a13e256f6",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 110,
        "y": 1960,
        "wires": [
            [
                "219cd44d10eeb27d"
            ]
        ]
    },
    {
        "id": "1eba02042b5194f4",
        "type": "telegram bot",
        "z": "ba42b43a13e256f6",
        "botname": "pmb_tesla_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false,
        "info": "159696647614"
    },
    {
        "id": "acbce132.6eef4",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "192.168.1.98",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "07193cee98e5185b",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "192.168.1.98",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "teslamate",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "teslamate",
        "userFieldType": "str",
        "password": "ferran1993",
        "passwordFieldType": "str"
    }
]